.title-underline{

  margin-bottom: 40px;
  position: relative;

  &:after{
    content: '';
    position: absolute;
    width:110px;
    height: 1px;
    background-color: #C4CDD5;
    left:0px;
    bottom:-20px;
  }

  &.center{
    &:after{
      left:50%;
      margin-left: -55px;
    }
  }

}

.associate-banner {

  position: relative;
  background-color: #DBE0EB;

  @media (min-width: 960px) {
    padding: 6em 0;
  }

  @media (min-width: 960px) {

    &:after{
      content: '';
      width:50%;
      height: 100%;
      position: absolute;
      right:0px;
      top:0px;
      bottom:0px;
      background-image: url('../images/associates/banner.jpg');
      background-size: cover;
      background-repeat: no-repeat;
    }

  }

  .content__col{
    width:100%;
    padding:2rem 0px;

    @media (min-width: 960px) {
      width:50%;
      max-width: 550px;
    }

    .content__title, p{
      text-align: left;
    }

    .button--orange{
      float: left;
      width: 207px;
      height: 60px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      font-family: Poppins;
      font-size: 17px;
      font-weight: bold;
      line-height: 36px;
      text-align: center;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      border-radius: 5px;
      color: #ffffff;
      border:1px solid #C87419;
      background-color: #F89A35;
      cursor: pointer;

      &:hover{
        background-color:#C87419;
      }
    }
  }

  &__image{
    display: block;
    @media (min-width: 960px) {
      display: none;
    }
    img{
      width:100%;
      height: auto;
      margin:0px;
      padding:0px;
    }
  }

}

.associate-benefits{
  background-color: #5C626F;
  padding: 2em 0;
  text-align: left;

  .content__col:first-of-type{
    border-left: none;
  }

  .content__col{

    width:100%;
    float: left;
    color:white;
    box-sizing: border-box;
    padding:0px 15px;
    min-height: 60px;
    margin-bottom: 20px;

    img{
      float: left;
      width: 30%;
      margin:5px 0px 0px 0px;
      padding:0px;
      height: auto;
      display: inline-block;
    }

    span{
      float: left;
      width: 70%;
      font-size: 13px;
      padding-left: 10px;
      font-weight: bold;
      text-align: left;
      display: inline-block;
    }

    @media (min-width: 650px) {
      width:50%;
      margin-bottom: 20px;
    }

    @media (min-width: 960px) {
      width:25%;
      border-left: 1px solid white;
    }

  }
}

.associate-content{

  background-color: white;

  &__unlimited-reg{
    border:1px solid #E0E0E0;
    position: relative;

    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(251,251,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(251,251,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fbfbfb',GradientType=0 ); /* IE6-9 */

    margin:30px 0px;
    padding:30px;
    border-radius: 5px;

    h4{
      color:#454F5B;
      font-size: 13px;
      font-weight: bold;
      margin-bottom: 15px;
      line-height: 25px;
    }

    p{
      font-size: 13px;
    }

    a{
      color:#1E89D3;
      font-size: 12px;
      font-weight: bold;
      text-decoration: underline !important;
      border:none;

      &:hover{
        color:#1E89D3;
        text-decoration: none;
        border:none;
      }

    }

    &__icon{
      position: absolute;
      left:-0px;
      width:30px;
      height: 30px;
      top:5%;
      margin-top: -25px;
      border:1px solid #E0E0E0;
      background-color: white;
      border-radius: 25px;

      @media (min-width: 770px) {
        width:50px;
        height: 50px;
        top:50%;
        left:-25px;
      }

      img{
        padding:0px;
        margin:9px 10%;
        width:80%;
        height: auto;

        @media (min-width: 770px) {
          margin:16px 10%;
        }
      }
    }

  }

  .form__submit{

    margin-top:10px;

    .button--orange{
      float: left;
      width: 207px;
      height: 60px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      font-family: Poppins;
      font-size: 17px;
      font-weight: bold;
      line-height: 16px;
      text-align: center;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      border-radius: 5px;
      color: #ffffff;
      border:1px solid #C87419;
      background-color: #F89A35;
      cursor: pointer;
      margin:0px;

      &:hover{
        background-color:#C87419;
      }
    }
  }

  .content__col{

    &.left{
      width:100%;
      text-align: left;
      padding-left: 0px;
      padding-right: 0rem;
      padding-top: 0px;

      @media (min-width: 960px) {
        padding-right: 4rem;
        width:40%;
        padding-right: 2rem;
      }
    }

    &.right{
      width:100%;
      text-align: left;
      padding:0px;

      @media (min-width: 960px) {
        width:60%;
      }
    }

    .content__title{

      text-align: left;
      color:#454F5B;
      position: relative;

      .u-text-center{
        text-align: left;
      }
    }

    h3{
      font-weight: 600;
      color:#454F5B;
      line-height: 35px;
      margin-bottom:50px;
      font-size: 19px;

      &.title-underline{
        font-size: 25px;
      }
    }

    ul{
      padding-left: 0px;
      list-style-type: none;
      position: relative;

      li{
        margin-bottom: 15px;
        padding-left: 30px;
        position: relative;

        &:before {
          font-family: 'FontAwesome';
          content: '\F00C';
          font-size: 20px;
          color: #58B573;
          position: absolute;
          left: 0px;
          top: 3px;
          font-weight: 500;
        }

      }

    }

    .box{
      width:100%;
      margin: 0px;
      background-color: #FAFAFA;
      padding:0px;
      border:1px solid #DFE3E8;
      border-radius: 5px;

      @media (min-width: 960px) {
        width:95%;
      }

      &__header{
        min-height: 65px;
        height: auto;
        background: white;
        text-align: center;
        border-bottom: 1px solid #DFE3E8;

        p{
          color:black;
          font-size: 14px;
          font-weight: 600;
          line-height: 35px;
          margin:0px;
        }

      }

      form{

        .form__group{
          position: relative;

          &--half{

            width:100%;

            @media (min-width: 770px) {
              width:49%;
            }

          }

          &.manual-hide{
            display: none;

            &.active{
              display: block;
            }
          }

          .manual{
            font-size: 10px;
            color:#1E89D3;
            margin:5px 0px 10px 10px;
            font-weight: bold;
            border:none;

            &:hover{
              color:#1E89D3;
              text-decoration: underline !important;
              border:none;
            }
          }

        }

        .form__container{
          padding:1em;
          width:100%;

          &.white{
            background-color: white;
            border-top:1px solid #E0E0E0;

            h5{
              color:black;
              font-size: 16px;
              border:none;
              font-weight: 600;
            }

            p{
              color:#7A8086;
              font-size:13px;
              font-weight: 600;
            }
          }
        }

        .form__submit{
          float: right;
          width:auto;
          display: inline-block;
        }

        .form__input{
          &.no-margin{
            margin:0px;
          }
        }

        h3{
          color:#787E84;
          font-size: 16px;
          margin-bottom:5px;
        }

        .divider{
          margin-bottom: 1.5rem;
        }

        label, .form__label{
          color:#6C6C6C;
          font-size: 12px;
          text-transform: inherit;
        }

        .form__group__checkbox{
          margin-bottom:1em;
          /* Hide the browser's default checkbox */

          .container {
            display: block;
            position: relative;
            padding-left: 0px;
            margin-top: 12px;
            cursor: pointer;
            font-size:16px;
            font-weight: 500;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }

          .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }

          /* Create a custom checkbox */
          .checkmark {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #fff;
            border:2px solid #C4CDD5;
          }

          /* On mouse-over, add a grey background color */
          .container:hover input ~ .checkmark {
            background-color: #ccc;
          }

          /* When the checkbox is checked, add a blue background */
          .container input:checked ~ .checkmark {
            background-color: $orange;
            border-color: $orange;
          }

          /* Create the checkmark/indicator (hidden when not checked) */
          .checkmark:after {
            content: "";
            position: absolute;
            display: none;
          }

          /* Show the checkmark when checked */
          .container input:checked ~ .checkmark:after {
            display: block;
          }

          /* Style the checkmark/indicator */
          .container .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
                  }

      }

    }

  }

}

.associate-how{
  background-color: #FAFAFA;

  &.blue{
    background-color: #E9ECF3;
  }

  h2{
    color:#454F5B;
  }

  .content__col{
    position: relative;

    &.middle{
      float: left;
      width:100%;
      padding-bottom: 0px;
    }

    &__block{
      background-color: white;
      box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
      text-align: center;
      padding:42px 23px;
      font-size: 14px;
      color:#6A7C92;

      @media (min-width: 960px) {
        min-height: 300px;
      }

      h4{
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 15px;
        color:#47495A;
        text-transform: uppercase;
      }
    }

    @media (min-width: 770px) {

      &__arrow{
        width:50px;
        z-index: 2;
        height: 50px;
        position: absolute;
        top:50%;
        right:-25px;
        margin-top: -25px;
        background-image: url('../images/associates/arrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

    }

  }

  .button--orange{
    width: 207px;
    height: 60px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-family: Poppins;
    font-size: 17px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    border-radius: 5px;
    color: #ffffff;
    border: 1px solid #C87419;
    background-color: #F89A35;
    cursor: pointer;
    margin: 0px auto 0px;
    display: table;

    &:hover{
      background-color:#C87419;
    }
  }

  &__testimonial{
    float: left;
    width:100%;
    padding:30px 0px 0px;

    h3{
      max-width: 640px;
      color:#454F5B;
      font-size: 22px;
      text-align: center;
      display: table;
      margin:0px auto 20px;
      font-weight: 600;
      line-height: 30px;
    }

    p{
      width:100%;
      text-align: center;
      margin:0px;
      span{
        color:$orange;
        width: 100%;
      }
    }
  }

}

.associate-help{

  background-color:white;

  &__image-title{
    max-width: 42px;
    display: table;
    margin:0px auto 20px;
  }

  h2{
    color:#454F5B;
    font-weight: 700;
  }

  h2,p,a{
    text-align: center;
  }

  a{
    color:#007ACE;
    font-size: 18px;
    display: table;
    margin:0px auto;
    border:none;

    &:hover{
      color:#007ACE;
      border:none;
      text-decoration: underline !important;
    }
  }

  .content__container{
    max-width:570px;
    display: table;
    margin:0px auto;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  opacity: 1;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  transform:none;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  position: relative;
  max-width: 840px;

  p{
    margin-bottom: 10px;
  }

  img{
    width:100%;
    margin-top: 30px;
  }
}

.modal-content__header{
  background-color: #FFFFFF;
  border-bottom: 1px solid #E0E0E0;
  width: 100%;
  height: auto;
  padding:30px 0px 30px;

  &__icon{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    border: 1px solid #E0E0E0;
    background-color: white;
    border-radius: 25px;

    img{
      padding:0px;
      margin:16px 10%;
      width:80%;
      height: auto;
    }
  }

  h3{
    font-weight: bold;
    color: #454F5B;
    text-align: center;
    line-height: 30px;
    padding-top: 10px;
    font-size: 22px;
  }
}

.modal-content__text{
  background-color: #fefefe;
  padding: 40px 40px 80px;
  width: 100%;

  p{
    color:#454F5B;
    text-align: center;
  }
}

/* The Close Button */
.close {
  color: #fff;
  float: right;
  font-size: 24px;
  height: 25px;
  width: 25px;
  line-height: 26px;
  border-radius: 15px;
  font-weight: bold;
  background-color: #7F7F7F;
  right: 10px;
  text-align: center;
  top: 10px;
  position: absolute;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
