.billing {
    &_remaining_funds {
        position: relative;
        overflow-wrap: break-word;

        &__title {
            font-size: 27px;
            margin-top: 75px;
        }

        &__amount {
            font-size: 70px;

            &--small {
                font-size: 45px;
            }
        }

        &__button {
            position: absolute;
            bottom: 4rem;
            left: 2rem;
        }
    }

    &_listing_position {
        float: left;
        margin-right: 10px;
        min-width: 50px;
        text-align: center;

        &_save {
            width: 150px;
            text-align: center;
        }
    }

    &_car_value {
        padding: 1rem;
        margin: 10px 0;
        height: 46px;
        width: calc(100% - 4rem);
        font-size: 2.5rem;
        outline: 0;
        transition: all 0.3s ease;
        border: 1px solid lighten($grey, 30%);

        &:focus, &:hover {
            border: 1px solid $orange;
            background-color: $white;
        }
    }

    &_big_fee {
        font-size: 50px;
        font-weight: bold;
    }
}
