.blogheader {
    background-color: $white;
    text-align: center;
    padding: 4rem 0;

    &__title {
        font-weight: bold;
        color: $black;
        margin: 0;
    }

    &__subtitle {
        font-weight: bold;
        color: $black;
        font-size: 2rem;
        margin: 0.5em 0 0;
    }
}

.blogs {
    padding: 2rem 0;

    &__col {
        width: 33.33%;
        float: left;
        padding-right: 1rem;

        &:nth-of-type(3n+1) {
            padding-right: 0;
        }
    }
}

.blog {
    width: 50%;
    float: left;
    padding: 2rem;

    &:first-of-type {
        border-right: 1px solid rgba($grey, 0.4);
    }

    &__heading {
        font-weight: bold;
        color: $black;
        font-size: 1.7rem;
        text-decoration: underline;
        margin: 0;
    }

    &__title {
        font-weight: bold;
        color: $black;
        font-size: 2.3rem;
        margin: 0;
    }

    &__image {
        margin: 2rem 0;
        display: block;
        padding-bottom: 40%;
        background-size: cover;
        background-position: center;
    }
}