.dashboard {
    .box {
        box-shadow: 0 0 5px 2px rgba(149, 149, 149, 0.1);
    }

    &--faded {
        z-index: -1;
        opacity: 0.25;
        pointer-events: none;
        cursor: not-allowed;

        a {
            z-index: -1;
            cursor: not-allowed;
            pointer-events: none;
        }
    }

    &__col {
        float: left;
        margin-right: 2%;

        @media all and (max-width: 1023px) {
            float: right;
            width: calc(100% - 23%);
            margin-right: 0;
            margin-left: 0;
        }

        &:nth-of-type(1) {
            width: 220px;
            margin-right: 2%;

            @media all and (max-width: 1023px) {
                float: left;
                margin-right: 0;
                width: 100%;
            }

            @media all and (max-width: $tablet) {
            }
        }

        &:nth-of-type(2) {
            
            width: calc(100% - 250px - 22%);

            @media all and (max-width: 1250px) {
                width: calc(100% - 220px - 2%);
                margin-right: 0;
            }
            @media all and (max-width: 1023px) {
                width: 100%;
            }
        }

        &:nth-of-type(3) {
            width: 20%;
            margin-right: 0;
            float: right;

            @media all and (max-width: 1250px) {
                margin-top: 2%;
                width: calc(100% - 220px - 2%);
            }
            @media all and (max-width: 1023px) {
                float: right;
                width: 100%;
            }

            @media all and (max-width: $tablet) {
            }
        }

        @media all and (max-width: 1023px) {
            width: 100%;
            margin-left: auto;
            margin-right: 0;
        }

    }

    &--two-col {
        .dashboard__col {
            &:nth-of-type(1) {
                width: 220px;

                @media all and (max-width: 1023px) {
                    width: 100%;
                }
            }

            &:nth-of-type(2) {
                margin-right: 0;
                width: calc(100% - 220px - 2%);

                @media all and (max-width: 1023px) {
                    width: 100%;
                }
            }
        }
    }

    &__title {
        border-bottom: 1px solid rgba($grey, 0.5);
        width: 30%;
        color: $black;

        &:focus {
            outline: none;
        }
    }

    &__breadcrumbs {
        width: 100%;
        float: left;
        clear: both;
    }

    &__crumb {
        width: 33.33%;
        text-align: center;
        float: left;

        a {
            border-bottom: 0;

            &:hover {
                border-bottom: 0;
            }
        }

        strong {
            color: darken($offwhite, 10%);
            text-transform: uppercase;
            font-size: 2rem;
        }

        &--complete,
        &--current {
            .circle {
                background-color: $orange;
            }

            strong {
                color: $orange;
            }
        }
    }
}



  .paid_leads_table {
    font-size: 1.4rem;
  }