.hero {
  background: linear-gradient(rgba($black, 0.99), rgba($offblack, 0.8));
  position: relative;
  height: calc(100% - 82px);
  // min-height: 550px;
  border-top: 2px solid #333;

  @media all and (max-width: $tablet) {
    padding: 5rem 0;
  }
  @media all and (max-width: $mob) {
    height: calc(100% - 45px);
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  }

  &__title {
    color: $white;
    font-weight: 300;
    text-align: center;
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 4rem;
    line-height: 1.1;

    br {
      display: none;
      @media all and (max-width: 900px) {
        display: block;
      }
    }

    @media all and (max-width: 900px) {
      max-width: 90%;
      font-size: 4rem;
      margin: 0 auto 0.5em;
    }
    @media all and (max-width: $mob) {
      // width: 80%;
      font-size: 1.75rem;
      // margin: 0 auto 1em;
      // text-align: center;
    }

  }

  &__text{
    color:#FFF;
    font-weight: 300;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 4rem;
    line-height: 1.1;

    @media all and (max-width: $mob) {
      font-size: 1.1rem;
    }

    b{
      text-decoration: underline;
    }
}

  &__form {
    text-align: center;
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    @media all and (max-width: 1050px) {
      top: 25%;
    }
    @media all and (max-width: 600px) {
      top: 20%;
    }

  }

  &__footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    border-top: 1px solid #6e6e6e;
    color: $grey;
    padding: 1em 0 1.5em;
    @media all and (max-width: $tablet) {
      padding: 1rem 0;
    }

    a,
    p:first-of-type {
      font-weight: bold;
      color: $grey;
    }

    a {
      border-color: $grey;
      &:hover {
        color: $orange;
      }
    }
  }

  &__content {
    z-index: 2;
    position: relative;
    @media all and (max-width: $tablet) {
      text-align: center;
    }
  }

  .numberplate__input {
    @media all and (max-width: $exsm) {
      border-radius: 1rem;
      padding: 2rem 1rem;
    }
  }
}

.fp-how-it-works {
  padding: 6em 0 2em;
  clear: both;
  box-shadow: 2px 2px 2px #000;

  @media (max-width: $tablet) {
    padding-top: 4em;
  }

  &__col {
    width: 33.333%;
    float: left;
    padding: 2rem;
    text-align: center;
    @media all and (max-width: $tablet) {
      width: 100%;
      padding: 1rem;
    }

    img {
      display: block;
      margin: 2rem auto;
      padding: 1rem;
      height: 100px;
    }
  }

  &__title {
    font-size: 3.5rem;
    color: $black;
  }

  &__footer,
  &__title {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
}

.numberplate__button__active, .numberplate .numberplate__button__active{
  right: 0%;
  padding-left: 3%;
  padding-right: 3%;
  height: 100%;
  top: 0;
  color: #fff;
  background: darken($yellow,10%);
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
  @include transition(all, 1s, ease-in-out);
}

form.numberplate--mini .numberplate__button__active{
  border-radius: 0px 10px 10px 0px;
}

.numberplate button{
  @include transition(all, 1s, ease-in-out);
}

.about-jamjar {
  background-color: $offwhite;
  padding: 4em 0 5em;

  @media (max-width: $tablet) {
    padding-bottom: 4em;
  }

  &__title {
    margin: 0 auto;
    font-weight: bold;
    color: $black;
    text-align: center;
  }

  &__content {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0;
    font-size: 1.75rem;
    @media(max-width: $tablet) {
      width: 100%;
    }
  }

  &__footer {
    margin: 0 auto;
    text-align: center;
  }
}

.calltoaction {
  background-color: $black;
  padding: 4rem 0;
  color: $grey;

  @media all and (max-width: $tablet) {
    text-align: center;
  }

  &__subtitle,
  &__title {
    margin: 0;
  }

  &__title {
    font-size: 2.4rem;
    margin-bottom: 0.5em;
  }

  &__col {

    &--numberplate {
      text-align: center;
      float: none;
    }

    @media all and (min-width: $tablet) {
      width: 49%;
      display: inline-block;
      vertical-align: middle;
    }

  }

  .numberplate--mini {
    margin: 2rem auto;
    width: auto;
    max-width: 380px;

    .numberplate__input {
        width: 100%;
      @media all and (max-width: $tablet) {
        float: none;
      }
    }
  }
}
