.matrix-hero {
    background-image: url(../../assets/img/matrix-hero.png);
    background-size: cover;
    background-position: center center;
    min-height: 50vh;
    background-attachment: fixed;
}

.validator-phone [name=countrycode] {
    display: none;
}

.additional-info-icons img {
    width: 20px;
}

.additional-info-icons img.inactive {
    opacity:0.5;
}

.swal-button-grey {
    background-color: #efefef;
    color: #545454;
    border: 0;
}

.swal-button-orange {
    background-color: #fe9943;
    color: #ffffff;
    border: 0;
}

.matrix-intro {
    // margin-bottom: -1em;

    .matrix-title {
        width: 70%;
        float: left;
        font-size: 3rem;
        margin-bottom: 0;

        @media (max-width: 650px) {
            float: none;
            width: 100%;
            font-size: 2.5rem;
        }
    }

    p{
      float:left;
      width:100%;
    }

    &.offer-complete{
      p{
        float: left;
      }
    }

    .button {
        margin: 0;
        float: right;

        @media (max-width: 650px) {
            float: none;
        }
    }
}

.matrix-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.matrix-sub-title {
    margin-top: 1.5em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 1em;
}

.matrix-content {
    background-color: $matrixBlue;

    p {
        margin: 0.25rem 0;
    }

    .fifty-fifty{
      p{
        float: left;
        width:50%;

        @media (max-width: $phone) {
          width:100%;
        }
      }
    }

    &__container {
        max-width: 900px;
    }

    .box {
        padding: 2em;

        @media (max-width: $phone) {
            padding: 5%;
        }
    }

    &__box {
        background-color: $white;
        margin: 4rem auto;
        padding: 2em;
        float: left;
        width: 100%;

        @media (max-width: $phone) {
            padding: 5%;
        }

        .grid-2-col {
            .split-list {
                li {
                    width: 100%;
                    display: block;
                    float: left;

                    span {
                        width: 40%;
                        float: left;

                        @media (max-width: 850px) {
                            width: 50%;
                        }

                        @media (max-width: 650px) {
                            width: 100%;
                        }
                    }

                    strong {
                        width: 60%;
                        float: left;

                        @media (max-width: 850px) {
                            width: 50%;
                        }

                        @media (max-width: 650px) {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    &__title {
        padding: 0;
        border-bottom: 1px solid rgba($grey, 0.5);
        color: $grey;
        font-weight: 300;
        margin: 0;
        margin-bottom: 1.5rem;

        @media (max-width: $mob) {
            font-size: 2rem;
            margin-bottom: 1em;
        }
    }

    &__content {
        // padding: 2rem 0;

    }

    &__header {
        margin-bottom: 1em;
    }

    &__question {
        display: block;
        padding: 0.5rem 0;
    }

    &__car-logo {
        width: 20%;
        float: right;
        padding-bottom: 20%;
        height: 0;
        background: #f3f3f3;
        position: relative;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25) inset;

        img {
            position: absolute;
            width: 90%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin: 1rem 0;
        }

        a {
            color: $black;
        }

        &--table {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: block;
                width: 50%;
                float: left;
            }
        }
    }

    address {
        margin: 0;
        display: block;
        font-style: normal;

        p {
            margin: 0.1rem 0;
        }
    }

    &__col {
        width: 49%;
        float: left;

        // padding: 2rem 4rem;
        margin-right: 1%;

        @media all and (max-width: $tablet) {
            width: 100%;
        }
    }

    .box__content {
        padding: 0 0 2rem 0;

        img {
            width: unset;
            padding: unset;
            float: unset;
        }
    }

    &__map {
        float: right;

        @media (max-width: 850px) {
            float: none;
        }
    }

    &__car-title {
        display: inline-block;
        width: 76%;
        vertical-align: middle;
        font-size: 2.5rem;
        font-weight: 600;
        color: #000;
        text-transform: uppercase;
        margin-bottom: 0.5em;

        @media (max-width: 650px) {
            margin: 0 0 1em;
        }
    }

    &__car-logo {
        background-size: contain;
        padding-bottom: 12.5rem;
        width: 20%;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: middle;

        @media (max-width: 650px) {
            width: 100%;
        }

        @media all and (max-width: 600px) {
            display: none;
        }
    }
}

.matrix-cta {
    background-color: $matrixLightBlue;

    @media (max-width: $phone) {
        padding: 1em 0;
    }

    &__container {
        max-width: 900px;
    }

    &__col {
        width: 50%;
        float: left;
        padding: 4rem 0;

        @media (max-width: $phone) {
            width: 100%;
            float: none;
            text-align: center;
            padding: 0;
        }

        &:first-of-type {
            p {
                color: $white;
                font-weight: bold;
                text-transform: uppercase;
                margin: 1rem 0;

                &.price {
                    font-size: 4rem;
                }
            }
        }

        &:last-of-type {
            float: right;

            .button {
                float: right;
                font-weight: 600;

                @media (max-width: $phone) {
                    float: none;
                }
            }
        }
    }
}

.matrix-footer {
    background-color: $white;

    &__container {
        max-width: 900px;
    }

    &__col {
        width: 50%;
        float: left;
        padding: 4rem 0;

        img {
            width: 100%;
            max-width: 150px;
        }

        p {
            font-size: 14px;
        }

        &:last-of-type {
            float: right;
            text-align: right;

            a {
                font-weight: bold;
                border-color: $black;
                color: $black;
            }
        }
    }
}

.appraisal-text {
    font-size: 2rem;
    color: #6e6e6e;
    font-weight: 300;
    margin: 0;
    padding-top: 2.5rem;
    line-height: 1.1;
}

@media (max-width: 1155px) {
    .funds-left-box {
        width: 100%;

        // width: calc(50% - 10px);

    }

    .funds-right-box {
        margin-top: 2em;
        width: 100% !important;

        // width: calc(50% - 10px) !important;

    }

    .matrix-position {
        .billing_listing_position {
            float: none;
            display: inline-block;
        }

        > div {
            text-align: center;
            display: block;
            width: 100%;
        }
    }
}

@media (max-width: 950px) {
    .funds-left-box, .funds-right-box {
        float: right;
        width: 100% !important;
    }
}

.footer-price {
    font-size: 4rem;
    line-height: 1;
}

.billing_remaining_funds {
    .box__content {
        margin: 0;
    }
}

h1.billing_remaining_funds__amount {
    margin-bottom: 0;
}

.position-button {
    border: 1px solid #e6e5e5;

    &.is-active,
    &:hover {
        color: #FFF;
        background-color: $green;
        border-color: $green;
    }
}

.matrix-numbered-list {
    list-style-type: none;
    padding-left: 5rem;

    li {
        margin-bottom: 2em;
        position: relative;

        &::before {
            content: ' ';
            position: absolute;
            left: -55px;
            width: 2em;
            height: 2em;
            background-color: #888888;
            border-radius: 50%;
            text-align: center;
            top: 0;
        }

        &::after {
            content: '1';
            position: absolute;
            color: $white;
            left: -55px;
            top: 3px;
            font-weight: 600;
            width: 2em;
            height: 2em;
            text-align: center;
        }

        &:nth-of-type(2) {
            &::after {
                content: '2';
            }
        }

        &:nth-of-type(3) {
            &::after {
                content: '3';
            }
        }
    }

    &__print {
        color: $orange;
        font-weight: 600 !important;
        border-bottom: 1px solid $orange !important;
    }

    &__tel {
        color: #231f20;
        font-weight: 600 !important;
    }
}

.matrix-terms {
    margin-top: 2em;
}

.matrix-map {}

.billing_remaining_funds__button {
    bottom: 6rem;
}

.not-acceptable-offer {
    border: 1px solid #e4eaf2;
    color: #4f88b5;
    background-color: #f0f8ff;
    font-size: 0.55em;
    font-weight: bold;
    width: 100%;
    padding: 10px;
}

.lock-information {
    border: 1px solid #e4eaf2;
    color: #4f88b5;
    background-color: #f0f8ff;
    font-size: 0.55em;
    font-weight: bold;
    width: 80%;
    padding: 20px 10px;
    z-index: 10;
    display: none;
}

#stock-availability-at-box-wrapper {
    min-height: 82px;
}

@media (min-width: 769px) {
    #stock-availability-at-box-wrapper {
        margin-top: -25px;
    }
}

//FILTERS THINGS
.models-and-manufacturers-holder {
    display: none;
}

.search-manufacturers .selected-manufacturers {
    cursor: pointer;
    width: 100%;
    border: 1px solid black;
    height: 30px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.search-manufacturers .manufacturers-list {
    max-height: 150px;
    overflow: auto;
}

.search-manufacturers .manufacturers-list .single-manufacturer {
    cursor: pointer;
    display: none;
}

.search-manufacturers .manufacturers-list .single-manufacturer .expand-models{
    font-weight: bold;
    color: green;
    margin-right: 5px;
    float: left;
}

.search-manufacturers .manufacturers-list .single-manufacturer.expanded .expand-models{
    color: red;
}

.search-manufacturers .manufacturers-list .single-manufacturer .models-list {
    margin-left: 10px;
}

.search-manufacturers .manufacturers-list .single-manufacturer .models-list .single-model .model-label:before {
    content: "☐ ";
}

.search-manufacturers .manufacturers-list .single-manufacturer .models-list .single-model.selected .model-label:before {
    content: "☑  ";
}

.search-manufacturers .manufacturers-list .single-manufacturer .models-list .model-vehicle-count {
    float: right;
}

.search-manufacturers .manufacturers-list .single-manufacturer .select-manufacturer {
    display: block;
}

.search-manufacturers .manufacturers-list .single-manufacturer.active {
    display: block;
}

.search-manufacturers .manufacturers-list .single-manufacturer.selected {
    background-color: #f89a35;
}

.search-manufacturers .manufacturers-list .single-manufacturer.selected.partially-selected {
    background-color: #fbd0a1;
}

.search-manufacturers .manufacturers-list .single-manufacturer .vehicles-count {
    float: right;
}

.search-manufacturers .show-all-manufacturers-button, .search-manufacturers .expand-models {
    opacity: 0.35;
}

.search-manufacturers .show-all-manufacturers-button.active, .search-manufacturers .expand-models.active {
    opacity: 1;
}

.search-manufacturers .model-label {
    display: inline-block;
    width: 90%;
}

.filters-container .search-manufacturers {
    position: relative;
}

.filters-container select.form__input {
    font-weight: bold;
    font-size: 12px;
    background-image: url(../images/arrow-orange.png);
    border: 0;
    border-radius: 5px;
    background-size: 12px;
    background-position: 95% center;
}

.filters-container .clear-filters-button a {
    font-weight: bold;
}

.filters-container .clear-filters-button:hover, .filters-container .clear-filters-button a:hover {
    color: white;
    text-decoration: none;
}

.filters-container .filter-attribute {
    width: 95%;
}

.filters-container .selected-manufacturers, .filters-container .models-and-manufacturers-holder {
    text-transform: uppercase;
    display: inline-block;
    max-width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    color: #000;
    font-weight: bold;
    padding: 0.75em 1em;
    outline: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-family: "Poppins", sans-serif;
    background-color: rgb(253, 253, 253);
    border: 1px solid #bbbdc0;
}

.filters-container .selected-manufacturers {
    min-height: 40px;
    background: url(../images/arrow-orange.png) no-repeat 99% #fdfdfd;
    background-position-x: 99%;
    background-position-y: center;
    background-size: 12px;
    padding-right: 1em;
    background-position: 95% center;
    margin: 0;
    border: 0;
    border-radius: 5px;
    font-size: 12px;
}

.filters-container .models-and-manufacturers-holder {
    position: absolute;
    display: none;
    width: 100%;
    top: 38px;
    border: 0;
    border-radius: 0 0 5px 5px;
    border-top: 2px solid #bbbdc0;
    font-size: 14px;
}

.filters-container {
    border-radius: 8px;
    border: solid 2px #d9d9d9;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #444444;
}

.filters-container .filters-header {
    background-color: #f6f6f6;
    font-size: 20px;
    padding: 15px;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
}

.filters-container .filters-header .clear-filters-button {
    margin: 0 0 0 75px;
    border: 2px solid #f89a35;
}

.filters-container .filters-section {
    border-top: solid 2px #d9d9d9;
    padding: 15px;
    background-color: #ececec;
    min-height: 30px;
    font-size: 16px;
    display: none;
}

.filters-container .filters-header .toggle-filters-area {
    cursor: pointer;
}

.filters-container.expanded .filters-section {
    display: block;
}

.filters-container .clear-filters-button {
    display: none;
}

.filters-container.expanded .clear-filters-button {
    display: inline-block;
    float: right;
    margin: -8px 0 0 0;
}

.filters-container.expanded .expand-icon {
    display: none;
}

.filters-container .hide-icon {
    display: none;
}

.filters-container .expand-icon {
    display: inline;
}

.filters-container.expanded .hide-icon {
    display: inline;
}

.filters-container .col-4 {
    padding: 0 10px;
}

// marketplace alerts

.tab-buttons-container {
    padding: 20px 0 8px 20px;
    background-color: #ececec;

    @media (max-width: 720px) {
        padding: 0;
    }
}

.tab-buttons-desktop {
    @media (max-width: 720px) {
        display: none;
    }
}

.tab-buttons-mobile {
    display: none;
    margin-top: 20px;

    @media (max-width: 720px) {
        display: block;
    }
}

.tab-button {
    background-color: #f7f7f7;
    padding: 10px 40px 10px 40px;
    font-size: 16px;
    font-weight: bold !important;
    text-decoration: none !important;
    border: 0 !important;
    color: #949494;
    margin-right: 10px;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    white-space: nowrap;
    text-align: center;

    @media (max-width: 720px) {
        padding: 10px 2% 10px 2%;
        display: inline-block;
        margin: 0 1% -1px 0;
        width: 31.5%;
    }
}

.tab-button:hover {
    color: lightgreen !important;
}

.tab-button.active {
    color: black;
    background-color: white;
    font-size: 20px
}

.tab-button.green {
    color: white;
    background-color: #73cc4f;
}

.alerts-table {
    margin-top: 30px;
}

.alerts-table th {
    color: #8b8b8b;
    font-size: 12px;

    @media (max-width: 1024px) {
        display: none;
    }
}

.alerts-table td {
    padding: 7px;
}

.alerts-table tr {
    border-bottom: 2px solid #dedede;
    border-top: 0;
}

.alerts-table .alert-specification .manufacturers-summary .modal-trigger-area {
    cursor: help;
}

.alerts-table .alert-specification .manufacturers-summary {
    position: relative;
}

.alerts-table .alert-specification .spec-area{
    margin: 15px 0;
}

.alerts-table .manage-button-area {
    @media (max-width: 650px) {
        width: 95%;
        text-align: center;
    }
}

.alerts-table .alerts-manage-button {
    padding: 13px;
    font-weight: bold;
    font-size: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none !important;
    border: 0 !important;
    margin: 8px;

    @media (max-width: 650px) {
        display: block;
    }
}

.alerts-table .alerts-manage-button.edit {
    background-color: #f7eee0;
    color: #ca8f36;
}

.alerts-table .alerts-manage-button.edit:hover {
    background-color: #e3c596;
    color: #f7eee0;
}

.alerts-table .alerts-manage-button.pause {
    background-color: #dbf3ff;
    color: #11b0ff;
}

.alerts-table .alerts-manage-button.pause:hover {
    background-color: #6accff;
    color: #dbf3ff;
}

.alerts-table .alerts-manage-button.activate {
    background-color: #e3ffdb;
    color: #2dc169;
}

.alerts-table .alerts-manage-button.activate:hover {
    background-color: #93e8b5;
    color: #e3ffdb;
}


.alerts-table .alerts-manage-button.delete {
    background-color: #fee8e8;
    color: #ee6f71;
}

.alerts-table .alerts-manage-button.delete:hover {
    background-color: #f6a2a4;
    color: #fee8e8;
}


.matches-counter-area{
    width:265px;
    position:relative;
    border-radius: 5px;
    padding:10px;
    background-color: #cfedc5;
    margin-left:8px;
}

.matches-short-text{
    display:block;
}

.matches-full-text{
    display:none;
}

@media (min-width: 1024px) {

    .matches-short-text{
        display:block;
    }
    .matches-full-text{
        display:none;
    }
}

@media (max-width: 650px) {

    .matches-counter-area{

        width:89%;

    }


}

@media (max-width: 480px) {

    .matches-counter-area{

        width:91.5% !important;

    }

    .matches-short-text{
        display:none;
    }
    .matches-full-text{
        display:block;
    }

}

@media (max-width: 370px) {

    .matches-counter-area{

        width:90% !important;

    }


    .matches-short-text{
        display:block;
    }
    .matches-full-text{
        display:none;
    }

}

.matches-found{
    text-decoration:underline;
    font-weight: bold;
    float:left;
}

.matches-notification{
    font-size: 12px;
    color:#2DC169;
}

.view-matches{

    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    margin:0px !important;
    position:absolute;
    right:0px;
    top:0px;
    background-color:#2DC169;
    color:#FFFFFF;
    padding: 12.5px !important;
}

.view-matches:hover{
    color:lightgreen !important;
}

.models-and-manufacturers-modal {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #acacac;
    font-size: 12px;
    max-width: 400px;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    position: absolute;
    bottom: 40px;
    z-index: 2;
    display: none;
    cursor: auto;
}

.models-and-manufacturers-modal .manufacturers-and-models-modal-header {
    padding: 12px;
    font-weight: bold;
    color: black;
    background-color: white;
    border-bottom: 2px solid #e0e0e2;
    border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
}

.models-and-manufacturers-modal .manufacturers-and-models-modal-content {
    padding: 12px;
    font-weight: bold;
    color: black;
    background-color: #fafafa;
    max-height: 150px;
    overflow: auto;
}

.models-and-manufacturers-modal .manufacturers-and-models-modal-footer {
    padding: 5px;
    background-color: #fafafa;
    border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    position: relative;
}

.models-and-manufacturers-modal .manufacturers-and-models-modal-content .models-names {
    color: #5f5f5f;
}

.arrow-down-border {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #acacac;
    position: absolute;
    top: 10px;
    left: 18px;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fafafa;
    position: absolute;
    top: 10px;
    left: 20px;
}


.add-alert-popup {
    border: 2px solid #e9e9e9;
}

.add-alert-popup .add-alert-header {
    padding: 30px;
    background-image: linear-gradient(#fbfbfb, #ffffff);
    border-bottom: 2px solid #ebebeb;
    font-weight: bold;
    font-size: 15px;
}
.add-alert-popup .add-alert-body {
    background-color: white;
}


.add-alert-container {
    margin-top: 20px;
    border: 2px solid #e3ebf0;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-image: linear-gradient(#f4faff, #e8f2fc);
}

.add-alert-header .close-button {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 12px;
    background-color: black;
    color: white;
    right: 7px;
    top: 7px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

.frequency-field-instant-holder.not-allowed {
    cursor: not-allowed;
    color: lightslategrey;
}

// dashboard

.dashboard-container {
    & .dashboard-header {
        font-weight: bold;
        font-size: 17px;
    }

    & .dashboard-started-box {
        float: left;
        width: 25%;
        min-width: 220px;
        position: relative;

        @media (max-width: 1240px) {
            width: 50%;
        }

        @media (max-width: 600px) {
            width: 100%;
        }


        & .dashboard-inner-box {
            margin: 10px 6%;
            padding: 5% 5%;
            border: 1px solid #f3f7fb;
            text-align: center;
            min-height: 230px;

            &.even {
                @media (max-width: 1240px) {
                    margin-right: 0;
                    margin-left: 10px;
                }
            }


            @media (max-width: 600px) {
                margin-right: 0;
            }
        }

        &.completed .dashboard-inner-box {
            background-color: #f1f9ed;
            border: 1px solid #f1f9ed;
        }

        & .dashboard-inner-box:first-child {
            margin-left: 0;
        }

        & .dashboard-inner-box img {
            margin: 10px auto;
        }
    }

    & .inner-box-title {
        font-weight: bold;
        font-size: 14px;
    }

    & .inner-box-description {
        font-size: 13px;
    }

    & .dashboard-started-box {
        & .tick-mark {
            display: none;
            background-color: #74cc51;
            -webkit-border-radius: 22px;
            -moz-border-radius: 22px;
            border-radius: 22px;
            width: 24px;
            height: 24px;
            padding: 0 4px;
            color: white;
            position: absolute;
            top: 0;
            right: 2.5%;

            &:before {
                font-family: FontAwesome;
                content: '';
            }
        }

        &.completed .tick-mark {
            display: block;
        }

        & .completing-box {
            display: none;
            background-color: #ff6464;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            width: 120px;
            height: 24px;
            padding-top: 4px;
            color: white;
            position: absolute;
            top: 0;
            left: calc(50% - 70px);
            font-weight: bold;
            font-size: 10px;
        }

        &.uncompleted .completing-box {
            display: block;
        }

        & img {
            width: 80px;
            height: 80px;
        }
    }
}

// dashboard buying ans selling section

.dashboard-started-box {
    color: black;
}

.dashboard-started-box:hover {
    color: orange;
}

.dashboard-sections-separator {
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 30px 0;
}

.dashboard-summary-box {
    float: left;
    width: 100%;
}

.dashboard-summary-inner-box {
    margin-bottom: 30px;
    background-color: white;
    width: 49%;
    float: left;

    @media (max-width: 1240px) {
        width: 100%;
    }
}

.dashboard-summary-inner-box.first {
    margin-right: 2%;

    @media (max-width: 1240px) {
        margin-right: 0;
    }
}

.dashboard-summary-row {
    min-height: 45px;
}

.dashboard-summary-inner-box .dashboard-summary-row:nth-of-type(2n-1) {
    background-color: #f9fbfd;
}

.dashboard-summary-row.link-row {
    background-color: #cce8ff;
    color: #65baff;
}

.dashboard-summary-row .follow-box {
    color: #dee5ef;
    & a {
        color:#dee5ef;
    }
}

.dashboard-summary-row.link-row .follow-box {
    color: #65baff;

    & a {
        color:#65baff;
    }
}

.primary-info {
    width: 23%;
    display: inline-block;
    vertical-align: middle;
    padding: 1% 3%;
    font-weight: bold;
    font-size: 15px;
    color: black;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.empty-info {
    width: 98%;
    display: inline-block;
    vertical-align: middle;
    padding: 2% 3% 4%;
    font-size: 16px;
    color: black;
    text-align: center;
}

.additional-info {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    color: #848fa3;
}

.price-info {
    width: 17%;
    display: inline-block;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #70ce47;
    background-color: #cfedc5;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
    vertical-align: middle;
}

.link-text {
    width: 89%;
    padding: 1% 3%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 8px;
}

.big-description-text {
    width: 71%;
    vertical-align: middle;
    display: inline-block;
    padding: 46px 3%;
    font-weight: bold;
    font-size: 13px;
    color: black;
}

.average-description-text {
    width: 71%;
    vertical-align: middle;
    display: inline-block;
    padding: 1% 3%;
    font-weight: bold;
    font-size: 13px;
    color: black;
}

.count-box {
    width: 17%;
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
    color: #70ce47;
    font-size: 13px;
}

.link-text a {
    color: #65baff;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #65baff;
}

.follow-box {
    width: 8%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    color: #dee5ef;
}

.summary-title {
    font-weight: bold;
    font-size: 18px;
    padding: 3% 3%;
}

// dashboard funds area

.dashboard-funds-box {
    float: right;
    width: 350px;
    background-color: white;
    display: inline-block;
    padding: 0 20px;
    position: relative;

    @media (max-width: 1240px) {
        width: 50%;
        margin: 20px 0 0 25%;
        float: none;
    }

    @media (max-width: 600px) {
        width: 100%;
        margin: 20px 0 0 0;
    }
}

.dashboard-funds-box-title {
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
    width: 20%;
    position: relative;
    top: -5px;
}

.dashboard-funds-box-amount {
    font-weight: bold;
    font-size: 19px;
    color: #67758d;
    display: inline-block;
    width: 32%;
    position: relative;
    top: -2px;
}

.dashboard-funds-box-button-holder {
    display: inline-block;
    width: 45%;
    font-size: 12px;
    vertical-align: super;
    text-align: right;
}

.dashboard-funds-box-button-plus-icon:after {
    font-family: FontAwesome;
    content: '\f055';
    font-size: 17px;
    padding-left: 10px;
    padding-top: 3px;
}

.button--orange-bg-front{

    background-color: rgb(248, 154, 53) !important;
    border: 1px solid rgb(248, 154, 53) !important;
    color: #FFFFFF;
    font-weight: 600;
}

.button--orange-bg-front:hover{

    background-color: rgb(248, 154, 53) !important;
    border: 1px solid rgb(248, 154, 53) !important;
    text-decoration: underline !important;
    color: #FFFFFF;
}