.content {
    padding: 4em 0;
    clear: both;

    @media (max-width: $tablet) {
        padding: 2em 0;
    }

    &--bg-white {
        background-color: $white;
    }

    &__col {
        width: 33.333%;
        float: left;
        padding: 2rem;
        text-align: center;

        @media all and (max-width: $tablet) {
            width: 100%;
            padding: 1rem;
        }

        img {
            display: block;
            margin: 2rem auto;
            padding: 1rem;
            height: 100px;
        }
    }

    &__image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 450px;
    }

    &__title {
        font-size: 3.5rem;
        color: $black;
        margin-bottom: 1em;
    }

    &__footer,
    &__title {
        text-align: center;
        width: 100%;
    }

    p {
        margin: 0 0 1em;
    }

    &__content {
        .entry-content {
            max-width: 900px;
            margin: 1em auto 1em;

            h3 {
                margin: 2.6rem 0;
            }

            h2 {
                margin-bottom: 1em;
            }
        }
    }
}

.entry-content {
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 1em;
    }
}

.keyboard{
  .focus-watch{

    display: none;

  }
}
