.valuations {
    &__header {
        width: 100%;
        margin-top: 0.5em;
        @media (min-width: $tablet){
            margin-top: 1em;
            width:70%;
            float:left;
        }
    }

    &__title {
        width: 70%;
        display: inline-block;
        vertical-align: middle;
        position: relative;

        h2 {
            @media (max-width: $mob) {
                font-size: 2rem;
            }
            small{
                display: none;
                @media (min-width: $mob){
                    display: inline;
                }
            }
        }

        img {
            display: inline-block;
            vertical-align: middle;
            max-width: 10%;
            height: 2em;

            @media (max-width: $mob) {
                display: none;
            }
        }

        span {
            display: inline-block;
            vertical-align: middle;
            text-transform: uppercase;
            color: $black;
            font-weight: 600;

            @media (max-width: $tablet) {
                padding: 15px 0;
            }

            @media (max-width: $mob) {
                font-size: 0.8em;
                padding: 0;
            }

            &.valuations__badge {
                font-weight: 600;
                font-size: 1.25rem;
                text-transform: none;
                color: $orange;
                padding: 0.45rem;
                border-radius: 0.5rem;
                cursor: pointer;
            }
        }

        @media (max-width: $tablet) {
            width: 100%;
            text-align: center;
        }
    }

    &__vehicle-details {
        ul {
            width: 50%;
            float: left;
            margin: 0;
            list-style: none;
            padding: 0;

            @media (max-width: 600px) {
                width: 100%;
            }
        }

        li > span {
            width: 41%;
            float: left;

            &:nth-of-type(even) {
                width: 59%;
                font-weight: 600;
            }
        }
    }

    &__buttons {
        width: 30%;
        float:left;
        vertical-align: middle;
        text-align: right;
        margin-top:1em;

        @media (max-width: $tablet) {
            width: 100%;
            text-align: center;
            margin-top:0;
            margin-bottom:1em;
        }

        @media (max-width: $mob) {
            a {
                font-size: 1em;
                padding: 0.5rem 1rem;
                margin-bottom: 0;
            }
        }
    }

    &__table {
        td {
            padding: 1rem;
        }

        @media all and (max-width: $tablet) {
            overflow-x: auto;
            display: block;

            th {
                padding: 1.5rem;
            }
        }
    }
}

.valuation-table-header-only {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);

    th {
        padding: 0 1%;
    }

    @media (max-width: $tablet) {
        display: none;
    }
}

.valuation {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    padding: 1em 0;
    position: relative;

    &:first-of-type {
        border-top: none;
    }

    @media (max-width: 600px) {
        padding: 1.5em 0;
    }

    @media (max-width: 550px) {
        > div {
            // display: block;
            // width: 100%;
            // text-align: center;

        }
    }

    @media (max-width: 500px) {
        padding: 1em 0;
        padding-bottom:0.1em;
    }

    &__button,
    &__image,
    &__list,
    &__prices {
        display: inline-block;
        vertical-align: middle;

        @media all and (max-width: $tablet) {}
    }

    &__image {
        padding: 0 1%;
        width: 25%;

        @media all and (max-width: $tablet) {
            width: 25%;
            padding: 0;
        //    margin-right: 5%;
        }

        @media (max-width: 600px) {
            width: 100%;
            padding-bottom: 3.2em;
        }

        @media (max-width: $tablet) {
            width: 100%;
            padding-bottom: 0.5em;
            min-height:50px;
        }
    }

    img {
        max-width: 45%;
        float:left;
        display: block;

        @media (min-width: $tablet){
            max-width:80%;
        }
        @media (max-width: $tablet){
            max-height:30px;
        }

    }

    &__list {
        padding: 0 1%;
        width: 35%;

        @media all and (max-width: $tablet) {
            width: 45%;
            padding: 0;
        }

        @media (max-width: 600px) {
            width:100%;
            padding:1rem 0rem;
            font-size: 12px;
            line-height: 1.1;
        }

        @media (max-width: 500px) {
            // display: none;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 1rem 0;

            @media (max-width: $tablet) {
                font-size: 14px;
                width: 100% !important;
            }
        }
        @media (max-width: $tablet){
            p{
                width:49%;
                display: block;
                float:left;
            }
        }
        .valuation__location{
            @media (max-width: $tablet) {
                width:50%;
                text-align:center;
            }
        }
        .show-more-info{
            color: #f89a35;
            cursor: pointer;
            text-align:left;
            display: none;
            margin:0;
            @media (max-width: $tablet){
                display: block;
            }
        }
        &.mob-hide{
            @media (max-width: $tablet){
                display: none;
                p{
                    display: none;
                }
            }
        }
    }

    &__distance,
    &__location {
        margin: 0;
    }

    &__prices {
        padding: 0 1%;
        width: 20%;

        @media all and (max-width: $tablet) {
            width: 20%;
        }


        @media (max-width: $tablet) {
            width: 100%;
            vertical-align: middle;
        }

        span {
            color: $grey;
            font-size: 2.5rem;
            display: block;
            font-weight: bold;
            margin: 0;
            padding: 0;
            line-height: 1;

            @media (max-width: $mob) {
                color: $black;
                font-size: 3rem;
            }

            // &:first-of-type {
            //     color: $black;
            //     font-size: 4rem;
            //     display: block;
            //     margin: 0;
            //     padding: 0;

            //     @media (max-width: 992px) {
            //         font-size: 3rem;
            //     }
            // }

        }

        .divider {
            float: none;
            max-width: 75%;
            margin: 0.5em 0;

            @media (max-width: $mob) {
                display: none;
            }
        }
    }

    &__prices-item {
        &:first-of-type {
            span {
                color: $black;
                font-size: 3.5rem;
                display: block;
                margin: 0;
                padding: 0;

                @media (max-width: 992px) {
                    font-size: 2.5rem;
                }
            }
        }

        &--mob-hide {
            @media (max-width: $mob) {
                display: none;
            }
        }
        @media (max-width: $tablet){
            width:50%;
            float:left;
            span{
                font-size:2.2rem
            }
        }
        &.valuation__delivery{
            @media (max-width: $tablet){
                float: right;
                small, span {
                    display: block;
                    width: 100%;
                    text-align: center;
                }
            }
        }
        &.valuation__collection{
            @media (max-width: $tablet){
                float: left;
                small, span {
                    display: block;
                    width: 100%;
                    text-align: left;
                }
            }
        }
    }

    &__button {
        width: 19%;
        padding: 1rem;

        a.button, input.button{
          background-color: $green;
          border:1px solid $green;

          &:hover{
            background:darken($green,10%);
            border:1px solid darken($green,10%);
          }

          &.button--grey-bg{
            background-color: #999;
            border: 1px solid #999;

            &:hover{
              background-color: transparent;
              color:#999;
            }
          }

        }

        @media (max-width: 992px) {
            font-size: 14px;
        }

        @media all and (max-width: $tablet) {
            width: 100%;
            padding: 0;
        }

        @media (max-width: 600px) {
            width: 40%;
        }

        @media (max-width: 500px) {
            width: 50%;
            float: right;

            a {
                padding: 0.5em;
                margin: 0.8em 0 0;
            }
        }

        @media (max-width: $tablet){
            position: absolute;
            top:0;
            right:0;
        }

        input[type="submit"] {
            font-size: 16px;
            line-height: 25px;
            @media all and (max-width: $tablet) {
                padding: 1rem;
                font-size: 14px;
            }
            @media all and (max-width: 500px) {
                line-height: 21px;
                padding: 0.5em;
                margin: 0.8em 0 0;
            }
        }
    }

    @media (max-width: 600px) {
        // &__distance,
        // &__location,
        &__ticklist {
            display: none;
            margin-top: 20px;
        }
    }
}

.jamjar-valuations-list {
    .box__content {
        padding: 0;
    }

    .box__item {
        text-align: center;
        @media (min-width: $phone){
            text-align: left;
        }
        border-bottom: 1px solid #EEE;

        h1 {
            margin: 0;
        }
    }
}

.valuation__ticklist{
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 769px){
    .valuation__list.desktop-hide ul {
        display: none;
        &.show{
            display: flex;
        }
    }
}

.valuation__ticklist{
    li {
        width: 50%;
        float: left;
        @media (max-width:$tablet){
            width:100%;
            padding:0.5rem 0;
            i{
                margin-bottom: 1rem;
                display: block;
                float: left;
                margin-right: 0.5rem;
            }
        }
    }
}

#storeUserDetails .manual-hide {
    display: none;
}

#storeUserDetails .manual{
    font-size: 10px;
    color:#1E89D3;
    margin:5px 0px 10px 10px;
    font-weight: bold;
    border:none;
}

#storeUserDetails .manual:hover{
    color:#1E89D3;
    text-decoration: underline !important;
    border:none;
}

.vehicle-image { 
    width: 23%;
    height: 120px;
    margin: 1%;
    float: left;
    position: relative;
    border: 2px solid #ec8807;

    @media (max-width: 768px) {
      width: 10.5%;
      height: 80px;
    }

    @media (max-width: 1024px) {
      height: 120px;
    }

    img{
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
    }

    span{
      z-index: 1;
    }
}

.valuation-drafts-for-client-container {
    padding-right: 20px;

    @media (max-width: 650px) {
        padding-right: 0;
    }
}

.valuation-draft-holder .image-box {
    width: 30%;
    float: left;
    position: relative;

    & .lock-information {
        position: absolute;
        top: 3%;
        width: 90%;
        height: 97%;
        font-size: 10px;

        @media (max-width: 1024px) {
            width: 250%;
            height: 120%;
            top: 10%;
        }

        @media (max-width: 650px) {
            width: 200%;
            height: 90%;
            top: 10%;
        }

    }

    .lock-image-box {
        position: absolute;
        top: 19px;
        left: -5px;

        @media (max-width: 1024px) {
            top: 10px;
        }

        @media (max-width: 650px) {
            top: 10px;
        }


    }

    @media (max-width: 650px) {
        width: 50%;
    }
}

.additional-continue-box {
    display: none;
    @media (max-width: 650px) {
        display: block;
    }
}

.valuation-draft-holder td {
    padding: 15px 0;
}

.valuation-draft-holder .prices-box {
    width: 20%;
    font-weight: bold;
    float: right;

    @media (max-width: 650px) {
        width: 50%
    }

    & .valuation__prices-item {
        width: 100%;
        margin-top: 10px;

        @media (max-width: 650px) {
            & small, span {
                text-align: center;
                display: block;
            }
        }

        & small {
            font-weight: 400;
        }
    }
}

.mobile-hide {
    @media (max-width: 650px) {
        display: none !important;
    }
}

.show-mobile {
    display: none;
    @media (max-width: 650px) {
        display: block;
    }
}

.show-mobile-inline {
    display: none;
    @media (max-width: 650px) {
        display: inline;
    }
}

.valuation-draft-holder .details-box {
    width: 50%;
    float: left;
    font-size: 0.8em;

    @media (max-width: 650px) {
        width: 100%;
        & .valuation__ticklist li:nth-of-type(2n+1) {
            width: 50%;
            float: left;
        }

        & .valuation__ticklist li {
            width: 50%;
            float: left;
        }
    }
}

.your-details-login-submit-button {
    padding: 27px 10px 10px 10px;

    @media (max-width: 650px) {
        padding: 10px
    }
}

.thumbnails-holder {
    width: 100%;
    border: 2px dashed grey;
    padding: 13px 7px;
    min-height: 165px;
    display: inline-block;
    position: relative;
}

.offers-summary {
    text-align: center;

    @media (max-width: 650px) {
        margin-bottom: 15px;
    }
}

.offers-summary .offers-count {
    color: #ffbd06;
    font-weight: bold;
    font-size: 70px;
    position: relative;

    @media (max-width: 650px) {
        font-size: 60px;
        line-height: 65px;
    }
}

.offers-summary .offers-tip {
    @media (max-width: 650px) {
        font-size: 14px;
        height: 50px;
    }
}

.offers-summary .offers-continue-button {
    width: 80%;
    font-size: 15px;
    border-radius: 30px;
}

.offers-summary .vehicle-text {
    font-weight: bold;

    @media (max-width: 650px) {
        height: 37px;
    }
}

tr.valuation-draft-holder:first-of-type {
    border-top: 0;
}

.pulse-button {
    position: relative;
    width: 100px;
    height: 100px;
    border: none;
    box-shadow: 0 0 0 0 rgba(112, 206, 71, 0.7);
    border-radius: 50%;
    background-color: #70ce47;
    //background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/173024/jonathanlarradet_copy.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-animation: pulse 2.5s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 2.5s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 2.5s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 2.5s infinite cubic-bezier(0.66, 0, 0, 1);
}

.offers-slide-button {
    height: 60px;
    width: 60px;
    position: absolute;
    right: 10px;

    &:before {
        font-family: FontAwesome;
        content: '\f063';
        position: relative;
        top: -8px;
        color: white;
        font-size: 35px;
        left: 1px;
    }
}

.pulse-button:hover
{
    -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
