.footer {
    padding: 4rem 0;
    background-color: $white;
    min-height: 50px;
    text-align: center;
    color: $black;

    @media all and (max-width: $tablet) {
        padding: 2rem 0;
    }

    // margin-top: 25px;

    a {
        color: $black;
    }

    &__copyright,
    &__logo {
        width: 20%;
        float: left;
        text-align: center;
        display: inline-block;
        clear: both;

        img {
            float: left;

            @media all and (max-width: $tablet) {
                float: none;
                margin-bottom: 10px;
            }
        }

        p {
            font-size: 1.25rem;
        }
    }

    &__logo {
        img{
            margin-bottom: 1rem;
        }
        @media (max-width: $sm) {
            img {
                width: 100px;
            }
        }
    }

    &__navigation{
        width: 60%;
        float: right;
        display: inline-block;
        text-align: right;
    }

    &__copyright,
    &__logo,
    &__navigation,
    &__social {
        @media all and (max-width: $tablet) {
            float: none;
            display: block;
            width: 100%;
            text-align: center;
        }
    }

    &__navigation {
        @media all and (max-width: 1100px) {
            width: 50%;
        }

        @media all and (max-width: $tablet) {
            display: inline-block;
            width: 100%;
            display: none;
        }
    }

    &__copyright {
        @media all and (max-width: $tablet) {
            // margin: 20px 0;
        }
    }

    .menu {
        list-style: none;
        float: right;
        margin: 0;
        padding: 0;

        @media all and (max-width: $tablet) {
            width: 100%;
            float: none;
            max-width: 70%;
            text-align: center;
            margin: 0 auto;
            display: none;
        }

        &__item {
            float: left;
            margin: 0;
            width: unset !important;

            @media all and (max-width: $tablet) {
                float: none;
                margin-left: 0;
                display: inline-block;
            }
        }

        &__link {
            font-weight: bold;
            padding: 1rem 1.5rem;
            font-size: 1.45rem;
            border: none;

            &:hover {
                color: $orange;
                border: none;
            }

            @media (max-width: 1220px) {
                padding: 1rem;
            }

            @media all and (max-width: $tablet) {
                // display: inline-block;
            }
        }
    }

    &__social {
        display: inline-block;
        font-size: 20px;
        float: left;
        a{
          border-bottom: none;
          text-decoration: none;
          color: #6e6e6e;
        &:hover{
            border-bottom: none;
            text-decoration: none;
            color: $orange;
          }
          i{
            padding: 0 10px;
            &:first-child{
              padding-left: 0;
            }
          }
        }
    }
}

.footer__partner_matrix {
    text-align: center;
    margin-top: 25px;

    .footer__copyright,
    .footer__logo {
        display: block;
        margin: 0 auto;
        float: none;
        text-align: center;

        img {
            float: none;
            margin-bottom: 25px;
        }
    }
}
.footer__copyright{
    width: 100%;
    padding-top: 10px;
    .address{
      float: left;
    }
    .copyright{
      float: none;
        @media (min-width: $tablet) {
            float:right;
        }
    }
  }
