.jj-sticky-header {
    position: fixed;
    top: 0;
    left: 0;
}

.header {
    width: 100%;
    background-color: #000;
    z-index: 21;
    text-align: center;
    padding: 2rem 0;

    @media all and (min-width: $tablet) {
        box-shadow: 1px 1px 2.5px #333;
    }

    @media (max-width: 600px) {
        padding: 1rem 0;
    }

    &__container {
        position: relative;
    }

    &__hamburger,
    &__logo,
    &__navigation {
        width: auto;
        float: left;

        i {
            font-size: 3rem;
            color: #fff;
            vertical-align: middle;
            padding: 0;
            transition: all 0.2s ease-in-out 0s;

            @media (max-width: 600px) {
                font-size: 2rem;
            }
        }

        .menu__link {
            &:hover {
                i {
                    color: $white;
                }
            }
        }
    }

    &__navigation {
        position: absolute;
        right: 0;
        top: 50%;
        text-align: left;
        transform: translateY(-50%);

        @media all and (max-width: 900px) {
            span {
                display: none;
            }
        }
    }

    &__hamburger {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    &__logo {
        float: none;
        text-align: center;
        width: 300px;
        display: inline-block;

        @media (max-width: 600px) {
            width: 120px;
        }

        @media (max-width: 600px) {
            width: 80px;

            // float: left;
            // margin-left: 2em;
        }

        a {
            display: block;
        }
    }

    &__navigation {
        float: right;
        text-align: right;
    }

    a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        border-bottom: 0;
        border-color: transparent;

        &:hover {
            border: 0;
            color: $white;
        }
    }

    @extend .clear;

    // matrix header
    &--matrix {
        box-shadow: none;
        border-bottom: 1px solid rgba(#6e6e6e, 0.5);
        background-color: $white;

        .header__logo {
            width: 100%;
            margin: 0;

            img {
                max-height: 120px;
            }
        }
    }
}

.subheader {
    border-bottom: 1px solid rgba(#6e6e6e, 0.5);
    padding: 2rem 0;
    position: relative;
    margin-bottom: 2rem;

    @media all and (max-width: $tablet) {
        text-align: center;
    }

    &__button,
    &__title {
        width: 50%;
    }

    .button {
        padding:1rem 1rem;
        font-size:0.9em;
        @media (min-width: $phone){
            font-size:1em;
        }
    }

    &__title {
        margin: 0;
        margin-top: 0.5em;
        float: left;

        @media all and (max-width: $tablet) {
            float: none;
            display: block;
            margin: 0 auto 10px;
            text-align: center;
            width: 100%;
        }
    }

    &__button {
        float: right;

        .button {
            margin: 0;
            float: right;
            font-size:0.8em;
            @media (min-width: $phone){
                font-size:1em;
            }
        }
    }

    @media all and (max-width: $tablet) {
        .u-pull-right {
            float: none;
            display: inline-block;
        }
    }
}

.blackout {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($offblack, 0.95);
    opacity: 0;

    &.active {
        z-index: 10;
        opacity: 1;
    }
}

.spacer{
    padding-bottom:45px;
    @media (min-width: $phone){
        padding-bottom:82px;
    }
}