.u-color {
    &-orange {
        color: $orange;

        &:hover {
            color: $orange;
        }
    }

    &-red {
        color: $red;
    }

    &-grey {
        color: $grey;
    }
}

.u-lead {
    font-size: 2.25rem;
}

.u-text-orange {
    color: $orange !important;
}

.u-text-yellow {
    color: $yellow !important;
}

.u-text-green {
    color: $green !important;
}

.u-text-grey,
.u-text-muted {
    color: $grey !important;
}

.u-text-black {
    color: $black !important;
}

.u-text-red {
    color: $google !important;
}

.u-text-lightblue {
    color: $matrixLightBlue;
}

.u-text-center {
    text-align: center;
}

.u-text-right {
    text-align: right;
}

.u-link-underline {
    border-bottom: 1px solid #6e6e6e !important;
}

.u-font-bold {
    font-weight: bold;
}

.u-font-underline {
    text-decoration: underline;
}

.u-pull-right {
    float: right;
    text-align: right;
}

.u-pull-left {
    float: left;
    text-align: left;
}

.u-mr {
    margin: 0 1rem;
}

.u-pos-rel {
    position: relative;
}

.u-hide {
    display: none;
}

.show {
    display: block;
}

.u-color-facebook {
    color: $facebook;
}

.u-color-twitter {
    color: $twitter;
}

.u-color-email {
    color: $orange;
}

.u-no-columns {
    width: 100%;

    li {
        width: 100%;
        padding: 0.5rem 0;
    }
}

.u-cursor-pointer {
    cursor: pointer;
}

.u-float-left {
    float: left;
}

.u-float-right {
    float: right;
}

.divider {
    margin-top: 2.5rem;
    border-bottom: 1px solid #bbbdc0;
    margin-bottom: 2.5rem;
    display: block;
    clear: both;
    float: left;
    width: 100%;
    position: relative;

    &--light {
        border-color: #dddddd;
    }

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $white;
        display: block;
        border: 1px solid rgba($offblack, 0.4);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        padding: 0.5rem 0;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        color: $grey;
    }

    &--small {
        margin: 0;
    }
}

.u-disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.u-full-list {
    width: 100% !important;
    float: left !important;
    margin-bottom: 1rem !important;
    margin-left: 1.5rem !important;
    list-style: bullet !important;

    li {
        width: 100% !important;
        float: left !important;
        display: block !important;
        margin: 0.5rem 0 !important;
        list-style: bullet !important;
    }
}

.split-list {
    @media all and (min-width: $tablet) {
        ul {
            list-style: none;

            li {
                width: 50%;
                float: left;
                margin-bottom: 1rem;
            }
        }
    }

    a {
        font-weight: bold;
        border-bottom: 1px solid $orange;
    }
}

.title {
    text-transform: uppercase;
    font-size: 1.8rem;
    padding: 1rem 0;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.mini-plate {
    background-color: #ffed00;
    color: $black;
    font-family: "uknumberplateregular";
    text-transform: uppercase;
    border-radius: 0.5rem;
    font-size: 2rem;
    padding: 0.35rem;
    text-align: center;
    margin: 0 1rem;
    display: inline-block;
    cursor: pointer;
}

.fullPageLoader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999999999;
}

.fullPageLoader::after {
    content: '\f021';
    font-family: 'FontAwesome';
    color: white;
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: spin 0.85s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
