<template>

    <div class="dashboard__col">
        <div class="box box--with-header box--no-margin">
            <div class="box__header header-theme-marketplace" id="your-rules">Your Rules</div>
            <div style="z-index: 100; background-color: white; text-align: right; border-bottom: none; margin-bottom: 0px; padding-bottom: 0px;" id="save-all-header" class="offer__section">
                <form :action="'/associates/automated-bids/update-value-for-all-rules'" method="POST" :id="'set-for-all-rules'">
                    <input type="hidden" name="_token" :value="csrf">
                    <input type="hidden" name="_method" value="POST">
                    <p style="margin-bottom: 0px;"><strong>Change ALL rule defaults</strong> <input style="width: 100px; height:40px; text-align: center; font-size: 20px;" type="number" name="set-all" class="derivatives-checked-base-value"> % <a id="save--for-all-rules" style="margin-left: 20px;" class="button button--orange-bg" v-on:click.stop.prevent="saveForAllRules()">save value</a></p>
                </form>
            </div>
            <div class="box__content box__content--with-padding">

                <div class="suggested-values partner-add-to-marketplace " :class="[missing.length==2 ? 'both-errors' : '',(missing.length>0 && missing[0]=='postcode') ? 'postcode-error' : '',(missing.length>0 && missing[0]=='funds') ? 'funds-error' : '',missing.length>0 ? 'auto-bids-error-bg' : '']"   style="margin-bottom:15px" v-if="missing.length!=0">

                    <template v-if="missing.length==2">
                        <div class="add-to-marketplace__left" style="float:left">
                            <div style="font-weight: bold; font-size: 23px;">
                               We are missing multiple settings before we can start searching.
                            </div>
                            <div style="margin-top: 6px;">
                                <span style="color:#be7b7c">These are:</span> <a href="/associates/settings" class="errors-links">No postcode areas</a>, <a class="errors-links" href="/associates/funds">missing funds</a>
                            </div>
                        </div>

                    </template>
                    <template v-else>
                        <template v-if="missing[0]=='funds'">
                            <div class="add-to-marketplace__left" style="float:left" >
                                <div style="font-weight: bold; font-size: 23px;">
                                    These rules will only activate once you have added funds.
                                </div>
                                <div style="margin-top: 6px;">
                                    To add funds, please navigate to funds & billing under Setup, or use this button.
                                </div>
                            </div>
                            <div class="add-to-marketplace__right" style="float:left;margin-left:20px">
                                <a  href="/associates/funds" class="button button--orange-bg magic-btn">GO TO FUNDS & BILLING</a>
                            </div>
                        </template>
                        <template v-if="missing[0]=='postcode'">
                            <div class="add-to-marketplace__left" style="float:left" >
                                <div style="font-weight: bold; font-size: 23px;">
                                    You haven't selected any postcode areas to purchase from
                                </div>
                                <div style="margin-top: 6px;">
                                    We need to know the area you're looking to purchase vehicles before searching.
                                </div>
                            </div>
                            <div class="add-to-marketplace__right" style="float:left;margin-left:20px">
                                <a  href="/associates/settings" class="button button--orange-bg magic-btn">GO TO ASSOCIATES SETTINGS</a>
                            </div>
                        </template>


                    </template>

                </div>

                <div v-if="data && data.length>0">
                    <div class="offer-box__header">
                        <div class="offer-box__vehicles">
                            <p>Vehicles Included</p>
                        </div>
                        <div class="offer-box__actions">
                            <p>Actions</p>
                        </div>
                    </div>
                    <div class="offer" v-for="(offer,index) in data">
                        <!-- .offer__header -->
                        <div class="offer__header">
                            <div class="offer__title">
                                <h3>{{ offer.manufacturer_name }}</h3>
                                <span>{{offer.fuel_type=='Petrol' ? 'Petrol/Hybrid/Electric' : 'Diesel'}}</span>
                                <p>{{ offer.name }}</p>
                            </div>
                            <div class="offer__buttons">
                                <div style="font-size: 16px" v-if="offer.is_model_value_changed">
                                    One or more values within this rule is different than original rule default
                                </div>
                                <form :action="'/associates/automated-bids/'+offer.slug+'/update-value-for-all'" method="POST" :id="'set-for-all-'+offer.id">
                                <p style="font-size: 16px;"><strong>Original rule default</strong> <input :value=offer.base_value style="width: 100px; height:40px; text-align: center; font-size: 20px;" type="number" name="set-all" class="derivatives-checked-base-value"> % <a style="margin-left: 20px;" class="button button--orange-bg save--for--all" :data-rule-id="offer.slug" v-on:click.stop.prevent="saveForAll(offer.id)">save value</a></p>
                                    <input type="hidden" name="_token" :value="csrf">
                                    <input type="hidden" name="_method" value="PATCH">
                                    <input type="hidden" name="redirect" value="true">
                                </form>
                                <a :href="'/associates/automated-bids/'+offer.slug+'/vehicles'" class="button button--narrow button--grey-bg">add / remove vehicles</a>
                                <a :href="'/associates/automated-bids/'+offer.slug+'/edit'" class="button button--narrow button--orange-bg">view / edit</a>
                                <a v-if="offer.offerCount" :href="'/associates/suggested-values/'+offer.slug" class="button button--narrow button--green-bg">show all suggested values ({{offer.offerCount}})</a>
                                <a v-else-if="offer.offerCount == 0" onclick="return false" class="button button--narrow button--green-bg">no suggested values</a>
                                <br>
                                    <a :href="'/associates/automated-bids/'+offer.slug+'/pause'" class="button button--narrow button--red" v-if="offer.active">pause</a>
                                    <a :href="'/associates/automated-bids/'+offer.slug+'/complete'" class="button button--narrow button--green-bg" v-if="!offer.active && missing.length==0">activate</a>

                                <a class="button button--narrow button--red-bg" v-on:click.stop.prevent="deleteOfferVue(offer.id)">delete</a>
                                <form :action="'/associates/automated-bids/'+offer.slug" method="POST" :id="'delete-offer-'+offer.id">
                                    <input type="hidden" name="_token" :value="csrf">
                                    <input type="hidden" name="_method" value="DELETE">
                                </form>
                            </div>
                        </div>

                        <div class="row" v-if="!offer.active">
                            <div class="col-md-12" style="margin-top:20px;margin-bottom:10px;">
                                <span class="rule-paused">RULE PAUSED</span>
                            </div>
                        </div>

                        <div class="row" v-if="offer.models.length==0">
                                <div class="col-md-12">
                                    <p><strong>You have not selected any vehicles.</strong></p>
                                </div>
                        </div>


                    </div>


                </div>
                <div v-if="data && data.length==0 && !showSpinner">
                    <p class="u-text-muted">You have not created any rules.</p>
                </div>


            </div>

        </div>

        <div v-show="showSpinner === true" class="loader" style="">
            <div class="loader__box">
                <div class="loader__content">
                    <i class="fa fa-car"></i>
                    <h3>Please wait, this may take a couple of seconds...</h3>
                </div>
            </div>
        </div>


    </div>



</template>

<script>

    export default {


        props: ['csrf', 'missing'],
        mounted() {

            this.getData(false);


        },
        data() {
            return {

                data:[],
                showSpinner: true,
                scrap_dealer:0

            }
        },
        methods: {


            deleteOfferVue(id) {

                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this bid",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then(function(willDelete) {
                    if (willDelete) {
                        document.getElementById('delete-offer-' + id).submit();
                    } else {
                        swal("Your offer is safe");
                    }
                });

            },
            getData(newPage) {


                return axios.get('/api/automated-bids/get-data')
                    .then(({data}) => {
                        this.data = data.data;
                        this.showSpinner = false;
                        this.scrap_dealer = data.scrap_dealer;

                    });

            },

            saveForAll(id) {
                swal({
                    title: "Are you sure?",
                    text: "You are going to change all values for this rule only",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                }).then((willDelete) => {
                        if (willDelete) {
                            document.getElementById('set-for-all-' + id).submit();
                        }
                    });

            },

            saveForAllRules() {
                swal({
                    title: "Are you sure?",
                    text: "You are going to change values for all rules",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                }).then((willDelete) => {
                        if (willDelete) {
                            document.getElementById('set-for-all-rules').submit();
                        }
                    });
            }

        }
    }


</script>