<template>
    <div class="row" style="margin: 0;">
        <div class="col-5">
            <p><strong>CAR VALUE (&pound;)</strong></p>
            <input type="text" class="billing_car_value" v-model="valuation" @keyup.enter="calculateCost(selectedPosition)" required>
        </div><!-- /.col -->
        <div class="col-2">
            <p><strong>&nbsp;</strong></p>
            <a class="button" :class="[ selectedPosition == 1 ? 'button--orange-bg' : 'button--lightgrey' ]" @click="calculateCost(1)">Calculate Fee</a>
        </div>
        <div class="col-5">
            <p><strong>YOUR FEE</strong></p>
            <strong class="billing_big_fee">&pound;{{ this.calculatedValue }}</strong>
        </div><!-- /.col -->
    </div><!-- /.row -->
</template>

<script>
    export default {
        mounted() {
            console.log('cost calculator component mounted.');
        },

        data() {
            return {
                valuation: '',
                selectedPosition: 1,
                calculatedValue: 0,
            }
        },

        methods: {
            calculateCost(value) {
                this.selectedPosition = value;
                axios.post('/api/billing/calculator', { 'position': this.selectedPosition, 'valuation': this.valuation })
                    .then(({data}) => {
                        this.calculatedValue = data;
                    });
            },
        }
    }
</script>
