<template>
    <div>
        <!--
            This component is not in use.
            It is a rewrite of MatrixOffers.vue which is a monster
            We will continue to try to re-write this component here.
            Uses CreateOfferFormRules, CreateOfferFormVehicles and CreateOfferFormConfirm
        -->
        <rules 
            v-if="showStepOne" 

            :offer="offer" :years="years" :colors="colors" :defects="defects"

            @spinner="toggleSpinner" 
            @selected="setSelectedData"
            @finished="goToStepTwo"
        ></rules>
        <vehicles 
            v-if="showStepTwo" 

            :offer="offer" :models="models" :database="database"
            
            @selected="updateModelsAndDerivatives"
            @syncValues=""
            @spinner="toggleSpinner" 
        ></vehicles>
        <confirm v-if="showStepThree"></confirm>

        <div v-show="showSpinner === true" class="loader" style="">
            <div class="loader__box">
                <div class="loader__content">
                    <i class="fa fa-car"></i> 
                    <h3>Please wait, this may take up to 30 seconds...</h3>
                </div>
            </div>
        </div>
    </div>    
</template>

<script>
    import Rules from './CreateOfferFormRules';
    import Vehicles from './CreateOfferFormVehicles';
    import Confirm from './CreateOfferFormConfirm';
    import Spinner from 'vue-simple-spinner';

    export default {
        props: ['colors', 'years', 'defects'],
        components: { Rules, Vehicles, Confirm, Spinner },

        data() {
            return {
                // Component Specific Controls
                showStepOne: true,
                showStepTwo: false,
                showStepThree: false,
                showSpinner: false,

                // Data we collect to send to the server
                manufacturers: [],
                models: [],
                derivatives: [],

                // Selected 
                selectedVehicleType: '',
                selectedManufacturer: '',
                selectedFuelType: 0,

                // Data we retreive from the database for more accurate display
                database: {
                    manufacturer: [],
                    offer: [],
                },

                // Data we build up from children
                offer: {
                    'manufacturer_id': '',
                    'fuel_type': '',
                    'base_value': 100,
                    'name': '',
                    'great_condition_percentage_modifier': 100,
                    'good_condition_percentage_modifier': 80,
                    'avg_condition_percentage_modifier': 60,
                    'poor_condition_percentage_modifier': 40,
                    'minimum_age': '1983-A',
                    'maximum_age': '2017-17',
                    'minimum_mileage': 0,
                    'maximum_mileage': '',
                    'minimum_value': 0,
                    'maximum_value': '',
                    'minimum_service_history': 'None',
                    'minimum_mot': 'Expired',
                    'maximum_write_off_category': 'none',
                    'maximum_previous_owners': '5',
                    'acceptable_colors': [],
                    'acceptable_defects': [],
                    'accept_write_offs': 0
                },


            }
        },

        methods: {
            // Component Navigation
            goToStepTwo(data) {
                this.showStepOne = false
                this.showStepTwo = true
                
                this.database.offer = data.offer
                this.database.manufacturer = data.manufacturer
                this.fetchModels()

                swal('Bid Saved', 'Proceeding to Step 2', 'success', {
                    buttons: false,
                    timer: 1500,
                })

                // console.log(data)

                alert('Step two activated')
            },

            toggleSpinner(data) {
                this.showSpinner = data.show
            },

            // React to Child Events
            
            setSelectedData(data) {
                switch(data.type) {
                    case 'vehicleType':
                        this.selectedVehicleType = data.value
                        break
                    case 'manufacturerId':
                        this.selectedManufacturer = data.value
                        break
                    case 'fuelType':
                        this.selectedFuelType = data.value
                        break
                }
                // console.log(data)
                // this.selectedVehicleType = data
            },

            updateModelsAndDerivatives(data) {
                console.log('hit the event')
                this.models = data
            },


            // API Calls

            fetchModels() {
                let manufacturerCapId = this.selectedManufacturer;
                this.showAllModelSpinner = true;

                if (manufacturerCapId) {
                    axios.get('/api/vehicles/models/'+manufacturerCapId+'?vehicleType='+this.selectedVehicleType+'&fuelType='+this.selectedFuelType+'&minAge='+this.offer.minimum_age+'&maxAge='+this.offer.maximum_age)
                        .catch(error => {
                            swal('No Models could be found!', 'Taking you back to step one.', 'error', {
                                buttons: false,
                                timer: 1500,
                            })
                            .then(() => {
                                this.showStepTwo = false;
                                this.showStepOne = true;
                            });
                            return false;
                        })
                        .then(response => {
                            this.models = response.data.map((model) => {
                                model.derivatives = [];
                                model.base_value = '';
                                return model;
                            });
                            this.showAllModelSpinner = false;
                        });
                }
            },
        }
    }
</script>
