<template>
    <div>
        <div class="box__header header-theme-marketplace" >
            <span>1</span> Set Default Offer Rules
        </div>
        <div class="box__content">
            <div class="offer__section">
                <h3>Choose Vehicle Type</h3>
                <a
                    class="offer__button"
                    :class="{ active : selectedVehicleType === 'car' }"
                    @click="selectVehicleType('car')"
                >
                    Car
                </a>
                <a
                    class="offer__button"
                    :class="{ active : selectedVehicleType === 'lcv' }"
                    @click="selectVehicleType('lcv')"
                >
                    Commercial
                </a>
            </div>

            <div v-if="showManufacturers" class="offer__section" id="sectionManufacturers">
                <h3>Choose Manufacturer</h3>
                <a
                    class="offer__button"
                    :class="{ active : selectedManufacturer == manufacturer.cap_manufacturer_id }"
                    v-for="manufacturer in manufacturers"
                    @click="selectManufacturer(manufacturer.cap_manufacturer_id)"
                >
                    {{ manufacturer.name }}
                </a>
            </div>

            <div v-if="showFuelTypes" class="offer__section" id="sectionFuelTypes">
                <h3>Choose Fuel Type</h3>
                <a
                    class="offer__button"
                    :class="{ active : selectedFuelType == type }"
                    v-for="type in fuelTypes"
                    @click="selectFuelType(type)"
                >
                    {{type}}
                </a>
            </div>

            <div v-if="showOfferForm">

                <div class="offer__section" id="sectionOfferForm">
                    <h3>Nickname Rule?</h3>
                    <p>Your offer will be named based on manufacturer / fuel type, but your can also set a nickname to help label it.</p>
                    <input type="text" class="form__input form__input--half" id="name" name="name" v-model="offer.name">
                </div>

                <div class="offer__section">
                    <h3>Set Default Vehicle Value</h3>
                    <p>This is the percentage of the CAP average value you wish to use as a default for these vehicles.</p>
                    <input type="text" class="form__input form__input--quarter" id="base_value" name="base_value" v-model="offer.base_value"> <strong class="form__after">% of the average CAP value</strong>
                </div>

                <div class="offer__section">
                    <h3>Set Vehicle Condition Value Reductions</h3>
                    <p>When customers value their car they will describe the condition as either Great, Good, Fair or Poor. Please set the percentage of the best value you wish to offer based on condition. 'Great' is considered the best condition, therefore the highest value you can offer.</p>

                    <div class="form__group form__group--half">
                        <label for="great_condition_percentage_modifier" class="form__label">Great</label>
                        <input class="form__input" name="great_condition_percentage_modifier" id="great_condition_percentage_modifier" :value="offer.great_condition_percentage_modifier" disabled>
                        <p>Great condition - No damage, showroom condition.</p>
                    </div>
                    <div class="form__group form__group--half">
                        <label for="good_condition_percentage_modifier" class="form__label">
                            Good <span class="form__required">*</span>
                        </label>
                        <input class="form__input" name="good_condition_percentage_modifier" id="good_condition_percentage_modifier" v-model="offer.good_condition_percentage_modifier">
                        <p>Good condition - Just a couple of slight defects - i.e. one or two ding dents or scuffed alloy wheels, or a light scratch.</p>
                    </div>
                    <div class="form__group form__group--half">
                        <label for="avg_condition_percentage_modifier" class="form__label">
                            Fair <span class="form__required">*</span>
                        </label>
                        <input class="form__input" name="avg_condition_percentage_modifier" id="avg_condition_percentage_modifier" v-model="offer.avg_condition_percentage_modifier">
                        <p>Fair condition - i.e 2 or 3 heavier scratches, couple of tyres below legal limit, small dents.</p>
                    </div>
                    <div class="form__group form__group--half">
                        <label for="poor_condition_percentage_modifier" class="form__label">
                            Poor <span class="form__required">*</span>
                        </label>
                        <input class="form__input" name="poor_condition_percentage_modifier" id="poor_condition_percentage_modifier" v-model="offer.poor_condition_percentage_modifier">
                        <p>Poor condition - i.e. heavily dented, heavy scratches, illegal tyres, poor interior condition.</p>
                    </div>

                </div>

                <div class="offer__section">
                    <h3>Set Rules</h3>
                    <p>Set criteria that will determine what vehicles you will offer on.</p>

                    <div class="form__group form__group--half">
                        <label for="minimum_age" class="form__label">Year From</label>
                        <select name="minimum_age" id="minimum_age" class="form__input" v-model="offer.minimum_age">
                            <option disabled>Please Select</option>
                            <option :value="year.plate_year + '-' + year.plate_number" v-for="year in years">
                                {{year.plate_year}} {{year.plate_number}}
                            </option>
                        </select>
                    </div>

                    <div class="form__group form__group--half">
                        <label for="maximum_age" class="form__label">Year To</label>
                        <select name="maximum_age" id="maximum_age" class="form__input" v-model="offer.maximum_age">
                            <option disabled>Please Select</option>
                            <option :value="year.plate_year + '-' + year.plate_number" v-for="year in years">
                                {{year.plate_year}} {{year.plate_number}}
                            </option>
                        </select>
                    </div>

                    <div class="form__group form__group--half">
                        <label for="minimum_mileage" class="form__label">
                            Minimum Mileage <span class="form__required">*</span>
                        </label>
                        <input class="form__input" type="text" pattern="\d*" max="999999" min="0" maxlength="6" name="minimum_mileage" id="minimum_mileage" v-model="offer.minimum_mileage" required v-validate="'required'">
                    </div>

                    <div class="form__group form__group--half">
                        <label for="maximum_mileage" class="form__label">
                            Maximum Mileage <span class="form__required">*</span>
                        </label>
                        <input class="form__input" type="text" pattern="\d*" max="999999" min="0" maxlength="6" name="maximum_mileage" id="maximum_mileage" v-model="offer.maximum_mileage" required v-validate="'required'">
                    </div>

                    <div class="form__group form__group--half">
                        <label for="minimum_value" class="form__label">
                            Minimum Value &pound; <span class="form__required">*</span>
                        </label>
                        <input class="form__input" type="text" pattern="\d*" max="999999" min="0" maxlength="6" name="minimum_value" id="minimum_value" v-model="offer.minimum_value" required v-validate="'required'">
                    </div>

                    <div class="form__group form__group--half">
                        <label for="maximum_value" class="form__label">
                            Maximum Value &pound; <span class="form__required">*</span>
                        </label>
                        <input class="form__input" type="text" pattern="\d*" max="999999" min="0" maxlength="6" name="maximum_value" id="maximum_value" v-model="offer.maximum_value" required v-validate="'required'">
                    </div>

                    <div class="form__group form__group--half">
                        <label for="minimum_service_history" class="form__label">
                            Minimum Acceptable Service History <span class="form__required">*</span>
                        </label>
                        <select name="minimum_service_history" id="minimum_service_history" class="form__input" v-model="offer.minimum_service_history">
                                <option disabled>Please Select</option>
                                <option value="FullFranchise">Full Franchise History</option>
                                <option value="PartFranchise">Part Franchise History</option>
                                <option value="PartHistory">Part History</option>
                                <option value="MinimalHistory">Minimal History</option>
                                <option value="None" selected>None</option>
                        </select>
                    </div>

                    <div class="form__group form__group--half">
                        <label for="minimum_mot" class="form__label">
                            Minimum Acceptable MOT <span class="form__required">*</span>
                        </label>
                        <select name="minimum_mot" id="minimum_mot" class="form__input" v-model="offer.minimum_mot">
                            <option disabled>Please Select</option>
                            <option value="SixPlus">6 Months+</option>
                            <option value="ThreetoSix">3-6 Months</option>
                            <option value="OneToThree">1-3 Months</option>
                            <option value="LessThanOne">Less Than 1 Month</option>
                            <option value="Expired" selected>Expired</option>
                        </select>
                    </div>

                    <div class="form__group form__group--half">
                        <label for="maximum_write_off_category" class="form__label">
                            Maximum Acceptable Write Off Category <span class="form__required">*</span>
                        </label>
                        <select name="maximum_write_off_category" id="maximum_write_off_category" class="form__input" v-model="offer.maximum_write_off_category" required v-validate="'required'">
                            <option disabled>Please Select</option>
                            <option value="none" selected>None</option>
                            <option value="A">Cat A (Can't be repaired)</option>
                            <option value="B">Cat B (Can't be repaired)</option>
                            <option value="C">Cat C (Can be repaired, but it would cost more than the vehicle's worth)</option>
                            <option value="D">Cat D (Can be repaired and would cost less than the vehicles worth, excl. additional costs)</option>
                            <option value="N">Cat N (Can be repaired following non-structural damage)</option>
                            <option value="S">Cat S (Can be repaired following structural damage)</option>
                            <option value="all">All</option>
                        </select>
                    </div>


                    <div class="form__group form__group--half">
                        <label for="maximum_previous_owners" class="form__label">
                            Maximum No. Previous Owners <span class="form__required">*</span>
                        </label>
                        <select name="maximum_previous_owners" id="maximum_previous_owners" class="form__input" v-model="offer.maximum_previous_owners">
                            <option disabled>Please Select</option>
                            <option value="1">First Owner</option>
                            <option value="2">1 previous owner</option>
                            <option value="3">2 previous owners</option>
                            <option value="4">3 previous owners</option>
                            <option value="5">4 previous owners</option>
                            <option value="6" selected>More than 5 previous owners</option>
                        </select>
                    </div>
                </div>

                <div class="offer__section">
                    <div class="form__group">
                        <div class="form__radio">
                            <label for="all_colors">Accept All Colours?</label>
                            <div class="form__radioinput">
                                <input type="radio" v-model="filterColors" value="0" checked> No
                                <input type="radio" v-model="filterColors" value="1"> Yes
                            </div>
                        </div>
                    </div>

                    <div class="form__group" v-if="filterColors == 0">
                        <label for="colors" class="form__label">
                            Acceptable Colours
                        </label>
                        <div class="form__checkbox" v-for="color in colors">
                            <label :for="color.title">
                                <input type="checkbox" v-model="offer.acceptable_colors" :id="color.title" :value="color.id">
                                <span>{{ color.title }}</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="offer__section">
                    <div class="form__group">
                        <div class="form__radio">
                            <label for="nonrunner form__label">Accept non-runners?</label>
                            <div class="form__radioinput">
                                <input type="radio" v-model="offer.accept_write_offs" value="0" checked> No
                                <input type="radio" v-model="offer.accept_write_offs"  value="1"> Yes
                            </div>
                        </div>
                    </div>

                    <div class="form__group"  v-if="offer.accept_write_offs == 1">
                        <label for="defects" class="form__label">
                            Acceptable Non-Runner Defects
                        </label>
                        <div class="form__checkbox" v-for="defect in defects">
                            <label :for="defect.title">
                                <input type="checkbox" v-model="offer.acceptable_defects" :id="defect.title" :value="defect.id">
                                <span>{{ defect.title }}</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="offer__section offer__section--centered">
                    <p><button type="submit" class="offer__next" @click="persistOfferStepOne()">Next Step</button></p>
                    <p><small>You can come back to this step at any time during the bid setup.</small></p>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['offer', 'years', 'colors', 'defects'],
        mounted() {
            console.log('Rules Mounted')
        },
        data() {
            return {
                // Display
                showManufacturers: false,
                showFuelTypes: false,
                showOfferForm: false,
                acceptNonRunners: 0,
                filterColors: 1,
                // Control
                selectedVehicles: [],
                selectedVehicleType: '',
                selectedManufacturer: 0,
                selectedFuelType: 0,
                // Data
                manufacturers: [],
                fuelTypes: ['Petrol', 'Diesel'],
            }
        },
        methods: {
            // Selection Methods
            selectVehicleType(vehicleType) {
                this.manufacturers = this.fetchManufacturers(vehicleType)
                this.selectedVehicleType = vehicleType
                this.showManufacturers = true
                this.$emit('selected', { type: 'vehicleType', value: vehicleType })
                this.scrollToID('sectionManufacturers')
            },
            selectManufacturer(manufacturerId) {
                this.showFuelTypes = true
                this.selectedManufacturer = manufacturerId
                this.offer.manufacturer_id = manufacturerId
                this.$emit('selected', { type: 'manufacturerId', value: manufacturerId })
                this.scrollToID('sectionFuelTypes')
            },
            selectFuelType(fuelType) {
                this.showOfferForm = true
                this.selectedFuelType = fuelType
                this.offer.fuel_type = fuelType
                this.$emit('selected', { type: 'fuelType', value: fuelType })
                this.scrollToID('sectionOfferForm')
            },

            // API methods
            fetchManufacturers(vehicleType) {
                if (vehicleType) {
                    axios.get('/api/vehicles/manufacturers/'+vehicleType)
                        .catch(error => {
                            console.log(error);
                        })
                        .then(response => {
                            this.manufacturers = response.data;
                            return this.manufacturers;
                        });
                }
            },
            
            persistOfferStepOne() {
                let offerData = this.offer

                this.$emit('spinner', { show: true })

                axios.post('/api/automated-bids', offerData)
                    .catch(error => {
                        swal('Whoops!', 'There were some errors with your input. Please check and try again.', 'error', {
                            buttons: false
                        });
                        this.$emit('spinner', { show: false })
                    })
                    .then(({data}) => {
                        // this.database.offer = data.offer;
                        // this.database.manufacturer = data.manufacturer;
                        // this.fetchModels();
                        // swal('Bid Saved', 'Proceeding to Step 2', 'success', {
                        //     buttons: false,
                        //     timer: 1500,
                        // });
                        this.$emit('spinner', { show: false })
                        this.$emit('finished', data)
                    });
            },

            // Utils
            scrollToID(id) {
                $(function() {
                    $('html,body').animate({
                        scrollTop: $("#"+id).offset().top
                    }, 1000);
                });
            },
        }
    }
</script>
