<template>
    <div>
        <div class="box__header">
            <span>2</span> Add Vehicles
        </div>
        <div class="box__content">
            <div class="offer__section">
              <div class="u-pull-left" style="width: calc(100% - 500px);">
                <div class="offer__title">
                    <h3>{{ this.database.manufacturer.name }}</h3>
                    <span>{{ this.selectedFuelType }}</span>
                    <p>{{ this.database.offer.name }}</p>
                </div>
              </div>

              <div class="u-pull-right" style="width: 500px;">
                <p>
                    <span class="u-text-orange">
                        Please add vehicles to your bid, default rules will apply.
                    </span>
                </p>
                <p>
                    <strong class="u-text-orange">
                        You have the ability to override these defaults for individuals models/derivatives.
                    </strong>
                </p>
              </div>
            </div>

            <div class="offer__section">
                <div class="u-pull-left">
                    <div class="spirit-check">
                        <input type="checkbox" name="selectAll" id="selectAll" v-model="selectAll" @change="selectAllModels($event)">
                        <label for="selectAll">
                            <span class="spirit-check__check"></span>
                            <span class="spirit-check__content"><strong>SELECT ALL</strong></span>
                        </label>
                    </div>
                </div>
                <div class="u-pull-right" style="width: 325px;">
                    <p><small>Your Rule will automatically use the default CAP value set in step one. You can override this here.</small></p>
                </div>
            </div>

            <div class="offer__section">
              <h3>Select individual models</h3>
                <div class="form__group" v-if="showAllModelSpinner">
                    <vue-simple-spinner></vue-simple-spinner>
                </div>
                <div
                    class="offer__model"
                    v-for="model in models"
                    :key="model.cap_model_id"
                    :class="{ active : selectedModels.indexOf(model.cap_model_id) != -1 }"
                >
                        <!-- Watch this value pls -->
                    <div class="u-pull-right">
                        <input type="text" :placeholder="offer.base_value" v-model="model.base_value" @change="updateDerivativeBaseValues(model)"> %
                    </div>
                    <div class="spirit-check" :id="'model-' + model.cap_model_id">
                        <input :name="model.cap_model_id" :id="model.cap_model_id" type="checkbox" :value="model.cap_model_id" v-model="selectedModels" @change="fetchDerivatives(model, $event)">
                        <label :for="model.cap_model_id">
                            <span class="spirit-check__check" v-if="!showDerivSpinner[model.id]"></span>
                            <div v-else>
                                <i class="fa fa-refresh fa-spin fa-fw fa-2x"></i>
                            </div>
                            <span class="spirit-check__content">{{ model.manufacturer.name }} &mdash; {{ model.name }} ({{model.introduced_date}} - {{model.discontinued_date}})</span>
                        </label>
                    </div>
                    <div class="form__group" v-if="showDerivSpinner[model.id]">
                        <vue-simple-spinner></vue-simple-spinner>
                    </div>
                    <div class="offer__derivatives" v-show="!showDerivSpinner[model.id]">
                        <div class="offer__derivative" v-for="derivative in model.derivatives">
                            <div class="u-pull-right">
                                <!-- Update this value pls -->
                                <input type="text" :placeholder="offer.base_value" v-model="derivative.base_value"> %
                            </div>
                            <div class="spirit-check">
                                <input :name="derivative.model_id +'-'+ derivative.cap_derivative_id" :id="derivative.model_id +'-'+ derivative.cap_derivative_id" type="checkbox" :value="derivative.model_id +'-'+ derivative.cap_derivative_id" v-model="selectedDerivatives">
                                <label :for="derivative.model_id +'-'+ derivative.cap_derivative_id">
                                    <span class="spirit-check__check"></span>
                                    <span class="spirit-check__content">{{ derivative.model.name }} ({{derivative.model.introduced_date}} - {{derivative.model.discontinued_date}}) &mdash; {{ derivative.name }}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="offer__section offer__section--centered">
                <p>
                    <button type="submit" class="offer__previous" @click="goBackToStepOne()">Previous Step</button>
                    <button type="submit" class="offer__next" :disabled="this.selectedModels.length == 0" @click="persistOfferStepTwo()">Confirm</button>
                </p>
                <p>
                    <small>You can come back to this step at any time during the bid setup.</small>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['offer', 'models', 'database'],

        mounted() {
            console.log('Vehicles Mounted')
        },

        computed: {
            selectAll: {
                get: function () {
                    return this.models ? this.selectedModels.length == this.models.length : false;
                },
                set: function (value) {
                    let selected = [];

                    if (value) {
                        this.models.forEach(function (model) {
                            selected.push(model.cap_model_id);
                        });
                    }

                    this.selectedModels = selected;
                }
            }
        },


        data() {
            return {
                selectedFuelType: this.offer.fuel_type,
                selectedModels: [],
                selectedDerivatives: [],
                showAllModelSpinner: false,
                showDerivSpinner: []
            }
        },

        methods: {
            fetchDerivatives(model, event, wasSelectAll=false) {
                let modelCapId = this.selectedModels;
                if (event.target.checked == false) {
                    // get all derivatives to deselect and map over them to get an index "key"
                    let deselectDerivatives = model.derivatives.map((derivative) => {
                        return `${derivative.model_id}-${derivative.cap_derivative_id}`
                    });

                    // filter through our selected derivatives array and only deselect the derivatives we don't want
                    this.selectedDerivatives.filter((derivative) => {
                        return deselectDerivatives.indexOf(derivative) === -1
                    });

                    // set the model's derivatives to an empty array
                    model.derivatives = [];

                    // this.isActive[model.id] = false;
                } else {
                    this.showDerivSpinner[model.id] = true;
                    if (wasSelectAll !== true) {
                        this.scrollToID('model-'+model.cap_model_id);
                    }
                    // this.isActive[model.id] = true;

                    axios.post('/api/vehicles/derivative?vehicleType='+this.selectedVehicleType, { modelId: model.cap_model_id })
                        .catch(error => {
                            console.log(error);
                            console.log(error.response.data);
                        })
                        .then(response => {
                            model.derivatives = response.data.map((derivative) => {
                                derivative.base_value = ''
                                return derivative;
                            });

                            this.showDerivSpinner[model.id] = false;
                            this.selectAllDerivatives(model);
                        });
                }

            },

            selectAllModels(event) {
                let e = event
                if (e.target.checked === true) {
                    this.$emit('spinner', { show: true })
                    
                    // move to POST if we run into errors
                    // axios.post('/api/vehicles/getModelsAndDerivatives', {ids: this.selectedModels})
                    axios.get('/api/vehicles/getModelsAndDerivatives?vehicleType=' + this.selectedVehicleType + '&ids='+this.selectedModels)
                        .then(({data}) => {
                            this.$emit('selected', data)

                            data.map((model) => {
                                model.derivatives = model.derivatives.map((derivative) => {
                                    return derivative
                                });
                                this.selectAllDerivatives(model)
                                this.$emit('spinner', { show: false })
                            }, this);
                        });
                } else {
                    this.$emit('spinner', { show: true })

                    this.models.forEach((model) => {
                        model.derivatives = []
                        this.$emit('spinner', { show: false })
                    })
                }
            },

            selectAllDerivatives(model) {
                model.derivatives.forEach(function(derivative, index) {
                    return this.selectedDerivatives.push(derivative.model_id +'-'+ derivative.cap_derivative_id);
                }, this);
            },

            updateDerivativeBaseValues(model) {
                console.log('updating deriv base values')
                this.$emit('syncValues', model)

                // model.derivatives.map((derivative) => {
                //     console.log(model.base_value)
                //     console.log(derivative.base_value)
                //     derivative.base_value = model.base_value
                //     console.log(derivative.base_value)
                // })
            },

            // Utils
            scrollToID(id) {
                $(function() {
                    $('html,body').animate({
                        scrollTop: $("#"+id).offset().top
                    }, 1000);
                });
            },
        }
    }
</script>

