<template>
    <div>

    <div class="box box--no-padding box--with-header">
        <div class="box__header header-theme-marketplace">
            Edit Vehicles
        </div>
        <div class="box__content" style="background-color: white; margin-bottom: 0px;">
            <div class="offer__section" style="border-bottom: none; padding-bottom: 0px;">
                <div class="u-pull-left">
                    <div class="spirit-check">
                        <input type="checkbox" name="selectAll1" id="selectAll1" value="selectAll1">
                        <label for="selectAll1" class="selectAll1">
                            <span class="spirit-check__check"></span>
                            <span class="spirit-check__content"><strong>SELECT ALL</strong></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="offer__section">
                <p>Showing vehicles for <strong>{{offer.fuel_type=='Petrol' ? 'Petrol/Hybrid/Electric' : 'Diesel'}}</strong> <strong>{{ manufacturer }}</strong> manufactured between <strong>{{offer.minimum_age.split("-")[0]}}</strong> and <strong>{{offer.maximum_age.split("-")[0]}}</strong>. <small><a :href="criteria">Edit Criteria</a></small></p>
            </div>
            <div style="z-index: 100; background-color: white; text-align: right; border-bottom: none; margin-bottom: 0px; padding-bottom: 0px;" id="save-all-header" class="offer__section">
                <p><strong>Change COMPLETE rule default</strong> <input style="width: 100px; height:40px; text-align: center; font-size: 20px;" type="number" name="set-all" class="derivatives-checked-base-value"> % <a id="save--for-all" style="margin-left: 20px;" class="button button--orange-bg">Save</a></p>
            </div>
        </div>
        <div class="box__content">

        <form :action="form" method="POST" enctype="multipart/form-data" id="edit-vehicles">

            <input type="hidden" name="_token" :value="csrf">
            <input type="hidden" name="_method" value="PATCH">
            <div id="first-offer-section" class="offer__section">
                <div style="font-size: 2rem; font-weight: bold; text-transform: uppercase; float:left; width: 50%;">Select or deselect individual models</div>
                <div style="font-size: 2rem; font-weight: bold; text-transform: uppercase; float:left; text-align: right; width: 50%; margin-bottom: 1rem;">Change individual percentage</div>
                <div class="offer__model" :class="{active: selectedModels[vehicle.cap_model_id]!=null}" v-for="vehicle in vehicles">

                    <div class="spirit-check" :id="'model-'+vehicle.cap_model_id">
                        <input
                                :name="'models['+vehicle.cap_model_id+'][model_id]'"
                                :id="vehicle.cap_model_id"
                                type="checkbox"
                                class="models-checked"
                                :value="vehicle.cap_model_id"
                                :checked="selectedModels[vehicle.cap_model_id]!=null"
                        >
                        <label :for="vehicle.cap_model_id" class="model__check">
                            <span class="spirit-check__check"></span>
                            <span class="spirit-check__content">

                                {{(vehicle.manufacturer!=null) ? vehicle.manufacturer.name : '' }} &mdash; {{ vehicle.name }} ({{vehicle.introduced_date}} - {{vehicle.discontinued_date}})
                            </span>
                        </label>
                    </div>
                    <div class="offer__derivatives" :class="{'u-hide':selectedModels[vehicle.cap_model_id]==null}">

                        <div class="offer__derivative" v-for="derivative in vehicle.derivatives">

                            <div class="u-pull-right">
                                <input style="text-align: center; width: 100px; height: 40px;"
                                        type="number"
                                        class="derivatives-checked-base-value"
                                        :disabled="isScrap"
                                        :name="'derivatives['+derivative.cap_derivative_id+'][base_value]'"
                                        :value="(derivativeBaseValues[derivative.cap_derivative_id]!=null) ?
                                        derivativeBaseValues[derivative.cap_derivative_id]['base_value']==0 ? '' : derivativeBaseValues[derivative.cap_derivative_id]['base_value'] : offer.base_value"

                                > %

                            </div>
                            <div class="spirit-check">
                                <input
                                        type="checkbox"
                                        class="derivatives-checked"
                                        :value="derivative.model_id+'-'+derivative.cap_derivative_id"
                                        :checked="selectedDerivatives[derivative.cap_derivative_id]!=null"
                                        :name="'derivatives['+derivative.cap_derivative_id+'][derivative_id]'"
                                        :id="derivative.model_id+'-'+derivative.cap_derivative_id"
                                >
                                <label :for="derivative.model_id+'-'+derivative.cap_derivative_id" class="derivative__check" >
                                    <span class="spirit-check__check"></span>
                                    <span class="spirit-check__content">
                                                    {{ derivative.name }}
                                                </span>
                                </label>
                            </div>

                        </div>



                    </div>

                </div>

            </div>
            <div class="offer__section offer__section--centered floaty-button">
                <button type="submit" class="offer__next">Save Changes</button>
            </div>

        </form>

        </div>
        </div>

        <div v-show="showSpinner === true" class="loader" style="">
            <div class="loader__box">
                <div class="loader__content">
                    <i class="fa fa-car"></i>
                    <h3>Please wait, this may take up to 30 seconds...</h3>
                </div>
            </div>
        </div>

    </div>


</template>

<script>

    export default {

        props: ['offer', 'manufacturer', 'criteria', 'form', 'csrf'],
        mounted() {

            if(this.offer.accept_write_offs==1 || this.offer.acceptable_defects.length>0) {

                this.isScrap = false;
            }
            this.getData();


        },
        data() {
            return {

                isScrap:false,
                vehicles: [],
                selectedModels: [],
                selectedDerivatives: [],
                derivativeBaseValues: [],
                showSpinner: true,

            }
        },
        methods: {

            getData() {

                return axios.get('/api/automated-bids/'+this.offer.slug+'/vehicles')
                    .then(({data}) => {

                        this.vehicles = data.data.vehicles;
                        this.selectedModels = data.data.selectedModels;
                        this.selectedDerivatives = data.data.selectedDerivatives;
                        this.derivativeBaseValues = data.data.derivativeBaseValues;
                        this.showSpinner = false;
                    });
            },
        }
    }


</script>