<template>
    <div>
            <div class="form__group form__group--half">
                <label for="vehicle-type" class="form__label">Vehicle Type</label>
                <select name="vehicle-type" id="vehicle-type" class="form__input--" v-model="selectedVehicleType" @change="fetchManufacturers()">
                    <option disabled selected>Please Select</option>
                    <option value="car">CAR</option>
                    <option value="lcv">VAN</option>
                </select>
            </div>

            <div class="form__group form__group--half" v-if="showManufacturerSelect">
                <label for="manufacturer" class="form__label">Manufacturer</label>
                <select name="manufacturer" id="manufacturer" class="form__input--" v-model="selectedManufacturer" @change="fetchFuelTypes()">
                    <option disabled selected>Please Select</option>
                    <option v-for="manufacturer in manufacturers" :value="manufacturer.cap_manufacturer_id">{{manufacturer.name}}</option>
                </select>
            </div>

            <div class="form__group form__group--half" v-if="showFuelTypeSelect">
                <label for="fuel_type" class="form__label">Fuel Type</label>
                <select name="fuel_type" id="fuel_type" class="form__input--" v-model="selectedFuelType" @change="fetchPlateYears()">
                    <option disabled selected>Please Select</option>
                    <option value="petrol">PETROL</option>
                    <option value="diesel">DIESEL</option>
                </select>
            </div>

            <div class="form__group form__group--half" v-if="showYearSelect">
                <label for="plate_year" class="form__label">Plate Year</label>
                <select name="plate_year" id="plate_year" class="form__input--" v-model="selectedPlateYear" @change="fetchModels()">
                    <option disabled selected>Please Select</option>
                    <option v-for="reg in getRegYears" v-bind:value="reg.year">{{ reg.label }}</option>
                </select>
            </div>

            <div class="form__group form__group--half" v-if="showModelSelect">
                <label for="model" class="form__label">Model</label>
                <select name="model" id="model" class="form__input--" v-model="selectedModel" @change="fetchDerivatives()">
                    <option disabled selected>Please Select</option>
                    <option v-for="model in models" v-if="selectedPlateYear.substr(0, selectedPlateYear.indexOf('-')) <= model.discontinued_date && selectedPlateYear.substr(0, selectedPlateYear.indexOf('-')) >= model.introduced_date" :value="model.cap_model_id">{{model.name + modelYear(model.introduced_date, model.discontinued_date)}}</option>
                </select>
            </div>

            <div class="form__group form__group--half" v-if="showDerivSelect">
                <label for="derivative" class="form__label">Derivative</label>
                <select name="derivative" id="derivative" class="form__input--" v-model="selectedDerivative" @change="fetchTransmission()">
                    <option disabled selected>Please Select</option>
                    <option :value="derivative.cap_derivative_id" v-for="derivative in derivatives">{{derivative.name}}</option>
                </select>
            </div>

            <div class="form__group form__group--half" v-if="showTransmissionSelect">
                <label for="transmission" class="form__label">Transmission Type</label>
                <select name="transmission" id="transmission" class="form__input--" v-model="selectedTransmission" @change="fetchSubmitButton()">
                    <option disabled selected>Please Select</option>
                    <option value="manual">Manual</option>
                    <option value="automatic">Automatic</option>
                    <option value="cv">Continuously Variable</option>
                    <option value="semi-auto-dual-clutch">Semi Automatic / Dual Clutch</option>
                </select>
            </div>

            <div class="form__submit form__submit--no-border" v-if="showSubmitButton">
                <button class="button button--big button--orange-bg" @click="submitForm()">Next Step</button>
            </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                 manufacturers: '',
                 models: '',
                 derivatives: '',

                 showManufacturerSelect: '',
                 showYearSelect: '',
                 showTransmissionSelect: '',
                 showFuelTypeSelect: '',
                 showModelSelect: '',
                 showDerivSelect: '',
                 showSubmitButton: false,

                selectedVehicleType: '',
                selectedManufacturer: '',
                selectedFuelType: '',
                selectedPlateYear: '',
                selectedModel: '',
                selectedDerivative: '',
                selectedTransmission: '',
            }
        },
        mounted() {
            console.log(this.getRegYears);
        },
        methods: {
            fetchManufacturers() {
                let vehicleType = this.selectedVehicleType;

                if (vehicleType) {
                    axios.get('/api/vehicles/manufacturers/'+vehicleType)
                        .then(response => {
                            this.manufacturers = response.data;
                            this.showManufacturerSelect = true;
                            return this.manufacturers;
                        });
                }
            },
            modelYear(introductionYear, discontinuedDate){
                if(introductionYear != discontinuedDate){
                    return " (" + introductionYear + "-" + discontinuedDate + ")";
                } else {
                    return " (" + introductionYear + ")";
                }
            },
            fetchFuelTypes() {
                this.showFuelTypeSelect = true;
                this.selectedFuelType = '';
                this.showYearSelect = false;
                this.showModelSelect = false;
                this.showDerivSelect = false;
                this.showSubmitButton = false;
            },

            fetchPlateYears() {
                this.showFuelTypeSelect = true;
                this.showYearSelect = true;
                this.selectedPlateYear = '';
                this.showModelSelect = false;
                this.showDerivSelect = false;
                this.showSubmitButton = false;

            },


            fetchModels() {
                let manufacturerCapId = this.selectedManufacturer;
                this.showDerivSelect = false;
                this.showModelSelect = false;
                this.selectedModel = '';
                this.showSubmitButton = false;

                if (manufacturerCapId) {
                    let currentYear = new Date().getFullYear();
                    axios.get('/api/vehicles/models/'+manufacturerCapId+'?vehicleType='+this.selectedVehicleType+'&fuelType='+this.selectedFuelType+'&minAge='+this.selectedPlateYear+'&maxAge='+currentYear)
                        .catch(error => {
                            swal('No Models could be found!', '', 'error', {
                                buttons: false,
                                timer: 1500,
                            });
                            return false;
                        })
                        .then(response => {

                            this.models = response.data.map((model) => {
                                model.derivatives = [];
                                this.showModelSelect = true;
                                return model;
                            });
                        });
                }
            },

            fetchDerivatives() {
                let modelCapId = this.selectedModel;

                axios.post('/api/vehicles/derivative?vehicleType='+this.selectedVehicleType, { modelId: modelCapId })
                    .catch(error => {
                        console.log(error);
                        console.log(error.response.data);
                    })
                    .then(response => {
                        this.derivatives = response.data;
                        this.showDerivSelect = true;
                        this.showSubmitButton = false;
                    });

            },

            fetchTransmission() {
                this.showTransmissionSelect = true;
                this.showSubmitButton = true;
            },

            fetchSubmitButton() {
                this.showSubmitButton = true;
            },

            submitForm() {
                let vehicleData = {
                    'cap_id': 0,
                    'capcode': 0,
                    'numberplate': '',
                    'type': this.selectedVehicleType,
                    meta: {
                        'manufacturer': this.selectedManufacturer,
                        'model': this.selectedModel,
                        'derivative': this.selectedDerivative,
                        'transmission': this.selectedTransmission,
                        'plate_year': this.selectedPlateYear,
                        'fuel_type': this.selectedFuelType
                    },
                }

                axios.post('/api/vehicles', { data: vehicleData })
                    .then(({data}) => {
                        window.location.href = data.redirect_uri;
                    });
            }

        },
        computed:{
            getRegYears(){
                // Beginning date since registration plates began using this format
                let beginningDate = new Date("2001-03-01T00:00:00");
                // Current date
                // let currentDate = new Date(2018, 9, 1, 1);
                let currentDate = new Date();


                // Milliseconds
                let marToSep = 15897600000;
                let sepToMar = 15638400000;
                let msInDay = 86400000;

                // Initialise array to store reg values (with old style hardcoded)
                var regOptions = [{"year": "1983-A","label": "1983 A"},{"year": "1984-B","label": "1984 B"},{"year": "1985-C","label": "1985 C"},{"year": "1986-D","label": "1986 D"},{"year": "1987-E","label": "1987 E"},{"year": "1988-F","label": "1988 F"},{"year": "1989-G","label": "1989 G"},{"year": "1990-H","label": "1990 H"},{"year": "1991 J","label": "1991 J"},{"year": "1992-K","label": "1992 K"},{"year": "1993-L","label": "1993 L"},{"year": "1994-M","label": "1994 M"},{"year": "1995-N","label": "1995 N"},{"year": "1996-P","label": "1996 P"},{"year": "1997-R","label": "1997 R"},{"year": "1998-S","label": "1998 S"},{"year": "1999-T","label": "1999 T"},{"year": "1999-V","label": "1999 V"},{"year": "2000-W","label": "2000 W"},{"year": "2000-X","label": "2000 X"},{"year": "2001-Y","label": "2001 Y"}];

                //Current loop iteration (used to calculate current year for cars registered 01 Sep to 28 Feb)
                let i = 1;
                // Registration prefix (for cars registered 01 Sep to 28 Feb)
                let regPrefix = 5;
                while( currentDate.getTime() > beginningDate.getTime() ){
                    // if(currentDate.getTime() > beginningDate.getTime() + marToSep){
                        let loopYear = beginningDate.getFullYear().toString();
                        if(parseInt(loopYear) % 4 == 0){
                            beginningDate = new Date(beginningDate.getTime() + msInDay);
                        }
                        // The 01 plate doesn't exist
                        if(i != 1){
                            regOptions.push({"year": loopYear + "-" + loopYear.substr(-2), "label": loopYear + " (" + loopYear.substr(-2) + " plate)" });
                        }
                        beginningDate = new Date(beginningDate.getTime() + marToSep);
                        // regOptions.push(beginningDate);
                        // regOptions.push(currentDate);
                        if(currentDate.getTime() > beginningDate.getTime()){
                            if(i % 10 == 0){
                                regPrefix++;
                            }
                            regOptions.push({"year": loopYear + "-" + regPrefix + i % 10, "label": loopYear + " (" + regPrefix + i % 10 + " plate)"});
                            if(currentDate.getFullYear() != beginningDate.getFullYear() ){
                                regOptions.push({"year": parseInt(loopYear) + 1 + "-" + regPrefix + i % 10, "label": parseInt(loopYear) + 1 + " (" + regPrefix + i % 10 + " plate)"});
                            }
                            beginningDate = new Date(beginningDate.getTime() + sepToMar);
                        }

                    i++;
                }
                // Make most recent year appear at top
                return regOptions.reverse();
            }

    }
}
</script>

<style>
    select {
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        border: 1px solid rgba(174,175,178,1) !important;
        background-color: rgba(245,246,247,1) !important;
        outline: none !important;
        padding: 1.25rem 1rem !important;
        padding-right: .75rem !important;
        background-image: url(../../img/arrow.png) !important;
        background-position: 97% !important;
        background-repeat: no-repeat !important;
        background-size: 3.5% !important;
        display: inline-block !important;
        max-width: 100% !important;
        border-radius: 0 !important;
        color: #000 !important;
        padding: 1.5rem 1rem;
        width: 100% !important;
        outline: 0 !important;
        transition: all 0.3s ease !important;
        margin: 1rem 0;
        font-size: 110%;
        float: left;
        font-weight: 300;
    }
    select:focus, select:hover, select:active {
        padding: 1.5rem 1rem;
        border: 1px solid rgba(174,175,178,1) !important;
        background-color: #fff !important;
        outline: none !important;
    }
</style>
