<template>
    <div>
        <div class="form__group" v-show="showManufacturerSelect">
            <label for="manufacturer" class="form__label">
                Select Manufacturer<span class="form__required">*</span>
            </label>
            <select name="manufacturer" id="manufacturer" class="form__input" v-model="selectedManufacturer" @change="changeManufacturer()">
                <option :value="manufacturer.cap_manufacturer_id"  v-for="manufacturer in manufacturers" v-text="manufacturer.name">
                </option>
            </select>
        </div>

        <div class="form__group" v-if="showModelSpinner">
            <vue-simple-spinner></vue-simple-spinner>
        </div>

        <div class="modelList" v-show="showModelList">
            <strong>SELECT MODELS</strong>
            <div class="modelSelectAll">
                <div class="spirit-check">
                    <input type="checkbox" name="selectAllModels" id="selectAllModels" @click="selectAllModels()" v-model="allModelsSelected">
                    <label for="selectAllModels">
                        <span class="spirit-check__check"></span>
                        <span class="spirit-check__content">Select All Models</span>
                    </label>
                </div>
            </div>
                
            <div class="modelContent">
                <div class="modelItem" v-for="model in models">
                    <div class="spirit-check">
                        <input :name="model.cap_model_id" :id="model.cap_model_id" type="checkbox" :value="model.cap_model_id" v-model="selectedModel" @change="changeModel()"> 
                        <label :for="model.cap_model_id">
                            <span class="spirit-check__check"></span>
                            <span class="spirit-check__content">{{ model.manufacturer.name }} &mdash; {{ model.name }} ({{model.introduced_date}} - {{model.discontinued_date}})</span>
                        </label>
                    </div>
                </div>

            </div>
        </div>

        <div class="form__group" v-if="showDerivSpinner">
            <vue-simple-spinner></vue-simple-spinner>
        </div>

        <div class="derivList" v-show="showDerivList">
            <strong>SELECT DERIVATIVES</strong>
            <div class="derivSelectAll">
                <div class="spirit-check">
                    <input type="checkbox" name="selectAllDerivs" id="selectAllDerivs" @click="selectAllDerivs()" v-model="allDerivsSelected" checked>
                    <label for="selectAllDerivs">
                        <span class="spirit-check__check"></span>
                        <span class="spirit-check__content">Select All Derivatives</span>
                    </label>
                </div>
            </div>

            <div class="derivContent">
                <div class="derivItem" v-for="derivative in derivatives">
                    <div class="spirit-check">
                        <input :name="derivative.model_id +'-'+ derivative.cap_derivative_id" :id="derivative.model_id +'-'+ derivative.cap_derivative_id" type="checkbox" :value="derivative.model_id +'-'+ derivative.cap_derivative_id" v-model="selectedDerivatives"> 
                        <label :for="derivative.model_id +'-'+ derivative.cap_derivative_id">
                            <span class="spirit-check__check"></span>
                            <span class="spirit-check__content">{{ derivative.model.name }} ({{derivative.model.introduced_date}} - {{derivative.model.discontinued_date}}) &mdash; {{ derivative.name }}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form__submit" v-show="showDerivList" @click="submitForm">
            <button type="submit" class="button button--large button--orange-bg">Next Step</button> 
            <br> 
            <small>You can come back to this step at any time during the bid setup.</small>
        </div>

    </div>
</template>

<script>
    import Spinner from 'vue-simple-spinner';

    export default {
        props: ['manufacturers', 'offer'],
        components: { Spinner },

        data() {
            return {
                search: '',

                selectedManufacturer: this.offer.manufacturer_id,
                selectedModel: this.offer.model_ids,
                selectedDerivative: this.offer.derivative_ids,

                models: this.models,
                derivatives: this.derivatives,

                showManufacturerSelect: true,
                showModelList: false,
                showDerivList: false,

                allModelsSelected: false,
                allDerivsSelected: false,

                showModelSpinner: false,
                showDerivSpinner: false
            }
        },

        // computed: {
        //     filteredModels() {
        //         if (this.showModelList == true) {
        //             var self=this;
        //             return this.models.filter(mod => {
        //                 return mod.name.toLowerCase().indexOf(self.search.toLowerCase())>=0;
        //             });
        //         }
        //     }
        // },

        mounted() {
            if (this.selectedModel != false) {
                this.changeManufacturer();
                this.changeModel();

                this.showModelList = true;
                this.showDerivList = true;
            }

            console.log('component mounted');
        },

        methods: {
            changeManufacturer() {
                let manufacturerCapId = this.selectedManufacturer;

                if (manufacturerCapId) {
                    this.showModelSpinner = true;

                    axios.get('/api/vehicles/models/'+ manufacturerCapId)
                        .catch(error => {
                            console.log(error.response.data);
                        })
                        .then(response => {
                            this.models = response.data;
                            this.showModelList = true;
                            this.showDerivList = false;

                            if (this.selectedModel == false ) {
                                this.selectedModel = [];
                                this.selectedDerivative = [];
                            }

                            if (this.selectedModel != false) {
                                this.showDerivList = true;
                            }

                            this.showModelSpinner = false;
                        });
                }
            },

            changeModel() {
                let modelCapId = this.selectedModel;

                if (modelCapId.length > 0) {
                    if (this.allModelsSelected == true) {
                        this.allModelsSelected = false;
                    }
                    this.showDerivSpinner = true;

                    axios.post('/api/vehicles/derivatives', { modelCapId })
                        .catch(error => {
                            console.log(error.response.data);
                        })
                        .then(response => {
                            this.derivatives = response.data;
                            if (this.selectedDerivative == false) {
                                this.selectAllDerivs();
                            }
                            this.showDerivList = true;
                            this.showDerivSpinner = false;
                        });

                } else {
                    this.showDerivList = false;
                }
            },

            selectAllModels() {
                if (this.allModelsSelected == true) {
                    this.models.forEach((el, index) => {
                        this.selectedModel.splice(0, index);
                    });
                } else {
                    this.allModelsSelected = true;
                    this.models.forEach(el => {
                        this.selectedModel.push(el.cap_model_id);
                    });
                }

                this.changeModel();
            },

            selectAllDerivs() {
                if (this.allDerivsSelected == true) {            
                    this.derivatives.forEach((el, index) => {
                        this.selectedDerivative.splice(0, index);
                    });
                } else {
                    this.derivatives.forEach(el => {    
                        this.selectedDerivative.push(el.model_id +'-'+ el.cap_derivative_id);    
                    });
                }
            },

            submitForm() {
                let baseUrl = window.location.protocol + "//" + window.location.host + "/" + window.location.pathname.split('/')[1];
                let saveEndpoint = location.pathname;

                if (typeof(this.selectedDerivative[0]) === 'object') {
                    this.selectedDerivative[0] = '';
                }

                let data = {
                    manufacturer: this.selectedManufacturer, 
                    models: this.selectedModel, 
                    derivatives: this.selectedDerivative 
                };

                axios.patch(saveEndpoint, data)
                    .then(response => {
                        // swal({
                        //     text: "Your offer has been saved, you can now review it before it goes live.",
                        //     title: "Saved",
                        //     timer: 4000,
                        //     type: "success",
                        // }, function(result) {
                        // });
                        window.location.href = location.pathname.replace('/edit', '');
                    });  
            }
        }

    }
</script>

<style>
    .modelList, .derivList {
        padding: 2rem 0;
        float: left;
        width: 100%;
        clear: both; 
    }

    .modelList > .modelContent, .derivList > .derivContent {
        max-height: 250px;
        overflow-y: scroll;
        float: left;
        width: 100%;
        clear: both;
        border:1px solid #e3e3e3;
        padding: 1rem;
        padding-top: 0;
    }

    .modelList > .modelSelectAll, .derivList > .derivSelectAll {
        padding: 1rem;
    }
    .modelSelectAll .spirit-check__content, .derivSelectAll .spirit-check__content {
        padding-left: 2rem;
    }

    .modelItem, .derivItem {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        border-bottom: 1px solid #e3e3e3;
    }

    .modelItem .spirit-check__content, .derivItem .spirit-check__content {
        font-weight: 100;
        text-transform: none;
        padding-left: 2rem;
    }
</style>
