<template>
<div>
    <div v-show="showFullPageSpinner === true" class="loader" style="">
        <div class="loader__box">
            <div class="loader__content">
                <i class="fa fa-car"></i>
                <h3>Please wait, this may take up to 30 seconds...</h3>
            </div>
        </div>
    </div>

    <div v-if="showStepOne">
        <div class="box__header header-theme-marketplace" >
            <span>1</span> Set Default Offer Rules
        </div>
        <div class="box__content">
            <div class="offer__section">
                <h3>Choose Vehicle Type</h3>
                <a
                    class="offer__button"
                    :class="{ active : selectedVehicleType === 'car' }"
                    @click="selectVehicleType('car')"
                >
                    Car
                </a>
                <a
                    class="offer__button"
                    :class="{ active : selectedVehicleType === 'lcv' }"
                    @click="selectVehicleType('lcv')"
                >
                    Commercial
                </a>
            </div>

            <div v-if="showManufacturers" class="offer__section" id="sectionManufacturers">
                <h3>Choose Manufacturer</h3>
                <a
                    class="offer__button"
                    :class="{ active : selectedManufacturer == manufacturer.cap_manufacturer_id }"
                    v-for="manufacturer in manufacturers"
                    @click="selectManufacturer(manufacturer.cap_manufacturer_id)"
                >
                    {{ manufacturer.name }}
                </a>
            </div>

            <div v-if="showFuelTypes" class="offer__section" id="sectionFuelTypes">
                <h3>Choose Fuel Type</h3>
                <a
                    class="offer__button"
                    :class="{ active : selectedFuelType == type }"
                    v-for="type in fuelTypes"
                    @click="selectFuelType(type)"
                >
                    {{type=='Petrol' ? 'Petrol/Hybrid/Electric' : 'Diesel'}}
                </a>
            </div>

            <div v-if="showOfferForm">

                <div class="offer__section" id="sectionOfferForm">
                    <h3>Nickname Rule?</h3>
                    <p>Your offer will be named based on manufacturer / fuel type, but your can also set a nickname to help label it.</p>
                    <input type="text" class="form__input form__input--half" id="name" name="name" v-model="offer.name">
                </div>

                <div class="offer__section">
                    <h3>Set Default Vehicle Value</h3>
                    <p>This is the percentage of the CAP average value you wish to use as a default for these vehicles.</p>
                    <input type="text" class="form__input form__input--quarter" id="base_value" name="base_value" v-model="offer.base_value"> <strong class="form__after">% of the average CAP value</strong>
                </div>

                <div class="offer__section" v-show="scrap_dealer==0">
                    <h3>Set Vehicle Condition Value Reductions</h3>
                    <p>When customers value their car they will describe the condition as either Great, Good, Fair or Poor. Please set the percentage of the best value you wish to offer based on condition. 'Great' is considered the best condition, therefore the highest value you can offer.</p>

                    <div class="form__group form__group--half">
                        <label for="great_condition_percentage_modifier" class="form__label">Great</label>
                        <input class="form__input" name="great_condition_percentage_modifier" id="great_condition_percentage_modifier" :value="offer.great_condition_percentage_modifier" disabled>
                        <p>Great condition - No damage, showroom condition.</p>
                    </div>
                    <div class="form__group form__group--half">
                        <label for="good_condition_percentage_modifier" class="form__label">
                            Good <span class="form__required">*</span>
                        </label>
                        <input class="form__input" name="good_condition_percentage_modifier" id="good_condition_percentage_modifier" v-model="offer.good_condition_percentage_modifier">
                        <p>Good condition - Just a couple of slight defects - i.e. one or two ding dents or scuffed alloy wheels, or a light scratch.</p>
                    </div>
                    <div class="form__group form__group--half">
                        <label for="avg_condition_percentage_modifier" class="form__label">
                            Fair <span class="form__required">*</span>
                        </label>
                        <input class="form__input" name="avg_condition_percentage_modifier" id="avg_condition_percentage_modifier" v-model="offer.avg_condition_percentage_modifier">
                        <p>Fair condition - i.e 2 or 3 heavier scratches, couple of tyres below legal limit, small dents.</p>
                    </div>
                    <div class="form__group form__group--half">
                        <label for="poor_condition_percentage_modifier" class="form__label">
                            Poor <span class="form__required">*</span>
                        </label>
                        <input class="form__input" name="poor_condition_percentage_modifier" id="poor_condition_percentage_modifier" v-model="offer.poor_condition_percentage_modifier">
                        <p>Poor condition - i.e. heavily dented, heavy scratches, illegal tyres, poor interior condition.</p>
                    </div>

                </div>

                <div class="offer__section">
                    <h3>Set Rules</h3>
                    <p>Set criteria that will determine what vehicles you will offer on.</p>

                    <div class="form__group form__group--half">
                        <label for="minimum_age" class="form__label">Year From</label>
                        <select name="minimum_age" id="minimum_age" class="form__input" v-model="offer.minimum_age">
                            <option disabled>Please Select</option>
                            <option v-for="reg in getRegYears" v-bind:value="reg.year">{{ reg.label }}</option>
                            </option>
                        </select>
                    </div>

                    <div class="form__group form__group--half">
                        <label for="maximum_age" class="form__label">Year To</label>
                        <select name="maximum_age" id="maximum_age" class="form__input" v-model="offer.maximum_age">
                            <option disabled>Please Select</option>
                            <option v-for="reg in getRegYears" v-bind:value="reg.year">{{ reg.label }}</option>
                            </option>
                        </select>
                    </div>

                    <div class="form__group form__group--half">
                        <label for="minimum_mileage" class="form__label">
                            Minimum Mileage <span class="form__required">*</span>
                        </label>
                        <input class="form__input" type="text" pattern="\d*" max="999999" min="0" maxlength="6" name="minimum_mileage" id="minimum_mileage" v-model="offer.minimum_mileage" required v-validate="'required|min_value:0'">
                    </div>

                    <div class="form__group form__group--half">
                        <label for="maximum_mileage" class="form__label">
                            Maximum Mileage <span class="form__required">*</span>
                        </label>
                        <input class="form__input" type="text" pattern="\d*" max="999999" min="0" maxlength="6" name="maximum_mileage" id="maximum_mileage" v-model="offer.maximum_mileage" required v-validate="'required'">
                    </div>

                    <div class="form__group form__group--half">
                        <label for="minimum_value" class="form__label">
                            Minimum Value &pound; <span class="form__required">*</span>
                        </label>
                        <input class="form__input" type="text" pattern="\d*" max="999999" min="0" maxlength="6" name="minimum_value" id="minimum_value" v-model="offer.minimum_value" required v-validate="'required|min_value:0'">
                    </div>

                    <div class="form__group form__group--half">
                        <label for="maximum_value" class="form__label">
                            Maximum Value &pound; <span class="form__required">*</span>
                        </label>
                        <input class="form__input" type="text" pattern="\d*" max="999999" min="0" maxlength="6" name="maximum_value" id="maximum_value" v-model="offer.maximum_value" required v-validate="'required'">
                    </div>

                    <div class="form__group form__group--half">
                        <label for="minimum_service_history" class="form__label">
                            Minimum Acceptable Service History <span class="form__required">*</span>
                        </label>
                        <select name="minimum_service_history" id="minimum_service_history" class="form__input" v-model="offer.minimum_service_history">
                                <option disabled>Please Select</option>
                                <option value="FullFranchise">Full Franchise History</option>
                                <option value="PartFranchise">Part Franchise History</option>
                                <option value="PartHistory">Part History</option>
                                <option value="MinimalHistory">Minimal History</option>
                                <option value="None" selected>None</option>
                        </select>
                    </div>

                    <div class="form__group form__group--half">
                        <label for="minimum_mot" class="form__label">
                            Minimum Acceptable MOT <span class="form__required">*</span>
                        </label>
                        <select name="minimum_mot" id="minimum_mot" class="form__input" v-model="offer.minimum_mot">
                            <option disabled>Please Select</option>
                            <option value="SixPlus">6 Months+</option>
                            <option value="ThreetoSix">3-6 Months</option>
                            <option value="OneToThree">1-3 Months</option>
                            <option value="LessThanOne">Less Than 1 Month</option>
                            <option value="Expired" selected>Expired</option>
                        </select>
                    </div>

                    <div class="form__group form__group--half">
                        <label for="maximum_write_off_category" class="form__label">
                            Maximum Acceptable Write Off Category <span class="form__required">*</span>
                        </label>
                        <select name="maximum_write_off_category" id="maximum_write_off_category" class="form__input" v-model="offer.maximum_write_off_category" required v-validate="'required'">
                            <option disabled>Please Select</option>
                            <option value="none" selected>None</option>
                            <option value="N" >Cat N / Cat D (Can be repaired following non-structural damage)</option>
                            <option value="S" >Cat S / Cat C (Can be repaired following structural damage)</option>
                            <option value="all" >All</option>
                        </select>
                    </div>


                    <div class="form__group form__group--half">
                        <label for="maximum_previous_owners" class="form__label">
                            Maximum No. Previous Owners <span class="form__required">*</span>
                        </label>
                        <select name="maximum_previous_owners" id="maximum_previous_owners" class="form__input" v-model="offer.maximum_previous_owners">
                            <option disabled>Please Select</option>
                            <option value="1">First Owner</option>
                            <option value="2">1 previous owner</option>
                            <option value="3">2 previous owners</option>
                            <option value="4">3 previous owners</option>
                            <option value="5">4 previous owners</option>
                            <option value="6" selected>More than 4 previous owners</option>
                        </select>
                    </div>
                </div>

                <div class="offer__section">
                    <div class="form__group">
                        <div class="form__radio">
                            <label for="all_colors">Accept All Colours?</label>
                            <div class="form__radioinput">
                                <input type="radio" v-model="filterColors" value="0" checked> No
                                <input type="radio" v-model="filterColors" value="1"> Yes
                            </div>
                        </div>
                    </div>

                    <div class="form__group" v-if="filterColors == 0">
                        <label for="colors" class="form__label">
                            Acceptable Colours
                        </label>
                        <div class="form__checkbox" v-for="color in colors">
                            <label :for="color.title">
                                <input type="checkbox" v-model="offer.acceptable_colors" :id="color.title" :value="color.id">
                                <span>{{ color.title }}</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="offer__section">
                    <div class="form__group">
                        <div class="form__radio">
                            <label for="nonrunner form__label">Accept non-runners?</label>
                            <div class="form__radioinput">
                                <input type="radio" v-model="offer.accept_write_offs" value="0" checked> No
                                <input type="radio" v-model="offer.accept_write_offs"  value="1"> Yes
                            </div>
                        </div>
                    </div>

                    <div class="form__group"  v-if="offer.accept_write_offs == 1">
                        <label for="defects" class="form__label">
                            Acceptable Non-Runner Defects
                        </label>
                        <div class="form__checkbox" v-for="defect in defects">
                            <label :for="defect.title">
                                <input type="checkbox" v-model="offer.acceptable_defects" :id="defect.title" :value="defect.id">
                                <span>{{ defect.title }}</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="offer__section offer__section--centered">
                    <p><button type="submit" class="offer__next" @click="persistOfferStepOne()">Next Step</button></p>
                    <p><small>You can come back to this step at any time during the bid setup.</small></p>
                </div>

            </div>
        </div>
    </div>
    <div v-if="showStepTwo">
        <div class="box__header header-theme-marketplace" >
            <span>2</span> Add Vehicles
        </div>
        <div class="box__content">
            <div class="offer__section">
              <div class="u-pull-left" style="width: calc(100% - 550px);">
                <div class="offer__title">
                    <h3>{{ this.database.manufacturer.name }}</h3>
                    <span>{{this.selectedFuelType=='Petrol' ? 'Petrol/Hybrid/Electric' : 'Diesel'}}</span>
                    <p>{{ this.database.offer.name }}</p>
                </div>
              </div>

              <div class="u-pull-right" style="width: 550px;">
                <p>
                    <span class="u-text-orange">
                        Please add vehicles to your bid, default rules will apply.
                    </span>
                </p>
                <p>
                    <strong class="u-text-orange">
                        You can override these defaults for individuals models/derivatives.
                    </strong>
                </p>
              </div>
            </div>

            <div class="offer__section">
                <div class="u-pull-left">
                    <div class="spirit-check">
                        <input type="checkbox" name="selectAll" id="selectAll" v-model="selectAll" @change="selectAllModels($event)">
                        <label for="selectAll">
                            <span class="spirit-check__check"></span>
                            <span class="spirit-check__content"><strong>SELECT ALL</strong></span>
                        </label>
                    </div>
                </div>
                <div class="u-pull-right" style="width: 325px;">
                    <p><small>Your Rule will automatically use the default CAP value set in step one. You can override this here.</small></p>
                </div>
            </div>

            <div class="offer__section">
              <h3>Select individual models</h3>
                <div class="form__group" v-if="showAllModelSpinner">
                    <vue-simple-spinner></vue-simple-spinner>
                </div>
                <div
                    class="offer__model"
                    v-for="model in models"
                    :key="model.cap_model_id"
                    :class="{ active : selectedModels.indexOf(model.cap_model_id) != -1 }"
                >
                        <!-- Watch this value pls -->
                    <div class="u-pull-right">
                        <input type="text" :disabled="isScrap" :placeholder="isScrap ? '' : offer.base_value" v-model="model.base_value" @blur="updateDerivativeBaseValues(model)"> %
                    </div>
                    <div class="spirit-check" :id="'model-' + model.cap_model_id">
                        <input :name="model.cap_model_id" :id="model.cap_model_id" type="checkbox" :value="model.cap_model_id" v-model="selectedModels" @change="fetchDerivatives(model, $event)">
                        <label :for="model.cap_model_id">
                            <span class="spirit-check__check" v-if="!showDerivSpinner[model.id]"></span>
                            <div v-else>
                                <i class="fa fa-refresh fa-spin fa-fw fa-2x"></i>
                            </div>
                            <span class="spirit-check__content">{{ model.manufacturer.name }} &mdash; {{ model.name }} ({{model.introduced_date}} - {{model.discontinued_date}})</span>
                        </label>
                    </div>
                    <div class="form__group" v-if="showDerivSpinner[model.id]">
                        <vue-simple-spinner></vue-simple-spinner>
                    </div>
                    <div class="offer__derivatives" v-show="!showDerivSpinner[model.id]">
                        <div class="offer__derivative" v-for="derivative in model.derivatives">
                            <div class="u-pull-right">
                                <!-- Update this value pls -->
                                <input type="text" :disabled="isScrap"  :placeholder="offer.base_value" v-model="derivative.base_value"> %
                            </div>
                            <div class="spirit-check">
                                <input :name="derivative.model_id +'-'+ derivative.cap_derivative_id" :id="derivative.model_id +'-'+ derivative.cap_derivative_id" type="checkbox" :value="derivative.model_id +'-'+ derivative.cap_derivative_id" v-model="selectedDerivatives">
                                <label :for="derivative.model_id +'-'+ derivative.cap_derivative_id">
                                    <span class="spirit-check__check"></span>
                                    <span class="spirit-check__content">{{ derivative.name }}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="offer__section offer__section--centered floaty-button">
                <p>
                    <button type="submit" class="offer__previous" @click="goBackToStepOne()">Previous Step</button>
                    <button type="submit" class="offer__next" :disabled="this.selectedModels.length == 0" @click="persistOfferStepTwo()">Confirm</button>
                </p>
                <p style="margin-bottom:0px">
                    <small>You can come back to this step at any time during the bid setup.</small>
                </p>
            </div>
        </div>
    </div>
    <div v-if="showStepThree">
        <div class="box__header header-theme-marketplace" >
            <span>3</span> Confirm
        </div>
        <div class="box__content">
            <div class="offer__section">
                <p>
                    <span class="u-text-orange">
                        Please confirm that your bid has been set up correctly.
                    </span>
                </p>
                <p>
                    <strong class="u-text-orange">
                        To finish, please click 'Publish' and your bids will be live on Jamjar.com
                    </strong>
                </p>
            </div>
            <div class="offer__section">
                <h3>Rules</h3>
                <div class="col-6">
                    <h4>Manufacturer/Nickname</h4>
                    <div class="offer__title">
                        <h3>{{ this.database.manufacturer.name }}</h3>
                        <span>{{this.selectedFuelType=='Petrol' ? 'Petrol/Hybrid/Electric' : 'Diesel'}}</span>
                        <p>{{ this.database.offer.name }}</p>
                    </div>
                </div>
                <div class="col-6">
                    <h4>Default CAP Value</h4>
                    <div class="offer__title">
                        <h3>{{ this.database.offer.base_value }}%</h3>
                    </div>
                </div>
            </div>
            <div class="offer__section">
                <div class="offer__list">
                    <div class="col-6">
						<ul>
							<li>Year From:</li>
							<li>{{this.database.offer.minimum_age}}</li>
							<li>Minimum Mileage:</li>
							<li>{{this.database.offer.minimum_mileage}}</li>
							<li>Minimum Value:</li>
							<li>{{this.database.offer.minimum_value}}</li>
							<li>Minimum MOT:</li>
							<li>{{this.lang[this.database.offer.minimum_mot]}}</li>
							<li>Accept Write Offs?</li>
							<li>{{this.lang['AcceptWriteOffs'+this.database.offer.accept_write_offs]}}</li>
						</ul>
                    </div>
                    <div class="col-6">
                        <ul>
							<li>Year To:</li>
							<li>{{this.database.offer.maximum_age}}</li>
							<li>Maximum Mileage:</li>
							<li>{{this.database.offer.maximum_mileage}}</li>
							<li>Maximum Value:</li>
							<li>{{this.database.offer.maximum_value}}</li>
							<li>Minimum Service History:</li>
							<li>{{this.lang[this.database.offer.minimum_service_history]}}</li>
							<li>Maximum No. of Previous Owners:</li>
							<li v-if="this.database.offer.maximum_previous_owners == 1">First Owner</li>
							<li v-if="this.database.offer.maximum_previous_owners == 2">1 Previous Owner</li>
							<li v-if="this.database.offer.maximum_previous_owners == 3">2 Previous Owners</li>
							<li v-if="this.database.offer.maximum_previous_owners == 4">3 Previous Owners</li>
							<li v-if="this.database.offer.maximum_previous_owners == 5">4 Previous Owners</li>
							<li v-if="this.database.offer.maximum_previous_owners == 6">More than 5 previous owners</li>
						</ul>
					</div>
					<div class="clear"></div>
					<div class="divider divider--light"></div>
					<div class="clear"></div>
					<div class="col-12">
						<ul>
							<li v-if="this.database.offer.accept_write_offs">Maximum Acceptable Write Off Category:</li>
							<li v-if="this.database.offer.accept_write_offs">{{this.database.offer.maximum_write_off_category}}</li>
							<li>Acceptable Mechanical Defects:</li>
							<li v-if="this.database.offer.acceptable_defects">
								<span v-for="defect in this.database.offer.acceptable_defects">
									{{defect.title}},
								</span>
							</li>
							<li v-else>No Defects Accepted</li>
							<li>Acceptable Colours:</li>
							  <li v-if="this.database.offer.acceptable_colors">
							  	<span v-for="color in this.database.offer.acceptable_colors">
							      	{{color.title}},
							  	</span>
							  </li>
							<li v-else>All Colours Accepted</li>
						</ul>
					</div>
                </div>
                <p><strong><a @click="goBackToStepOne()" class="u-font-bold u-text-orange">Edit Bid Rules</a></strong></p>
            </div>
            <div class="offer__section">
                <h1>Vehicles</h1>
                <div class="offer__rule" v-for="model in models" v-if="Object.keys(model.derivatives).length > 0">
                    <div class="offer__rule--title">
                        <strong>{{model.manufacturer.name}} {{model.name}} ({{model.introduced_date}} - {{model.discontinued_date}})</strong>
                    </div>
                    <div class="offer__rule--derivatives">
                        <strong>{{Object.keys(model.derivatives).length}} Derivatives</strong>
                    </div>
                    <div class="offer__rule--percentage">
                        <strong class="model_value" v-if="model.base_value && !isScrap">{{model.base_value}}%</strong>
                        <strong class="base_value" v-else>{{offer.base_value}}%</strong>
                    </div>
                    <!-- .offer__rule--children -->
                    <div class="offer__rule-children">
                        <!-- .offer__rule -->
                        <div class="offer__rule--child" v-for="derivative in model.derivatives">
                            <div class="offer__rule--title">
                                <p>{{model.manufacturer.name}} {{derivative.model.name}} {{derivative.name}}</p>
                            </div>
                            <div class="offer__rule--derivatives">
                                &nbsp;
                            </div>
                            <div class="offer__rule--percentage">
                                <p class="deriv_value" v-if="derivative.base_value && !isScrap">{{derivative.base_value}}%</p>
                                <p class="base_value" v-else>{{offer.base_value}}%</p>
                            </div>
                        </div>
                        <!-- / .offer__rule -->
                    </div>
                    <!-- / .offer__rule--children -->
                </div>
                <p><strong><a @click="goBackToStepTwo()" class="u-font-bold u-text-orange">Edit Vehicles</a></strong></p>
            </div>
            <div class="offer__section offer__section--centered floaty-button">
                <p>
                    <button type="submit" class="offer__previous" @click="goBackToStepTwo()">Previous Step</button>
                    <button type="submit" class="offer__next" :disabled="this.selectedModels.length == 0" @click="persistOfferStepThree()">Publish</button>
                </p>
                <p>
                    <small>Once your bid is published it will appear live on Jamjar.com. You can come back and edit your offer details at any time.</small>
                </p>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    import Spinner from 'vue-simple-spinner';
    import Model from './Model';
    export default {
        props: ['colors', 'defects', 'db_offer', 'years', 'lang', 'scrap_dealer'],
        components: { Spinner, Model },

        // watch:{
        //     'model.base_value': {
        //         handler(val) {
        //             console.log('model changed')
        //             console.log(val)

        //         },
        //         deep: true
        //     }
        // },

        mounted() {
            if (Object.keys(this.db_offer).length > 0) {
                // this.offer = this.db_offer;
                this.offer.base_value = this.db_offer.base_value;

                this.offer.minimum_age = this.db_offer.minimum_age;
                this.offer.maximum_age = this.db_offer.maximum_age;

                this.offer.minimum_mileage = this.db_offer.minimum_mileage_int;
                this.offer.maximum_mileage = this.db_offer.maximum_mileage_int;

                this.offer.minimum_value = this.db_offer.minimum_value_int;
                this.offer.maximum_value = this.db_offer.maximum_value_int;

                this.offer.minimum_mot = this.db_offer.minimum_mot;
                this.offer.minimum_service_history = this.db_offer.minimum_service_history;
                this.offer.maximum_write_off_category = this.db_offer.maximum_write_off_category;
                this.offer.maximum_previous_owners = this.db_offer.maximum_previous_owners;

                this.offer.great_condition_percentage_modifier = this.db_offer.great_condition_percentage_modifier;
                this.offer.good_condition_percentage_modifier = this.db_offer.good_condition_percentage_modifier;
                this.offer.avg_condition_percentage_modifier = this.db_offer.avg_condition_percentage_modifier;
                this.offer.poor_condition_percentage_modifier = this.db_offer.poor_condition_percentage_modifier;
                this.offer.minimum_age = this.db_offer.minimum_age;
                this.offer.maximum_age = this.db_offer.maximum_age;
                this.offer.accept_write_offs = this.db_offer.accept_write_offs;
                if(this.offer.accept_write_offs==1) {

                    for(let i=0;i< this.db_offer.acceptable_defects.length;i++) {

                        this.offer.acceptable_defects.push(this.db_offer.acceptable_defects[i].id);
                    }
                }

                if(this.db_offer.acceptable_colors.length>0) {

                    this.filterColors = 0;
                    for(let i=0;i< this.db_offer.acceptable_colors.length;i++) {

                        this.offer.acceptable_colors.push(this.db_offer.acceptable_colors[i].id);
                    }

                }

            }else{

                this.offer.minimum_age = this.getRegYears[this.getRegYears.length - 1].year;
                this.offer.maximum_age = this.getRegYears[0].year;
            }

            if(this.scrap_dealer==1) {

                this.offer.great_condition_percentage_modifier = 100;
                this.offer.good_condition_percentage_modifier = 100;
                this.offer.avg_condition_percentage_modifier = 100;
                this.offer.poor_condition_percentage_modifier = 100;
            }


        },

        data() {
            return {
                showStepOne: true,
                showStepTwo: false,
                showStepThree: false,

                showManufacturers: false,
                showFuelTypes: false,
                showOfferForm: false,

                selectedVehicles: [],
                selectedVehicleType: '',
                selectedManufacturer: 0,
                selectedFuelType: 0,
                selectedModels: [],
                selectedDerivatives: [],

                showDerivSpinner: [],
                showFullPageSpinner: false,

                manufacturers: this.manufacturers,
                models: this.models,

                acceptableDefects: [],
                acceptableColours: [],

                allModelsSelected: false,
                allDerivativesSelected: false,

                acceptNonRunners: 0,
                filterColors: 1,

                isActive: [],

                isScrap: false,

                database: {
                    manufacturer: [],
                    offer: [],
                },

                offer: {
                    'manufacturer_id': '',
                    'fuel_type': '',
                    'vehicle_type': '',
                    'base_value': 100,
                    'name': '',
                    'great_condition_percentage_modifier': 100,
                    'good_condition_percentage_modifier': 80,
                    'avg_condition_percentage_modifier': 60,
                    'poor_condition_percentage_modifier': 40,
                    'minimum_age': '',
                    'maximum_age': '',
                    'minimum_mileage': 0,
                    'maximum_mileage': '',
                    'minimum_value': 0,
                    'maximum_value': '',
                    'minimum_service_history': 'None',
                    'minimum_mot': 'Expired',
                    'maximum_write_off_category': 'none',
                    'maximum_previous_owners': '5',
                    'filterColors': 1,
                    'acceptable_colors': [],
                    'acceptable_defects': [],
                    'accept_write_offs': 0
                },

                fuelTypes: ['Petrol', 'Diesel'],
            }
        },
        methods: {
            fuelType() {

                if(this.selectedFuelType=='Petrol') {

                    return 'Petrol/Hybrid/Electric';
                }

                return 'Diesel';
            },
            selectVehicleType(vehicleType) {
                this.manufacturers = this.fetchManufacturers(vehicleType);
                this.selectedVehicleType = vehicleType;
                this.offer.vehicle_type = vehicleType;
                this.showManufacturers = true;
                this.scrollToID('sectionManufacturers');
            },
            selectManufacturer(manufacturerId) {
                this.showFuelTypes = true;
                this.selectedManufacturer = manufacturerId;
                this.offer.manufacturer_id = manufacturerId;
                this.scrollToID('sectionFuelTypes');
            },
            selectFuelType(fuelType) {
                this.showOfferForm = true;
                this.selectedFuelType = fuelType;
                this.offer.fuel_type = fuelType;
                this.scrollToID('sectionOfferForm');
            },

            selectAllModels(event) {
                let e = event
                if (e.target.checked === true) {
                    this.showFullPageSpinner = true
                    // move to POST if we run into errors
                    // axios.post('/api/vehicles/getModelsAndDerivatives', {ids: this.selectedModels})
                    axios.get('/api/vehicles/getModelsAndDerivatives?vehicleType=' + this.selectedVehicleType + '&ids='+this.selectedModels)
                        .then(({data}) => {
                            this.models = data

                            data.map((model) => {
                                model.derivatives = model.derivatives.map((derivative) => {
                                    return derivative
                                });
                                this.selectAllDerivatives(model)
                                this.showFullPageSpinner = false
                            }, this);
                        });
                } else {
                    this.showFullPageSpinner = true

                    this.models.forEach((model) => {
                        model.derivatives = []
                        this.showFullPageSpinner = false
                    })
                }
            },

            selectAllDerivatives(model) {
                model.derivatives.forEach(function(derivative, index) {
                    return this.selectedDerivatives.push(derivative.model_id +'-'+ derivative.cap_derivative_id);
                }, this);
            },

            fetchManufacturers(vehicleType) {
                if (vehicleType) {
                    axios.get('/api/vehicles/manufacturers/'+vehicleType)
                        .catch(error => {
                            console.log(error);
                        })
                        .then(response => {
                            this.manufacturers = response.data;
                            return this.manufacturers;
                        });
                }
            },

            fetchModels() {
                let manufacturerCapId = this.selectedManufacturer;
                this.showAllModelSpinner = true;

                if (manufacturerCapId) {
                    axios.get('/api/vehicles/models/'+manufacturerCapId+'?vehicleType='+this.selectedVehicleType+'&fuelType='+this.selectedFuelType+'&minAge='+this.offer.minimum_age+'&maxAge='+this.offer.maximum_age)
                        .catch(error => {
                            swal('No Models could be found!', 'Taking you back to step one.', 'error', {
                                buttons: false,
                                timer: 2500,
                            })
                            .then(() => {
                                this.showStepTwo = false;
                                this.showStepOne = true;
                            });
                            return false;
                        })
                        .then(response => {
                            this.models = response.data.map((model) => {
                                model.derivatives = [];
                                model.base_value = '';
                                return model;
                            });
                            this.showAllModelSpinner = false;
                        });
                }
            },

            fetchDerivatives(model, event, wasSelectAll=false) {
                let modelCapId = this.selectedModels;
                if (event.target.checked == false) {
                    // get all derivatives to deselect and map over them to get an index "key"
                    let deselectDerivatives = model.derivatives.map((derivative) => {
                        return `${derivative.model_id}-${derivative.cap_derivative_id}`
                    });

                    // filter through our selected derivatives array and only deselect the derivatives we don't want
                    this.selectedDerivatives.filter((derivative) => {
                        return deselectDerivatives.indexOf(derivative) === -1
                    });

                    // set the model's derivatives to an empty array
                    model.derivatives = [];

                    // this.isActive[model.id] = false;
                } else {
                    this.showDerivSpinner[model.id] = true;
                    if (wasSelectAll !== true) {
                        this.scrollToID('model-'+model.cap_model_id);
                    }
                    // this.isActive[model.id] = true;

                    axios.post('/api/vehicles/derivative?vehicleType='+this.selectedVehicleType, { modelId: model.cap_model_id, internalManufacturerId: model.internal_manufacturer_id })
                        .catch(error => {
                            console.log(error);
                            console.log(error.response.data);
                        })
                        .then(response => {
                            model.derivatives = response.data.map((derivative) => {
                                derivative.base_value = '';
                                return derivative;
                            });

                            this.showDerivSpinner[model.id] = false;
                            this.selectAllDerivatives(model);
                        });
                }

            },

            updateDerivativeBaseValues(model) {
                // this.$emit('model.changed', model.base_value)

                console.log('updating deriv base values')

                model.derivatives.map((derivative) => {
                    this.$set(derivative, 'base_value', model.base_value)
                }, this)
            },

            goBackToStepOne() {
                this.showStepOne = true;
                this.showStepTwo = false;
                this.showStepThree = false;
            },
            goBackToStepTwo() {
                this.showStepOne = false;
                this.showStepTwo = true;
                this.showStepThree = false;

            },


            persistOfferStepOne() {
                let offerData = this.offer;
                this.showFullPageSpinner = true;

                axios.post('/api/automated-bids', offerData)
                    .catch(error => {
                        swal('Whoops!', 'There were some errors with your input. Please check and try again.', 'error', {
                            buttons: false
                        });
                        this.showFullPageSpinner = false;
                    })
                    .then(({data}) => {
                        this.database.offer = data.offer;
                        this.database.manufacturer = data.manufacturer;
                        if(typeof this.models === 'undefined') {
                            this.fetchModels();
                        }

                        swal('Bid Saved', 'Proceeding to Step 2', 'success', {
                            buttons: false,
                            timer: 1500,
                        });
                        this.showStepOne = false;
                        this.showStepTwo = true;
                        this.scrollToID('app');
                        this.showFullPageSpinner = false;
                    });

                if(this.offer.accept_write_offs==1 || this.acceptNonRunners>1) {

                    this.isScrap = false;
                }
            },
            persistOfferStepTwo() {
                this.showFullPageSpinner = true;
                if (typeof(this.selectedDerivatives[0]) === 'object') {
                    this.selectedDerivatives[0] = '';
                }

                // We need to remove the derivatives which aren't selected from the model.derivatives array.
                // loop through the selected derivatives
                // in order to build up an array of derivative ID's
                // then loop through the model.derivatives array
                // and remove any which aren't present in the derivative ID's array


                let selectedDerivativeIds = [];

                this.selectedDerivatives.map((selected) => {
                    selectedDerivativeIds.push(selected.split('-')[1])
                })

                // Loop through each model
                // Loop through it's child derivatives
                // if the derivative id isnt in the selectedDerivativeIds array
                // kill it with fire

                let indicesToDelete = []

                this.models.forEach((model) => {
                    model.derivatives = model.derivatives.filter((derivative) => {
                        if (selectedDerivativeIds.includes(derivative.cap_derivative_id)) {
                            return true
                        }
                    })
                })

                let data = {
                    models: this.models,
                    selectedModels: this.selectedModels,
                    selectedDerivatives: this.selectedDerivatives,
                    base_value: this.offer.base_value
                };

                let uuid = this.database.offer.slug;

                axios.patch('/api/automated-bids/'+uuid+'/update', data)
                    .then(response => {
                        this.showStepOne = false;
                        this.showStepTwo = false;
                        this.showStepThree = true;
                        this.scrollToID('app');
                        if (this.selectedDerivatives.length > 1000) {
                            setTimeout(function() {
                                console.log('10 seconds are up');
                                this.showFullPageSpinner = false;
                            }.bind(this), 10000);
                        } else {
                            swal({
                                text: "Your offer has been saved, you can now review it before it goes live.",
                                buttons: false,
                                timer: 5000,
                            });
                            this.showFullPageSpinner = false;
                        }
                    });
            },

            persistOfferStepThree() {
                let uuid = this.database.offer.slug
                this.showFullPageSpinner = true;

                axios.patch('/api/automated-bids/'+uuid+'/complete')
                    .then(response => {
                        swal({
                            text: "Your offer has been published!",
                            buttons: false,
                            timer: 1500,
                        });
                        this.scrollToID('app');
                        // this.showFullPageSpinner = false;
                        window.location = response.data.redirect_uri;
                    });
            },

            scrollToID(id) {
              $(function() {
                $('html,body').animate({
                  scrollTop: $("#"+id).offset().top
                }, 1000);
              });
            },
            testing(model) {
                console.log(model)
                alert('x')
            }
        },
        computed:{
          selectAll: {
            get: function () {
              return this.models ? this.selectedModels.length == this.models.length : false;
            },
            set: function (value) {
              let selected = [];

              if (value) {
                this.models.forEach(function (model) {
                  selected.push(model.cap_model_id);
                });
              }

              this.selectedModels = selected;
            }
          },
            getRegYears(){
                // Beginning date since registration plates began using this format
                let beginningDate = new Date("2001-03-01T00:00:00");
                // Current date
                // let currentDate = new Date(2018, 9, 1, 1);
                let currentDate = new Date();


                // Milliseconds
                let marToSep = 15897600000;
                let sepToMar = 15638400000;
                let msInDay = 86400000;

                // Initialise array to store reg values (with old style hardcoded)
                var regOptions = [{"year": "1983-A","label": "1983 A"},{"year": "1984-B","label": "1984 B"},{"year": "1985-C","label": "1985 C"},{"year": "1986-D","label": "1986 D"},{"year": "1987-E","label": "1987 E"},{"year": "1988-F","label": "1988 F"},{"year": "1989-G","label": "1989 G"},{"year": "1990-H","label": "1990 H"},{"year": "1991 J","label": "1991 J"},{"year": "1992-K","label": "1992 K"},{"year": "1993-L","label": "1993 L"},{"year": "1994-M","label": "1994 M"},{"year": "1995-N","label": "1995 N"},{"year": "1996-P","label": "1996 P"},{"year": "1997-R","label": "1997 R"},{"year": "1998-S","label": "1998 S"},{"year": "1999-T","label": "1999 T"},{"year": "1999-V","label": "1999 V"},{"year": "2000-W","label": "2000 W"},{"year": "2000-X","label": "2000 X"},{"year": "2001-Y","label": "2001 Y"}];
                //Current loop iteration (used to calculate current year for cars registered 01 Sep to 28 Feb)
                let i = 1;
                // Registration prefix (for cars registered 01 Sep to 28 Feb)
                let regPrefix = 5;
                while( currentDate.getTime() > beginningDate.getTime() ){
                    // if(currentDate.getTime() > beginningDate.getTime() + marToSep){
                        let loopYear = beginningDate.getFullYear().toString();
                        if(parseInt(loopYear) % 4 == 0){
                            beginningDate = new Date(beginningDate.getTime() + msInDay);
                        }
                        // The 01 plate doesn't exist
                        if(i != 1){
                            regOptions.push({"year": loopYear + "-" + loopYear.substr(-2), "label": loopYear + " (" + loopYear.substr(-2) + " plate)" });
                        }
                        beginningDate = new Date(beginningDate.getTime() + marToSep);
                        // regOptions.push(beginningDate);
                        // regOptions.push(currentDate);
                        if(currentDate.getTime() > beginningDate.getTime()){
                            if(i % 10 == 0){
                                regPrefix++;
                            }
                            regOptions.push({"year": loopYear + "-" + regPrefix + i % 10, "label": loopYear + " (" + regPrefix + i % 10 + " plate)"});
                            if(currentDate.getFullYear() != beginningDate.getFullYear() ){
                                regOptions.push({"year": parseInt(loopYear) + 1 + "-" + regPrefix + i % 10, "label": parseInt(loopYear) + 1 + " (" + regPrefix + i % 10 + " plate)"});
                            }
                            beginningDate = new Date(beginningDate.getTime() + sepToMar);
                        }
                    i++;
                }
                // Make most recent year appear at top
                return regOptions.reverse();
            }
        }
    }

</script>
