<template>
    <div class="row matrix-position">
        <div class="col-8">
            <a class="button billing_listing_position position-button" :class="[ selectedPosition == 1 || position == 1 ? 'is-active' : ''  ]" @click="updatePosition(1)">1</a>
            <a class="button billing_listing_position position-button" :class="[ selectedPosition == 2 || position == 2 ? 'is-active' : ''  ]" @click="updatePosition(2)">2</a>
            <a class="button billing_listing_position position-button" :class="[ selectedPosition == 3 || position == 3 ? 'is-active' : ''  ]" @click="updatePosition(3)">3</a>
            <a class="button billing_listing_position position-button" :class="[ selectedPosition == 4 || position == 4 ? 'is-active' : ''  ]" @click="updatePosition(4)">4</a>
            <a class="button billing_listing_position position-button" :class="[ selectedPosition == 5 || position == 5 ? 'is-active' : ''  ]" @click="updatePosition(5)">5</a>
            <a class="button billing_listing_position position-button" :class="[ selectedPosition == 6 || position == 6 ? 'is-active' : ''  ]" @click="updatePosition(6)">6+</a>
        </div>
        <div class="col-4 u-text-right">
            <a class="button button--orange-bg billing_listing_position_save" :class="{ 'u-disabled' : selectedPosition == 0 }" @click="persistData()">SAVE</a>
        </div>
    </div><!-- /.row -->
</template>

<script>
    export default {
        props: ['position'],

        mounted() {
            console.log('matrix position component mounted.');
        },

        data() {
            return {
                selectedPosition: 0,
            }
        },

        methods: {
            updatePosition(value) {
                this.selectedPosition = value;
                this.position = null;
            },
            persistData() {
                axios.patch('/api/billing/position', {position: this.selectedPosition})
                    .then(({data}) => {
                        swal("Position Saved", {
                            icon: "success",
                            buttons: false,
                            timer: 1500,
                        });
                    });

            }
        }
    }
</script>
