<template>
    <div class="row" style="margin: 0;">
        <div class="col-4">
            <p><strong>CAR VALUE (&pound;)</strong></p>
            <input type="text" class="billing_car_value" v-model="valuation" @keyup.enter="calculateCost(selectedPosition)">
        </div><!-- /.col -->
        <div class="col-6">
            <p><strong>LISTING POSITION</strong></p>
            <a class="button position-button" :class="[ selectedPosition == 1 ? 'is-active' : '' ]" @click="calculateCost(1)">1</a>
            <a class="button position-button" :class="[ selectedPosition == 2 ? 'is-active' : '' ]" @click="calculateCost(2)">2</a>
            <a class="button position-button" :class="[ selectedPosition == 3 ? 'is-active' : '' ]" @click="calculateCost(3)">3</a>
            <a class="button position-button" :class="[ selectedPosition == 4 ? 'is-active' : '' ]" @click="calculateCost(4)">4</a>
            <a class="button position-button" :class="[ selectedPosition == 5 ? 'is-active' : '' ]" @click="calculateCost(5)">5</a>
            <a class="button position-button" :class="[ selectedPosition == 6 ? 'is-active' : '' ]" @click="calculateCost(6)">6+</a>
            <a class="button position-button" :class="[ selectedPosition == 7 ? 'is-active' : '' ]" @click="calculateCost('marketplace-fee')">Marketplace Fee</a>
        </div><!-- /.col -->
        <div class="col-2">
            <p><strong>YOUR FEE (+VAT)</strong></p>
            <strong class="billing_big_fee">&pound;{{ this.calculatedValue }}</strong>
        </div><!-- /.col -->
    </div><!-- /.row -->
</template>

<script>
    export default {
        mounted() {
            console.log('matrix cost calculator component mounted.');
        },

        data() {
            return {
                valuation: '',
                selectedPosition: 0,
                calculatedValue: 0,
            }
        },

        methods: {
            calculateCost(value) {
                this.selectedPosition = value;
                axios.post('/api/billing/calculator', { 'position': this.selectedPosition, 'valuation': this.valuation })
                    .then(({data}) => {
                        this.calculatedValue = parseFloat(data).toFixed(2);
                    });
            },
        }
    }
</script>
