<template>
    <div>
        <div class="u-pull-right">
            <!-- Watch this value pls -->
            <input type="text" :placeholder="offer.base_value" v-model="model.base_value"> %
        </div>
        <div class="spirit-check" :id="'model-' + model.cap_model_id">
            <input :name="model.cap_model_id" :id="model.cap_model_id" type="checkbox" :value="model.cap_model_id" v-model="selectedModels" @change="fetchDerivatives(model, $event)">
            <label :for="model.cap_model_id">
                <span class="spirit-check__check" v-if="!showSpinner[model.id]"></span>
                <div v-else>
                    <i class="fa fa-refresh fa-spin fa-fw fa-2x"></i>
                </div>
                <span class="spirit-check__content">{{ model.manufacturer.name }} &mdash; {{ model.name }} ({{model.introduced_date}} - {{model.discontinued_date}}) ABC</span>
            </label>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['offer', 'model'],
        mounted() {
            console.log(this.model.name)
            console.log('mounted')
        },
        data() {
            return {
                showSpinner: [],
                selectedModels: [],
                selectedDerivatives: [],
            }
        },
        methods: {

            fetchDerivatives(model, event, wasSelectAll=false) {
                let modelCapId = this.selectedModels;
                if (event.target.checked == false) {
                    // get all derivatives to deselect and map over them to get an index "key"
                    let deselectDerivatives = model.derivatives.map((derivative) => {
                        return `${derivative.model_id}-${derivative.cap_derivative_id}`
                    });

                    // filter through our selected derivatives array and only deselect the derivatives we don't want
                    this.selectedDerivatives.filter((derivative) => {
                        return deselectDerivatives.indexOf(derivative) === -1
                    });

                    // set the model's derivatives to an empty array
                    model.derivatives = [];

                    // this.isActive[model.id] = false;
                } else {
                    this.showSpinner[model.id] = true;
                    if (wasSelectAll !== true) {
                        this.$emit('scrollToId', 'model-'+model.cap_model_id)
                    }
                    // this.isActive[model.id] = true;

                    axios.post('/api/vehicles/derivative?vehicleType='+this.selectedVehicleType, { modelId: model.cap_model_id })
                        .catch(error => {
                            console.log(error);
                            console.log(error.response.data);
                        }) 
                        .then(response => {
                            model.derivatives = response.data.map((derivative) => {
                                derivative.base_value = '';
                                return derivative;
                            });

                            this.showSpinner[model.id] = false;
                            this.$emit('selectAllDerivatives', model)
                            // this.selectAllDerivatives(model);
                        });
                }

            },
        }
    }
</script>
