<template>
    <div>
        <div class="offer__rule">
            <div class="offer__rule--title">
                <strong>{{ details.manufacturer.name }} {{ details.name }} ({{ details.introduced_date }} - {{ details.discontinued_date }})</strong>
            </div>
            <div class="offer__rule--derivatives">
                <a @click="getDerivatives(model.cap_model_id, model.offer_id)" v-if="editMode == false"><strong>Show Derivatives <i class="fa fa-chevron-down"></i></strong></a>
            </div>
            <div class="offer__rule--percentage">
                <!-- <strong>{{ model.base_value }}%</strong> -->
            </div>
            <!-- .offer__rule--children -->
            <div class="offer__rule-children">
                <div v-if="!showLoader">
                    <!-- .offer__rule -->                    
                    <input type="hidden" name="unchecked[]" v-model="unchecked">

                    <div class="offer__rule--child" v-for="derivative in derivatives">
                        <div class="offer__rule--title">
                            <div class="spirit-check">
                                <input 
                                    name="derivative_ids[]" 
                                    class="offer_edit__derivative_checkbox"
                                    :id="derivative.cap_derivative_id"
                                    type="checkbox"
                                    :value="derivative.cap_derivative_id"
                                    v-model="selectedDerivatives"
                                    @click="checkboxToggle($event, derivative)"
                                >
                                <label :for="derivative.cap_derivative_id">
                                    <span class="spirit-check__check"></span>
                                    {{ derivative.derivative.name }}
                                </label>
                            </div>
                        </div>
                        <div class="offer__rule--derivatives">
                            &nbsp;
                        </div>
                        <div class="offer__rule--percentage offer__edit">
                            <input
                                type="tel"
                                name="base_value[]"
                                v-model="derivative.base_value"
                                class="offer__edit__show_on_edit"
                                style="width: 50px;"
                                v-if="editMode = true"
                            > %
                        </div>
                    </div>
                    <!-- / .offer__rule -->
                </div>
                <div v-else>
                    <div class="offer__rule--child">
                        <vue-simple-spinner></vue-simple-spinner>
                    </div>
                </div>
            </div>
        </div>
        <!-- / .offer__rule--children -->
    </div> 
</template>

<script>
    import Spinner from 'vue-simple-spinner';

    export default {
        props: ['model', 'details', 'selected'],
        components: { Spinner },
        mounted() {
            console.log('Offer Model Mounted');
            this.populateSelectedDerivatives()
        },
        data() {
            return {
                derivatives: [],
                editMode: false,
                showLoader: false,
                selectedDerivatives: [],
                unchecked: []
            }
        },
        methods: {
            populateSelectedDerivatives() {
                // console.log(this.details)
                Object.keys(this.selected).forEach(function (key, index) {
                    return this.selectedDerivatives.push(key)
                }, this);
            },
            getDerivatives(modelId, offerId) {
                this.showLoader = true
                return axios.get(`/api/vehicles/derivatives/${modelId}/${offerId}`)
                    .then(({data}) => {
                        this.derivatives = data
                        this.editMode = true
                        this.showLoader = false

                        // data.forEach(function(derivative) {
                        //     console.log(derivative.cap_derivative_id)
                        //     this.selectedDerivatives.forEach(function(selected) {
                        //         console.log(selected)
                        //     })
                        // }, this)
                    });
            },
            checkboxToggle(event, derivative) {
                if (event.target.checked == false) {
                    this.unchecked.push(derivative.cap_derivative_id)
                    // derivative.cap_derivative_id = derivative.cap_derivative_id + '-false'
                } else {
                    derivative.cap_derivative_id = derivative.cap_derivative_id.replace('-false', '')
                }
            }
        }
    }
</script>

<style>
    
</style>
