<template>
    <div>
        <div v-if="!showLoader">
            <div class="offer__rule" v-for="model in models">
                <div class="offer__rule--title">
                    <strong>{{ model.manufacturer.name }} {{ model.name }}  ({{ model.introduced_date }} - {{ model.discontinued_date }})</strong>
                </div>
                <div class="offer__rule--derivatives">
                    <strong>{{Object.keys(model.derivatives).length}} Derivatives</strong>
                </div>
                <div class="offer__rule--percentage">
                    <strong>{{offer.base_value}}%</strong>
                </div>
                <div class="offer__rule-children">
                    <!-- .offer__rule -->
                    <div class="offer__rule--child" v-for="derivative in model.derivatives">
                        <div class="offer__rule--title">
                            <p>{{ derivative.model.name }} -  {{ derivative.name }} ( {{ derivative.model.introduced_date }} - {{ derivative.model.discontinued_date }} )</p>
                        </div>
                        <div class="offer__rule--derivatives">
                            &nbsp;
                            <a :href="'/partners/automated-bids/'+this.offer.slug+'/edit'" v-if="derivative.suggested_value">
                                <span class="jj-suggested">
                                    {{derivative.suggested_value}}
                                </span>
                            </a>

                            <!-- {{ derivative.suggested_value }} -->
    <!--                    @if ($derivative->suggestedValue)
                                @if ($derivative->suggestedValue != $derivative['base_value'])
                                <a href="{{ route('partnerOfferEdit', $offer) }}">
                                    <span class="jj-suggested">
                                        Jamjar Suggested Value of {{$derivative->suggestedValue}}% - edit offer to update
                                    </span>
                                </a>
                                @else
                                <span class="jj-suggested">
                                    <i class="fa fa-check"></i> Using Jamjar Suggested Value 
                                </span>
                                @endif
                            @endif -->
                        </div>
                        <div class="offer__rule--percentage">
                            <p class="deriv_value">{{derivative.base_value}}%</p>
                            <!-- <p class="base_value" v-else>{{offer.base_value}}%</p> -->
                        </div>
                    </div>
                    <!-- / .offer__rule -->
                </div>
            </div>
        </div>
        <div v-else>
            <div class="offer__rule">
                <vue-simple-spinner></vue-simple-spinner>
            </div>
        </div>
    </div>
</template>

<script>
    import Spinner from 'vue-simple-spinner';

    export default {
        props: ['offer'],
        components: { Spinner },
        mounted() {
            this.fetchVehicles()
        },
        data() {
            return {
                models: [],
                showLoader: false
            }
        },
        methods: {
            fetchVehicles() {
                this.showLoader = true
                axios.get('/api/automated-bids/'+this.offer.slug+'/vehicles')
                    .then(({data}) => {
                        this.models = data
                        this.showLoader = false
                        this.models.forEach(model => {
                            model.derivatives.forEach(derivative => {
                                this.fetchDerivativeBaseValue(derivative)
                            }, this)
                        }, this)
                    })
            },
            fetchDerivativeBaseValue(derivative) {
                console.log(derivative)
            },
            fetchSuggestedValue(model) {
                model.derivatives.map((derivative) => {
                    axios.get('/api/vehicles/getSuggestedValue/'+derivative.cap_derivative_id)
                        .then(response => {
                            derivative.suggested_value = response.data
                            console.log(derivative)
                        })
                })
            }
        }
    }
</script>
