<template>

    <div class="dataTables_paginate paging_simple_numbers" >
        <a class="paginate_button previous " :class="{'disabled': pagination.current_page <= 1}"  @click.prevent="changePage(pagination.current_page - 1)" :disabled="pagination.current_page <= 1">Previous</a>
        <span>
            <a class="paginate_button " v-for="page in pages" :class="isCurrentPage(page) ? 'current' : ''" @click.prevent="changePage(page)">
                {{page}}
            </a>

        </span>
        <a class="paginate_button next" :class="{'disabled': pagination.current_page >= pagination.last_page}"  @click.prevent="changePage(pagination.current_page + 1)" :disabled="pagination.current_page >= pagination.last_page">Next</a>
    </div>
</template>

<style>
    .pagination {
        margin-top: 40px;
    }
</style>

<script>
    export default {
        props: ['pagination', 'offset'],
        methods: {
            isCurrentPage(page) {
                return this.pagination.current_page === page;
            },
            changePage(page) {
                if (page > this.pagination.last_page) {
                    page = this.pagination.last_page;
                }
                this.pagination.current_page = page;
                this.$emit('paginate');
                $('html, body').animate(
                    {
                        scrollTop: $('#your-rules').offset().top,
                    },
                    500,
                    'linear'
                )
            }
        },
        computed: {
            pages() {
                let pages = [];
                let from = 1;
                while (from <= this.pagination.last_page) {
                    pages.push(from);
                    from++;
                }
                return pages;
            }
        }
    }
</script>