<template>
    <div>
        <div class="box__content">

            <div class="offer__section">
                <div class="u-pull-left">
                    <div class="spirit-check">
                        <input type="checkbox" name="selectAll" id="selectAll" v-model="selectAll" @change="selectAllModels($event)">
                        <label for="selectAll">
                            <span class="spirit-check__check"></span>
                            <span class="spirit-check__content"><strong>SELECT ALL</strong></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="offer__section">
              <h3>Select individual models</h3>
                <div
                    class="offer__model"
                    v-for="model in models"
                    :key="model.cap_model_id"
                    :class="{ active : selectedModels.indexOf(model.cap_model_id) != -1 }"
                >
                    <div class="u-pull-right">
                        <input type="text" :placeholder="offer.base_value" v-model="model.base_value"> %
                    </div>
                    <div class="spirit-check" :id="'model-' + model.cap_model_id">
                        <input :name="model.cap_model_id" :id="model.cap_model_id" type="checkbox" :value="model.cap_model_id" v-model="selectedModels" @change="fetchDerivatives(model, $event)">
                        <label :for="model.cap_model_id">
                            <span class="spirit-check__check"></span>
                            <span class="spirit-check__content">{{ model.manufacturer.name }} &mdash; {{ model.name }} ({{model.introduced_date}} - {{model.discontinued_date}})</span>
                        </label>
                    </div>
                    <div class="form__group" v-if="showDerivSpinner[model.id]">
                        <vue-simple-spinner></vue-simple-spinner>
                    </div>
                    <div class="offer__derivatives">
                        <div class="offer__derivative" v-for="derivative in model.derivatives">
                            <div class="u-pull-right">
                                <input type="text" :placeholder="offer.base_value" v-model="derivative.base_value"> %
                            </div>
                            <div class="spirit-check">
                                <input :name="derivative.model_id +'-'+ derivative.cap_derivative_id" :id="derivative.model_id +'-'+ derivative.cap_derivative_id" type="checkbox" :value="derivative.model_id +'-'+ derivative.cap_derivative_id" v-model="selectedDerivatives" @change="activateModel(derivative.model_id)">
                                <label :for="derivative.model_id +'-'+ derivative.cap_derivative_id">
                                    <span class="spirit-check__check"></span>
                                    <span class="spirit-check__content">{{ derivative.model.name }} ({{derivative.model.introduced_date}} - {{derivative.model.discontinued_date}}) &mdash; {{ derivative.name }}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="offer__section offer__section--centered">
                <p>
                    <button type="submit" class="offer__next" :disabled="this.selectedModels.length == 0" @click="updateOffer()">Save Vehicle Selection</button>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    import Spinner from 'vue-simple-spinner';

    export default {
        props: ['offer'],
        components: { Spinner },

        computed: {
            selectAll: {
                get: function () {
                    return this.models ? this.selectedModels.length == this.models.length : false;
                },
                set: function (value) {
                    let selected = [];

                    if (value) {
                        this.models.forEach(function (model) {
                            selected.push(model.cap_model_id);
                        });
                    }

                    this.selectedModels = selected;
                }
            }
        },

        mounted() {
            console.log('SelectVehicles mounted');
            this.models = this.fetchModels();

            this.selectedModels = this.offer.model_ids.map((model) => {
                return model.cap_model_id;
            });

            this.selectedDerivatives = this.offer.derivative_ids.map((derivative) => {
                return derivative.cap_model_id +'-'+ derivative.cap_derivative_id;
            });
        },
        data() {
            return {
                selectedModels: [],
                selectedDerivatives: [],
                showDerivSpinner: [],
                models: []
            }
        },
        methods: {
            fetchModels() {
                if (this.offer.manufacturer_id) {
                    axios.get('/api/vehicles/models/'+this.offer.manufacturer_id+'?vehicleType='+this.offer.vehicle_type+'&fuelType='+this.offer.fuel_type+'&minAge='+this.offer.minimum_age+'&maxAge='+this.offer.maximum_age)
                        .catch(error => {
                            swal('No Models could be found!', ' ', 'error', {
                                buttons: false,
                                timer: 1500,
                            });
                            return false;
                        })
                        .then(response => {
                            // console.log(this.selectedModels);
                            // console.log(this.selectedDerivatives);

                            this.models = response.data;

                            response.data.forEach(model => {
                                if (this.selectedModels.includes(model.cap_model_id)) {
                                    // this.fetchDerivatives(model);
                                    // console.log(model.cap_model_id);
                                }
                            });


                            // this.models = response.data.map((model) => {
                            //     model.derivatives = [];
                            //     this.showDerivSpinner[model.id] = true;
                            //     model.base_value = '';

                            //     axios.post('/api/vehicles/derivative?vehicleType='+this.offer.vehicle_type, { modelId: model.cap_model_id })
                            //         .then(response => {
                            //             model.derivatives = response.data.map((derivative) => {
                            //                 derivative.base_value = '';
                            //                 return derivative;
                            //             });

                            //             this.showDerivSpinner[model.id] = false;
                            //         });
                            //     return model;
                            // });
                        });
                }
            },
            fetchDerivatives(model, event = false) {
                let modelCapId = this.selectedModels;
                if (event.target.checked == false) {
                    // get all derivatives to deselect and map over them to get an index "key"
                    let deselectDerivatives = model.derivatives.map((derivative) => {
                        return `${derivative.model_id}-${derivative.cap_derivative_id}`
                    });

                    // filter through our selected derivatives array and only deselect the derivatives we don't want
                    this.selectedDerivatives.filter((derivative) => {
                        return deselectDerivatives.indexOf(derivative) === -1
                    });

                    // set the model's derivatives to an empty array
                    model.derivatives = [];
                } else {
                    this.showDerivSpinner[model.id] = true;

                    axios.post('/api/vehicles/derivative?vehicleType='+this.offer.vehicle_type, { modelId: model.cap_model_id })
                        .catch(error => {
                            console.log(error);
                            console.log(error.response.data);
                        })
                        .then(response => {
                            model.derivatives = response.data.map((derivative) => {
                                derivative.base_value = '';
                                return derivative;
                            });

                            this.showDerivSpinner[model.id] = false;
                            this.selectAllDerivatives(model);
                        });
                }
            },

            selectAllModels(event) {
                let e = event
                if (e.target.checked === true) {
                    this.showFullPageSpinner = true
                    // move to POST if we run into errors
                    // axios.post('/api/vehicles/getModelsAndDerivatives', {ids: this.selectedModels})
                    axios.get('/api/vehicles/getModelsAndDerivatives?vehicleType=' + this.selectedVehicleType + '&ids='+this.selectedModels)
                        .then(({data}) => {
                            this.models = data
                            data.forEach((model) => {
                                model.base_value = ''
                                model.derivatives = model.derivatives.map((derivative) => {
                                    derivative.base_value = '';
                                    return derivative
                                });
                                this.selectAllDerivatives(model)
                                this.showFullPageSpinner = false
                            }, this);
                        });
                } else {
                    this.showFullPageSpinner = true

                    this.models.forEach((model) => {
                        model.derivatives = []
                        this.showFullPageSpinner = false
                    })
                }
            },

            // selectAllModels(event) {
            //     let e = event;
            //     this.models.forEach(function (model, e) {
            //         return this.fetchDerivatives(model, event);
            //     }, this);
            // },
            // 
            selectAllDerivatives(model) {
                model.derivatives.forEach(function(derivative, index) {
                    return this.selectedDerivatives.push(derivative.model_id +'-'+ derivative.cap_derivative_id);
                }, this);
            },
            activateModel(modelId) {
                if (this.selectedModels.indexOf(modelId) === -1) {
                    return this.selectedModels.push(modelId);
                }
            },
            updateOffer() {
                let data = {
                    manufacturer: this.offer.manufacturer,
                    models: this.models,
                    selectedModels: this.selectedModels,
                    selectedDerivatives: this.selectedDerivatives,
                    base_value: this.offer.base_value
                };

                axios.patch('/api/automated-bids/'+this.offer.slug+'/update', data)
                    .then(response => {
                        swal({
                            text: "The selected vehicles have been added to your offer.",
                            buttons: false,
                            timer: 1500,
                        });
                        window.location = 'edit';
                    });

            },
        }
    }
</script>
