<template>

    <div>

        <div class="rules-toggle" v-show="offer.is_opened">
            <div class="offer__rule" v-for="model in offer.models" v-if="offer.active && offer.models.length>0 && model.model.manufacturer_id">

                <div class="offer__rule--title">
                    <strong>{{offer.manufacturer_name}} {{ model.vehicle_model.name }}  ({{model.vehicle_model.introduced_date}} - {{ model.vehicle_model.discontinued_date}})</strong>
                </div>
                <div class="offer__rule--derivatives">
                    <strong>{{ model.derivatives_count }} Derivatives</strong>
                </div>
                <div class="offer__rule--percentage">
                    <strong v-if="!isScrap">{{ offer.base_value }}%</strong>
                </div>

                <div class="offer__rule-children">

                    <div class="offer__rule--child" style="border-bottom:1px solid #dddddd;" v-for="derivative in model.derivatives_custom" v-if="(derivative.base_value != offer.base_value) || (derivative.suggested!=null && derivative.suggested.percentage!=null)">

                        <div class="offer__rule--title">
                            <p>{{derivative.vehicle_derivative}}</p>
                        </div>
                        <div class="offer__rule--derivatives" >
                            &nbsp;
                            <div v-show="scrap_dealer==0 && !isScrap">
                                <a :href="'/associates/automated-bids/'+offer.slug+'/suggested'" v-if="derivative.suggested && derivative.suggested.percentage && derivative.suggested.percentage > derivative.base_value">
                                                    <span class="jj-suggested">
                                                        Jamjar Suggested Value of {{derivative.suggested.percentage}}% - edit offer to update
                                                    </span>
                                </a>
                                <a :href="'/associates/automated-bids/'+offer.slug+'/suggested'" v-else>
                                                    <span class="jj-suggested">
                                                        <i class="fa fa-check"></i> Using Jamjar Suggested
                                                    </span>
                                </a>
                            </div>


                        </div>
                        <div class="offer__rule--percentage">
                            <p v-if="!isScrap ">{{ derivative.base_value }}%</p>
                        </div>

                    </div>

                </div>

            </div>
        </div>
        <button  v-if="offer.active && offer.models.length>0" class="button button--narrow "  :class="offer.is_opened ? 'button--orange-bg' : 'button--green-bg'" @click.prevent="toggleVehicles()">{{offer.is_opened ? 'HIDE VEHICLES' : 'SHOW VEHICLES'}}</button>
        <div class="row" v-if="offer.models.length==0">
            <div class="col-md-12">
                <p><strong>You have not selected any vehicles.</strong></p>
            </div>
        </div>
        <div v-show="showSpinner === true" class="loader" >
            <div class="loader__box">
                <div class="loader__content">
                    <i class="fa fa-car"></i>
                    <h3>Please wait, this may take a couple of seconds...</h3>
                </div>
            </div>
        </div>

    </div>

</template>

<script>

    export default {


        props: ['slug'],
        mounted() {


            this.getData();


        },
        data() {
            return {

                isScrap:false,
                offer:[],
                showSpinner: true,
                scrap_dealer:0

            }
        },
        methods: {

            toggleVehicles() {

                this.offer.is_opened = !this.offer.is_opened;
                app.$set( this.offer, 'is_opened', !this.offer.is_opened);
            },
            getData() {


                return axios.get('/api/automated-bids/get-vehicles?slug='+this.slug)
                    .then(({data}) => {
                        this.offer = data.data;
                        this.showSpinner = false;
                        this.scrap_dealer = data.scrap_dealer;

                        if(this.offer.accept_write_offs==1 || this.offer.acceptable_defects.length>0) {

                            this.isScrap = false;
                        }

                    });

            },

        }
    }

</script>