<template>
    <div>

        <div class="box__content box__content--with-padding" >

                <div class="suggested-values partner-add-to-marketplace" style="" v-if="count>0">
                    <template v-if="!rule">
                        <div class="add-to-marketplace__left" style="float:left">
                            <div style="font-weight: bold; font-size: 23px;">
                                You have {{count}} suggestions, why not update them all at once?
                            </div>
                            <div style="margin-top: 6px;">
                                If you like, we can keep on top of your suggestions by updating them all.
                            </div>
                        </div>
                        <div class="add-to-marketplace__right" style="float:left;margin-left:40px">
                            <a href="/associates/update-all-suggested-values" class="button button--orange-bg">UPDATE ALL RULES</a>
                        </div>
                    </template>
                    <template v-else>
                        <div class="add-to-marketplace__left" style="float:left">
                            <div style="font-weight: bold; font-size: 23px;">
                                The Jamjar Suggested Value shows you what other Associates are willing to pay.
                            </div>
                            <div style="margin-top: 6px;">
                               Update this rule to use Jamjar Suggested Values and stay ahead of the curve.
                            </div>
                        </div>
                        <div class="add-to-marketplace__right" style="float:left;">
                            <a style="float:left;margin-left:0px !important" :href="rule ? '/associates/update-suggested-values-model/'+slug+'?redirect_rule=1' : '/associates/update-suggested-values-model/'+slug" class="button button--orange-bg magic-btn">ACCEPT SUGGESTED VALUES</a>
                        </div>
                    </template>

                </div>

                <div class="suggested-values partner-add-to-marketplace" style="" v-if="count==0 && !showSpinner">
                    <div class="add-to-marketplace__left" style="float:left">
                        <div style="font-weight: bold; font-size: 23px;">
                            Congratulations! All of your Suggested Values are up-to-date!
                        </div>
                        <div style="margin-top: 6px;">
                            Keeping your Suggested Values up-to-date will help keep your valuations as competitive as possible.
                        </div>
                    </div>

                </div>

        </div>
        <div class="box__content box__content--with-padding" v-if="count>0">

            <div class="main-offer" style="margin-bottom: 20px;" v-for="offer in data">
                <div class="offer__header">
                    <div class="offer__title">
                        <h3>{{ offer.manufacturer_name }}</h3>
                        <span>{{ offer.fuel_type }}</span>
                        <p>{{ offer.name }}</p>
                    </div>
                    <div class="btn-container" v-if="!rule">
                        <a style="float:right" :href="'/associates/update-suggested-values-model/'+offer.slug" class="button button--green-bg magic-btn">ACCEPT SUGGESTED VALUES</a>

                    </div>

                </div>
                <div class="offer__rule" v-for="model in offer.offers_by_model">

                    <div class="model-head">
                        <div class="offer__rule--title ">
                            <strong>{{offer.manufacturer_name}} {{ model[0].vehicle_derivatives.model.name }}  ({{model[0].vehicle_derivatives.model.introduced_date}} - {{ model[0].vehicle_derivatives.model.discontinued_date}})</strong>
                        </div>
                        <div class="offer__rule--derivatives ">
                            <strong>{{ model[0].derivatives_count }} Derivatives</strong>
                        </div>

                    </div>
                    <div class="offer__rule-children" v-for="derivative in model">
                        <template>
                        <div class="offer__rule--child">
                            <div class="offer__rule--title">
                                <p>{{ derivative.vehicle_derivatives.name }}</p>
                            </div>
                            <div class="offer__rule--derivatives">

                                <form method="POST" :action="'/associates/update-suggested-value-manual/'+offer.slug+'/'+derivative.offer_derivative_id">
                                    <input type="hidden" name="_token" :value="csrf">
                                    <input type="hidden" name="redirect_rule" value="1">
                                    <p class="inside-p manual"> <span class="mobile-show" style="display:none">OR UPDATE VALUE MANUALLY</span> <input class="suggested-values-input" type="text" name="value" :value="derivative.base_value"><strong>%</strong></p>
                                    <button type="submit" class="button button--orange-bg magic-btn " style="margin-right:6px">UPDATE</button>
                                </form>

                                <div>
                                    <p class="inside-p topper move-right">JAMJAR SUGGESTED VALUE IS <strong><input disabled class="suggested-values-input" type="text" :value="derivative.suggested_value">%</strong>
                                        <a :href="rule ? '/associates/update-suggested-value/'+offer.slug+'/'+derivative.offer_derivative_id+'/'+derivative.suggested_value+'?redirect_rule=1' : '/associates/update-suggested-value/'+offer.slug+'/'+derivative.offer_derivative_id+'/'+derivative.suggested_value" class="button button--green-bg magic-btn">ACCEPT</a></p>
                                </div>
                            </div>
                        </div>
                        </template>
                    </div>
                </div>
            </div>

            <div v-if="pagination.last_page > 1" style="margin: 0 auto; text-align: center;">
                <div >Results page: {{ pagination.current_page }} / {{ pagination.last_page }}</div>
                <span v-if="pagination.current_page > 1">
                    <a :href="'/associates/suggested-values?pageNumber='+(parseInt(pagination.current_page)-1)" class="button button--green-bg">PREV PAGE</a>
                </span>
                    <span v-if="pagination.current_page < pagination.last_page">
                    <a :href="'/associates/suggested-values?pageNumber='+(parseInt(pagination.current_page)+1)" class="button button--green-bg">NEXT PAGE</a>
                </span>
            </div>
        </div>


        <div v-show="showSpinner === true" class="loader" style="">
            <div class="loader__box">
                <div class="loader__content">
                    <i class="fa fa-car"></i>
                    <h3 style="color:#6e6e6e;text-transform: none;font-weight:400;margin-bottom:0px">Please wait, this may take a couple of seconds...</h3>
                </div>
            </div>
        </div>

    </div>

</template>

<script>



    export default {

        props: ['csrf', 'rule', 'slug', 'page_number'],
        mounted() {

            this.getData();
            this.loaded = true

        },
        data() {
            return {

                data:[],
                count:0,
                loaded: false,
                showSpinner: true

            }
        },
        methods: {

            getData() {

                let url = '/api/suggested-values/get-data';

                let urlQuery = [];

                if(this.rule) {
                    urlQuery.push(slug='+this.slug');
                }

                if (this.page_number) {
                    urlQuery.push('pageNumber='+this.page_number);
                }

                let queryString = '';
                for (var i = 0; i < urlQuery.length; i++) {
                    if (i === 0) {
                        queryString += '?';
                    } else {
                        queryString += '&';
                    }

                    queryString += urlQuery[i];
                }

                return axios.get(url + queryString)
                    .then(({data}) => {
                        this.data = data.data;
                        this.pagination = data.pagination;
                        this.count = data.count;
                        this.showSpinner = false;
                    });
            },

        }
    }


</script>