.alert {
    color: white;
    font-weight: bold;
    margin: 1rem auto;
    padding: 1rem;
    background-color: rgba($orange, 0.75);
    border: 1px solid darken($orange, 10%);

    &--danger {
        background-color: rgba($red, 0.75);
        border: 1px solid darken($red, 10%);
    }

    &--info {
        background-color: rgba($orange, 0.75);
        border: 1px solid darken($orange, 10%);
    }

    &--success {
        color: $green;
        border: 1px solid $green;
        background-color: rgba(lighten($green, 35%), 0.6);
    }

    a {
        color: $white;
        font-weight: bold;
    }

    ul {
        list-style: none;
    }

    @media (max-width: $tablet) {
        p {
            text-align: center;
        }

        a.u-pull-right {
            float: none;
            display: inline-block;
            margin-top: 5px;
        }
    }

    &.not-accepted-condition-message{

      border: 1px solid #F3A69E;
      background-color: #F9D3CF;
      color: #E74C3C;
      border-radius: 2px;
      position: relative;
      font-size: 14px;
      padding: 18px 0px 18px 45px;
      text-align: left;
      font-weight: bold;
      margin: 20px 0px 0px;

      &:after {
        font-family: FontAwesome;
        content: "\f071";
        text-transform: none;
        color: #E74C3C;
        font-weight: 400;
        visibility: hidden;
        position: absolute;
        left:15px;
        top:0px;
        z-index: 2;
        height: 100%;
        visibility: visible;
        width:47px;
        line-height: 58px;
      }
    }
}
