.box {
    background-color: $white;
    box-shadow: 0 0 2px 0 rgba($black, 0.1);
    margin: 2em 0;
    padding: 1em;
    clear: both;
    width: 100%;
    float: left;

    @media (max-width: 600px) {
        &:first-of-type {
            margin-top: 1rem;
        }
    }

    &--first {
        @media (max-width: 600px) {
            margin: 0.5em 0;
            padding-top:0;
        }
    }

    &--half {
        &:nth-child(1) {
            width: 50%;
        }

        &:nth-child(2) {
            width: 48%;
            margin-left: 2%;
        }

        float: left;
        clear: none;
    }

    &--with-header {
        padding: 0;
    }

    &--no-margin {
        margin: 0 auto;

        .box__content {
            margin: 0;

            p {
                margin: 0;
            }
        }
    }

    &--no-padding {
        padding: 0;

        .box__item,
        .box__subheader {
            padding: 1rem;
        }

        .box__content {
            padding: 0;
        }
    }

    &--blog {
        .box__content {
            // text-align: center;
            font-size: 1.8rem;
            max-width: 900px;
            margin: 2em auto;
            float: none;
        }
    }

    &__header {
        background-color: $black;
        padding: 0.75em 1.25em;
        font-size: 2rem;
        color: $white;

        @media all and (max-width: $tablet) {
            // text-align: center;
        }

        span {
            color: $white;
            background-color: $orange;
            display: inline-block;
            width: 25px;
            text-align: center;
            border-radius: 50%;
            height: 25px;
            font-size: 1.5rem;
            margin-right: 1rem;
        }
    }

    &__title {
        border-bottom: 1px solid #bbbdc0;
        float: left;
        width: 100%;
        clear: both;
        margin-bottom: 1rem;
        padding-bottom: 0.3em;
        margin-top: 1em;

        &:first-of-type {
            margin-top: 0;
        }

        @media (max-width: $tablet) {
            // text-align: center;
        }

        @media (max-width: 600px) {
            font-size: 2.3rem;
        }

        &--centered {
            text-align: center;
        }

        &--no-border {
            border-bottom: 0;
            margin-bottom: 2rem;
        }

        &--mob-hide {
            @media (max-width: 600px) {
                display: none;
            }
        }
    }

    &__content {
        width: 100%;
        float: left;
        clear: both;
        padding: 1em 0;

        @media all and (min-width: $tablet) {
            margin-bottom: 2rem;
        }

        @media all and (max-width: $tablet) {
            // text-align: center;
        }

        @media (max-width: $tablet) {
            p strong {
                padding: 10px 0;
                margin-top: 10px;
            }

            p strong, p a {
                float: none;
                display: block;
            }

            p a {
                display: inline-block;
            }
        }

        @media (max-width: $mob) {
            padding: 0.5em 0;
        }

        &--with-padding {
            padding: 2rem;
        }

        h1,
        h2,
        h3 {
            font-weight: bold;
            text-transform: uppercase;
            color: $black;
            margin-bottom: 2rem;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            @media all and (min-width: $tablet) {
                width: 60%;
            }
        }

        @media all and (min-width: $tablet) {
            li {
                display: block;
                width: 50%;
                float: left;

                &:nth-of-type(odd) {
                    font-weight: 400;
                    clear: left;
                    width: 45%;
                    margin-right: 5%;
                }
            }
        }

        @media all and (max-width: $tablet) {
            li {
                &:nth-of-type(odd) {
                    font-weight: 400;
                    margin-bottom: 0;
                }

                &:nth-of-type(even) {
                    //margin-bottom: 1rem;
                }
            }
        }

        // img {
        //     float: right;
        //     width: 200px;
        //     // height: 5em;

        //     @media all and (max-width: $tablet) {
        //         // width: 40%;
        //         // padding: 0;
        //     }

        //     @media all and (min-width: $tablet) {
        //         // width: 30%;
        //     }

        //     @media all and (max-width: 600px) {
        //         display: none;
        //     }
        // }

        p {
            margin: 0 0 1em;
        }

        h2 {
            width: 75%;

            @media all and (max-width: 600px) {
                width: 100%;
            }
        }

        &--split-list {
            ul {
                width: 38%;
                margin-right: 2%;
                float: left;

                li {
                    margin-bottom: 1rem;
                }

                @media all and (max-width: 600px) {
                    width: 50%;
                }

                @media all and (max-width: $phone) {
                    width: 100%;
                }
            }

            a {
                font-weight: bold;
                border-bottom: 1px solid $orange;
            }
        }
    }

    &__car-title {
        @media (max-width: 600px) {
            font-size: 2rem;
        }
    }

    &__logo {
        width: 20%;
        float: right;
        padding-bottom: 13%;
        height: 0;
        background: #f3f3f3;
        position: relative;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25) inset;
        background-size: contain;
        background-repeat: no-repeat;
        text-align: center;
        background-position: center center;
        background-color: #f3f3f3;

        // img {
        //     position: absolute;
        //     width: 90%;
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        // }

        @media all and (max-width: 600px) {
            display: none;
        }
    }

    &__footer {
        clear: both;
        border-top: 1px solid $grey;
        padding: 2rem;
        text-align: center;

        &--no-border {
            border: 0;
        }
    }

    &__item {
        padding: 2rem;
    }

    &__item-image {
        width: 25%;
    }

    &__subheader {
        // padding: 1rem 2rem;
        border-bottom: 1px solid rgba($grey, 0.6);

        // float: left;
        clear: both;
        width: 100%;
        padding: 0;
        line-height: 1.1;

        // font-size: 14px;
        display: table;

        [class*="col-"] {
            padding: 1%;
            display: table-cell;
            float: none;
            vertical-align: bottom;
            text-align: left;
        }

        @media (max-width: 600px) {
            display: none;
        }
    }

    &__item_dashboard {
        padding: 0;
        font-size: 14px;
        display: table;

        @media (max-width: 600px) {
            display: block;
            padding: 1em 0;
        }

        [class*="col-"] {
            padding: 2% 1%;
            float: none;
            display: table-cell;
            vertical-align: middle;

            @media (max-width: 600px) {
                display: block;
                padding: 0;
                margin-bottom: 0.5em;

                br {
                    display: none;
                }
            }

            &:last-of-type {
                text-align: right;

                @media (max-width: 600px) {
                    text-align: left;
                }
            }
        }

        &:nth-of-type(2n) {
            background-color: #f9f9f9;
        }

        .button {
            padding: 0.5em;
        }
    }

    &__item_dashboard-title {
        font-weight: 600;
        display: none;
        margin-right: 5%;
        width: 30%;
        vertical-align: top;

        @media (max-width: 600px) {
            display: inline-block;
        }

        @media (max-width: 400px) {
            width: 100%;
        }
    }

    &__item_dashboard-content {
        @media (max-width: 600px) {
            width: 64%;
            display: inline-block;
        }

        @media (max-width: 400px) {
            width: 100%;
        }
    }

    &__tabs {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: $offwhite;
        float: left;
        width: 100%;
        clear: both;
    }

    &__tab {
        float: left;

        &--active {
            background-color: $white;
        }

        a {
            border-bottom: none;

            &:hover {
                border-bottom: none;
            }
        }
    }

    &__tab-link {
        padding: 2rem;
        display: block;
        color: $grey;
        border-bottom: 0;

        &:hover {
            background-color: $white;
        }
    }

    &--narrow {
        width: 65%;
        margin: 2em auto;
        float: none;

        @media all and (max-width: $tablet) {
            width: 100%;
            margin: 0;
        }

        .box__content {
            width: 60%;
            margin: 2rem auto;
            float: none;
        }
    }

    &--with-table {
        table {
            border-collapse: collapse;

            tr td,
            tr th {
                border: 1px solid #E7E7E9;
                padding: 5px 15px 5px 5px;
                text-align: left;
                vertical-align: top;
            }

            tr th {
                background-color: #E7E7E9;
                color: #686868;
                font-weight: 600;
            }
        }
    }

    &--auth {
        .box__content {
            width: 80%;
        }
    }

    @media (max-width: $tablet) {
        &--auth {
            width: 100%;

            .box__content {
                width: 100%;
                margin: 0 auto;
            }
        }
    }
}

.box__with_filtering {
    .box__filtering {
        float: right;
        width: 60%;

        label {
            display: block;
            width: 100%;
        }

        input[type="date"] {
            width: 320px;
            max-width: 100%;
            padding: 10px 10px;
            border: 1px solid #CCC;
            color: #777;
            outline: 0;
            font-size: 16px;
        }

        input.button {
            margin-top: 25px !important;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 0;
        }
    }

    .dataTables_filter {
        display: inline-block;
        float: none;
        width: 40%;
        float: left;

        input {
            float: left;
            padding: 12.5px 10px;
            border: 1px solid #CCC;
            outline: 0;
            width: 320px;
            max-width: 100%;
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 0;
            font-size: 16px;
        }
    }
}

@media (max-width: $tablet) {
    .box__with_filtering {
        .box__filtering {
            float: left;
            width: 100%;

            > div {
                float: left;
                width: auto;
                text-align: left;
                margin-top: 10px;

                // display: block;
                // margin: 10px auto;
                input {
                    border: 2px solid $orange;
                    border-radius: 4px;
                }

                .button {
                    width: 100% !important;
                    background: #fab56b !important;
                    border-color: #fab56b !important;
                }
            }

            div.col-3 {
                width: 49%;

                input[type="date"] {
                    width: 100%;
                }
            }

            div.col-3:nth-child(even) {
                float: right;
            }

            div.col-4 {
                margin-top: 5px;
                width: 100%;
            }
        }

        .dataTables_wrapper {
            float: none;
            display: block;
        }

        .dataTables_filter {
            float: none;
            margin: 10px 0;

            input {
                float: left;
                width: 100%;
                margin-left: 0;
                margin-bottom: 0;
            }
        }
    }
}
