.button {
    -webkit-appearance: none;
    padding: 1rem 2rem;
    text-decoration: none;
    display: inline-block;
    border-radius: 1rem;
    text-align: center;
    transition: all 0.3s ease;
    margin: 1rem 0;
    cursor: pointer;

    &--small {
        padding: 0.75rem 2rem;
        font-size: 12px;
    }

    &__full {
        width: calc(100% - 4rem);
        text-align: center;
    }

    &--orange {
        border: 1px solid $orange;
        color: $orange;
        font-weight: 600;

        &:hover {
            background-color: $orange;
            color: $white;
        }
    }

    &--orange-bg {
        border: 1px solid $orange;
        color: $white;
        font-weight: 600;
        background-color: $orange;

        &:hover {
            background-color: $green;
            border-color: $green;
            color: $white;
        }
    }

    &--orange-transparent-bg {
        border: 1px solid $orange;
        color: $white;
        font-weight: 600;
        background-color: $orange;

        &:hover {
            background-color: transparent;
            border-color: $orange;
            color: $orange;
        }
    }

    &--red {
        border: 1px solid $red;
        color: $red;
        font-weight: 600;

        &:hover {
            background-color: $red;
            color: $white;
        }
    }

    &--red-bg {
        border: 1px solid $red;
        color: $white;
        font-weight: 600;
        background-color: $red;

        &:hover {
            background-color: transparent;
            color: $red;
        }
    }

    &--green {
        border: 1px solid $green;
        color: $green;
        font-weight: 600;

        &:hover {
            background-color: $green;
            color: $white;
        }
    }

    &--green-bg {
        border: 1px solid $green;
        color: $white;
        font-weight: 600;
        background-color: $green;

        &:hover {
            background-color: transparent;
            color: $green;
        }
    }

    &--grey {
        border: 1px solid $grey;
        color: $grey;
        font-weight: 600;

        &:hover {
            background-color: $grey;
            color: $white;
        }
    }

    &--lightgrey {
        border: 1px solid $offwhite;
        color: $grey;
        font-weight: 600;

        &:hover {
            background-color: $offwhite;
            color: $grey;
        }
    }

    &--grey-bg {
        border: 1px solid $grey;
        color: $white;
        font-weight: 600;
        background-color: $grey;

        &:hover {
            background-color: transparent;
            color: $grey;
        }
    }

    &--lightgrey-bg {
        border: 1px solid $offwhite;
        color: $grey;
        font-weight: 600;
        background-color: $offwhite;

        &:hover {
            background-color: transparent;
            color: $grey;
        }
    }

    &--dark {
        border: 1px solid $black;
        color: $black;
        font-weight: 600;

        &:hover {
            background-color: $black;
            color: $white;
        }
    }

    &--light {
        border: 1px solid $white;
        color: $white;
        font-weight: 600;

        &:hover {
            background-color: $white;
            color: $black;
        }
    }

    &--blue {
        border: 1px solid $white;
        color: $white;
        font-weight: 600;
        background-color: $matrixLightBlue;

        &:hover {
            color: $matrixLightBlue;
            background-color: $white;
        }
    }

    &--block {
        width: 100%;
        display: block;
        text-align: center;
    }

    &--matrix {
        font-weight: 600;
        background-color: $white;
        color: $matrixLightBlue;
        padding: 2rem 3rem;

        &:hover {
            color: $white;
            background-color: $matrixBlue;
        }
    }

    &--print{
      display: block;
      @media (max-width: $tablet) {
          display: none;
      }
    }

    &--matrix-big {
        font-weight: 600;
        background-color: $white;
        color: $matrixLightBlue;
        padding: 3rem 2rem;
        text-transform: uppercase;
        text-align: center;
        font-size: 2rem;
        border: 1px solid $matrixLightBlue;
        width: 100%;

        @media (max-width: $mob) {
            font-size: 1.5rem;
            padding: 2rem;
        }

        .price {
            font-size: 4.5rem;
            line-height: 1;
            font-weight: 600;
            margin: 1rem 0;

            @media (max-width: $mob) {
                font-size: 3rem;
                margin: 0.5rem 0;
            }
        }

        &.is-active,
        &:hover {
            color: $white;
            background-color: $matrixLightBlue;
        }

        &:after {
            content: '\f00c selected';
            font-family: 'FontAwesome', sans-serif;
            text-transform: none;
            color: $matrixBlue;
            font-weight: 400;
            visibility: hidden;
        }

        &.is-active {
            &:after {
                content: '\f00c selected';
                font-family: 'FontAwesome', sans-serif;
                text-transform: none;
                color: $matrixBlue;
                font-weight: 400;
                visibility: visible;
            }
        }
    }

    &--narrow {
        padding: 0.5rem 1.5rem;
        font-weight: 600;
        border-radius: 0.5rem;
    }

    &--big {
        padding: 1rem 2.5rem;
        font-size: 1.5rem;
    }

    &--xl {
        padding: 1.5rem 6rem;
        font-size: 2rem;
        color: white;
        border-radius: 1rem;
        font-weight: 500;
        text-align: center;
        margin: 0 auto;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }
}

button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.floaty-button {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.18);
    margin: 3rem;
}
