.card {
    width: 100%;
    float: left;
    border: 1px solid rgba($grey, 0.25);
    margin: 1rem auto;
    transition: all 0.3s ease;

    &:hover {
        box-shadow: 0 0 5px rgba($grey, 0.25);
    }

    &__content {
        float: left;
        width: 50%;
        padding: 2rem;
        background-color: $white;
        min-height: 400px;
        text-align: center;

        @media all and (max-width: $tablet) {
          width: 100%;
        }
    }

    &__image {
        float: right;
        width: 50%;
        min-height: 400px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @media all and (max-width: $tablet) {
          width: 100%;
        }
    }

    &__title, &__date {
        font-weight: bold;
        color: $black;
        display: block;
        padding: 1.5rem 0;
    }

    &--top {
        .card__image, .card__content {
            width: 100%;
            min-height: 200px;
        }
    }

    &__link {
        color: $black;
        border-color: transparent !important;
        border-bottom: 0 !important;

        &:hover {
            text-decoration: none !important;
            border-color: transparent !important;
            border-bottom: 0 !important;
            p {
                color: #000;
            }
        }
    }

    p {
        color: #000;
    }

    .view-article {
        display: none !important;
    }
}
