.color-block {
  display: block;
  float: left;
  width: 33%;
  @media(max-width: $exsm) {
    width: 100%;
  }

  &__title {
    text-transform: uppercase;
    font-weight: bold;
  }

  &__item {
    width: 70%;
    display: block;
    height: 50px;
    float: left;
    border-radius: 0.5rem;
    @media(max-width: $exsm) {
      width: 100%;
    }
  }

  &--blue {
    background-color: $matrixBlue;
  }

  &--lightblue {
    background-color: $matrixLightBlue;
  }

  &--orange {
    background-color: $orange;
  }

  &--yellow {
    background-color: $yellow;
  }

  &--green {
    background-color: $green;
  }

  &--grey {
    background-color: $grey;
  }
}
