.credits {
    float: left;
    width: 100%;
    clear: both;
    padding: 0;
    margin: 0;

    &__col {
        width: 33.33%;
        text-align: center;
        float: left;
        min-height: 20rem;
        padding: 1rem;

        @media all and (max-width: $tablet) {
            width: 100%;
            float: none;
            display: block;
            min-height: 0;
        }

        h1 {
            font-size: 6rem;

            @media all and (max-width: $tablet) {
                margin-bottom: 0;
            }
        }

        .button {
            width: 90%;
            margin: 0.5rem 0;
        }

        &:first-of-type {
            border-right: 1px solid darken($offwhite, 5%);
        }

        &:last-of-type {
            border-left: 1px solid darken($offwhite, 5%);
        }
    }
}

.statement__amount--small {
    font-size: 1.4rem;
}
