.faqs {
    &__container {
        padding: 4rem 0;
    }

    &__title {
        font-weight: bold;
        font-size: 2.5rem;
        margin: 2rem 0;
        color: $black;
    }

    &__open {
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        color: $grey;
    }
}

.faq {
    margin-bottom: 1rem;

    &__title {
        color: $black;
        font-size: 1.7rem;
        background-color: #CCC;
        color: $black;
        padding: 1rem;
        margin-bottom: 1rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out 0s;
        
        &:hover {
            background-color: $orange;
            color: $white;
        }
    }

    &__content {
        display: none;
    }

    &__open {
        float: right;
    }
}