.form {
    &__label {
        text-transform: uppercase;
        font-weight: bold;
        display: block;
        margin-bottom: 0.3em;

        &--inline {
            display: inline-block;
        }

        span {
            text-transform: none;
        }
    }

    &__after {
        margin-top: 3rem;
        display: inline-block;
        margin-left: 2rem;
    }

    &--errors {
        .form__label {
            color: $red;
            font-weight: bold;
        }

        .form__input {
            border-color: $red;
        }
    }

    &__description {
        display: block;
        font-weight: 300;
        text-transform: none;
        float: left;
    }

    &__required {
        color: $red;
    }

    &__input {
        padding: 0.75em 1em;
        width: 100%;
        outline: 0;
        transition: all 0.2s ease-in-out;
        border: 1px solid #bbbdc0;
        // background-color: lighten($offwhite, 2%);
        float: left;
        font-family: $fontfamily;
        font-weight: 400;
        max-width: 100%;
        margin: 0 0 1em;
        font-size: 14px;

        &:focus, &:hover {
            // padding: 1.5rem 1rem;
            border: 1px solid $orange;
            background-color: $white;
        }

        &--half {
            @media all and (min-width: $tablet) {
                width: 49%;
            }
        }

        &--small {
            padding: 0.5rem;
            font-size: 90%;

            &:hover, &:focus {
                // padding: 0.5rem;
            }
        }
    }

    &__group {
        width: 100%;
        float: left;

        &--half {
            @media all and (min-width: $tablet) {
                width: 49%;

                &:nth-of-type(odd) {
                    margin-right: 2%;
                }
            }
        }

        &--third {
            @media all and (min-width: $tablet) {
                width: 31%;
                margin: 1%;
            }
        }
    }

    select {
        text-transform: uppercase;
        font-weight: 300;
        color: $grey;
        display: inline-block;
        max-width: 100%;
        // padding: 1.5rem 1rem;
        padding-right: .75rem;
        background: url(../images/arrow.png) no-repeat 99% lighten($offwhite, 2%);
        appearance: none;
        border-radius: 0;
        background-size: 15px;
        background-position: 98% center;

        /* hacky way to remove dotted border in FF */
        color: #000;

        // color: rgba(0, 0, 0, 0);
        // text-shadow: 0 0 0 #000;

    }

    select.form__input--small {
        padding: 1rem;
    }

    select[multiple] {
        background: none;
    }

    &__submit {
        clear: both;
        width: 100%;
        float: left;
        border-top: 1px solid rgba($offblack, 0.4);
        text-align: center;
        margin-top: 2rem;

        &--no-border {
            border-top: 0;
        }

        input[type="submit"] {
            padding: 0.9em 4em;
            line-height: calc(100% - 1px);
            text-decoration: none;
            display: inline-block;
            border-radius: 1rem;
            transition: all 0.2s ease-in-out 0s;
            background-color: $orange;
            border: 1px solid $orange;
            color: $white;
            font-weight: bold;
            font-size: 2rem;
            cursor: pointer;
            appearance: none;

            @media all and (min-width: $tablet) {
                margin: 2rem 0;
            }

            @media all and (max-width: $tablet) {
                width: 100%;
                margin-top: 2rem;
            }
            @media all and (max-width: $phone) {
                padding: 0.9em;
            }

            &:hover {
                background-color: transparent;
                color: $orange;
            }
        }

        &--small {
            input[type="submit"] {
                padding: 1rem;
                font-size: 1.5rem;
                font-weight: 300;
            }
        }

        &--blue {
            input[type="submit"] {
                background-color: $matrixLightBlue;
                border: 1px solid $matrixLightBlue;
                color: $white;

                &:hover {
                    color: $matrixLightBlue;
                }
            }
        }
    }

    &__checkbox {
        width: 33.33%;

        &--full {
            width: 100%;
        }

        &--half {
            width: 50%;
        }

        @media all and (max-width: $tablet) {
            width: 50%;
        }
        @media all and (max-width: 500px) {
            width: 100%;
        }

        display: block;
        float: left;
        margin-bottom: 1em;
        // padding: 1rem;

        label {
            text-transform: uppercase;
            font-weight: 500;
        }

        span {
            margin-left: 0.5em;
            cursor: pointer;
        }
    }

    &__radio {
        margin-top: 1rem;
        margin-bottom: 1rem;
        float: left;
        width: 100%;

        label {
            display: block;
            width: 50%;
            float: left;
            font-weight: bold;
            text-transform: uppercase;
            @media (max-width: 600px) {
                width: 100%;
                float: none;
                margin-bottom: 0.5em;
                font-size: 1.3rem;
            }
        }
    }

    &__radioinput {
        display: block;
        width: 50%;
        float: left;
        text-align: right;
        font-weight: bold;
        text-transform: uppercase;

        span {
            padding: 0 1rem;
            cursor: pointer;
        }

        @media (max-width: 600px) {
            width: 100%;
            float: none;
            text-align: left;
        }

    }
}

.spirit-check {
    label {
        cursor: pointer;
        font-weight: 300;
        font-size: 1.35rem;
    }

    input[type="checkbox"] {
        display: none;
    }

    &__check {
        border: 1px solid $grey;
        background-color: $white;
        position: relative;
        padding: 0.3em;
        margin-right: 0.5em;
        height: 2em;
        width: 2em;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;

        &::after {
            text-align: center;
            vertical-align: middle;
            font-family: 'FontAwesome';
            content: "\f00c";
            cursor: pointer;
            position: absolute;
            color: transparent;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -30%);
            transition: all 0.05s ease-in-out 0s;
        }
    }

    &__content {
        vertical-align: middle;
    }

    input[type="checkbox"]:checked + label .spirit-check__check::after {
        // transform: translate(-50%, -30%);
        color: $green;
    }

    &--orange {
        input[type="checkbox"]:checked + label .spirit-check__check::after {
            // transform: translate(-50%, -30%);
            color: $orange;
        }
    }
}

.help-block {
    background-color: $black;
    color: $orange;
    padding: 1rem;
    margin: 1rem 0;
    display: block;
    @media (min-width: $tablet){
        width: 50%;
    }
}

input[type="date"] {
    font-family: sans-serif;
    padding: 0.5rem 0.5rem;
    font-size: 1.25rem;
}

.form__group.form--errors {
    background-color: rgba($red, 0.15);
}

fieldset {
    border: none;
    padding: 0;
    legend {
        display: none;
    }
}


.form {
    &__submit {
        clear: both;
        width: 100%;
        float: left;
        border-top: 1px solid rgba($offblack, 0.4);
        text-align: center;
        margin-top: 2rem;

        &--no-border {
            border-top: 0;
        }

        input[type="submit"],
        button[type="submit"] {
            padding: 2rem;
            text-decoration: none;
            display: inline-block;
            border-radius: 1rem;
            transition: all 0.3s ease;
            background-color: $orange;
            border: 1px solid $orange;
            color: $white;
            font-weight: bold;
            font-size: 2rem;
            cursor: pointer;
            margin: 2rem 0;

            &:hover {
                background-color: transparent;
                color: $orange;
            }
        }
    }
}


.button-spinner-image {
  background-image: url(/images/spinners/circle.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.expired-valuation {
  color: #aaaaaa;
}

.expired-valuation-date {
    font-size: 0.5em;
}
.matrix-pagination {
  text-align: center;
}
.matrix-pagination span {
  padding: 5px;
}

.radio-button-circle {
  border-radius: 50%;
}

.radio-button {
  background-color: white;
  border: 5px solid #c6c6c6;
  color: #777777;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-weight: bold;
  cursor: pointer;
}

.radio-button.inactive:hover {
  background-color: #c8ffd9; 
  border: 5px solid #abdeba;
}

.radio-button.active {
  background-color: #00c14e;
  border: 3px solid #00a333;
  color: white;
  box-shadow: #00a333 0.1em -0.1em 0.1em, #00a333 0.1em 0.1em 0.1em, #00a333 -0.1em 0.1em 0.1em, #00a333 -0.1em -0.1em 0.1em;
}

.radio-button-error {
  display: none;
  color: red;
}




// input[type=range] {
//     -webkit-appearance: none;
//     width: 100%;
//     margin: 9.3px 0;
// }

// input[type=range]:focus {
//     outline: none !important;
// }

// input[type=range]::-webkit-slider-runnable-track {
//     width: 100%;
//     height: 11.4px;
//     cursor: pointer;
//     box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
//     background: #00aeef;
//     border-radius: 0px;
//     border: 0px solid rgba(1, 1, 1, 0);
// }

// input[type=range]::-webkit-slider-thumb {
//     box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
//     border: 0px solid rgba(0, 0, 0, 0);
//     height: 30px;
//     width: 30px;
//     border-radius: 100px;
//     background: #00aeef;
//     cursor: pointer;
//     -webkit-appearance: none;
//     margin-top: -9.3px;
// }

// input[type=range]:focus::-webkit-slider-runnable-track {
//     background: #NaNNaNNaN;
// }

// input[type=range]::-moz-range-track {
//     width: 100%;
//     height: 11.4px;
//     cursor: pointer;
//     box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
//     background: #00aeef;
//     border-radius: 0px;
//     border: 0px solid rgba(1, 1, 1, 0);
// }

// input[type=range]::-moz-range-thumb {
//     box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
//     border: 0px solid rgba(0, 0, 0, 0);
//     height: 30px;
//     width: 30px;
//     border-radius: 100px;
//     background: #00aeef;
//     cursor: pointer;
// }

// input[type=range]::-ms-track {
//     width: 100%;
//     height: 11.4px;
//     cursor: pointer;
//     background: transparent;
//     border-color: transparent;
//     color: transparent;
// }

// input[type=range]::-ms-fill-lower {
//     background: #NaNNaNNaN;
//     border: 0px solid rgba(1, 1, 1, 0);
//     border-radius: 0px;
//     box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
// }

// input[type=range]::-ms-fill-upper {
//     background: #00aeef;
//     border: 0px solid rgba(1, 1, 1, 0);
//     border-radius: 0px;
//     box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
// }

// input[type=range]::-ms-thumb {
//     box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
//     border: 0px solid rgba(0, 0, 0, 0);
//     height: 30px;
//     width: 30px;
//     border-radius: 100px;
//     background: #00aeef;
//     cursor: pointer;
//     height: 11.4px;
// }

// input[type=range]:focus::-ms-fill-lower {
//     background: #00aeef;
// }
