.invoice {
    &__col {
        width: 50%;
        float: left;
        margin: 2rem 0;
    }

    &__address {
        margin: 2rem 0;
    }

    &__details {
        p {
            margin: 2rem 0;
        }
    }

    &__title {
        color: $black;
        font-size: 5rem;
        font-weight: 800;
        letter-spacing: 0.25rem;
        margin-top: 5rem;
        display: block;
    }

    &__table {
        width: 100%;
        float: left;
        clear: both;
        margin: 4rem 0;

        tr th {
            font-weight: 300;
            color: $grey;
        }

        tr {
            border-top: 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        }

        td {
            padding: 2rem 0;
        }
    }

    &__footer {
        width: 100%;
        float: left;
        clear: both;
        text-align: center;
        padding-bottom: 4rem;
    }
}
