.lead-form {
    width: 100%;

    &__col {
        float: left;

        @media (max-width: $tablet) {
            width: 100% !important;
            padding: 0 !important;
        }

        &:first-of-type {
            width: 70%;
            padding-right: 1rem;

            .form__input {
                padding: 1rem;
            }
        }

        &:last-of-type {
            width: 30%;

            .button {
                width: 100%;
                padding: 1.15rem 0;
                font-size: 1.75rem;
                margin: 0;
            }
        }
    }

    &__purchase{
      @media screen and (max-width: 1024px) {
        width:70%;
      }
    }

    &__slider{

      font-size: 14px;

      @media screen and (max-width: 1024px) {
        width:100%;
      }

      .slider-block{
        margin-bottom: 4em;
        @media screen and (max-width: 600px) {
          margin-bottom: 2em;
        }
      }

      &__left{
        strong{
          line-height: 38px;
        }
      }

      &__info{

        float: left;
        position: relative;

        i{
          color:$orange;
          font-size: 16px;
          margin-right: 10px;
        }

        &:hover{
          .lead-form__slider__info__text{
            display: block;
          }
        }

        &__text{
          display: none;
          position: absolute;
          width:500px;
          margin-left: -243px;
          top:-30px;
          height: 30px;
          background-color: #000000;
          z-index: 2;

          &:after {
          	top: 100%;
          	left: 50%;
          	border: solid transparent;
          	content: " ";
          	height: 0;
          	width: 0;
          	position: absolute;
          	pointer-events: none;
          	border-color: rgba(243, 156, 18, 0);
          	border-top-color: #000;
          	border-width: 10px;
          	margin-left: -10px;
          }

          p{
            color:white;
            text-align: center;
            margin:0px;
            line-height: 28px;
            font-size: 10px;
          }

          @media screen and (max-width: 1000px) {

            width:320px;
            margin-left: -5px;

            &:after {
            	top: 100%;
            	left:3%;
              margin-left: -8px;
            }

            p{
              font-size: 6px;
              text-align: left;
              margin-left: 10px;
            }
          }


        }

      }

      &__input{
        background-color: #FFFFFF;
        border-radius: 3px;
        padding-left: 20px;
        height: 40px;
        line-height: 35px;
        margin:0px 10%;
        display: inline-block;
        color:#5A5A5A;
        font-size: 16px;
        width:80%;
        font-weight: bold;

        background-image: url(/images/pound_sign.svg);
        background-size: 25px;
        background-position: left center;
        background-repeat: no-repeat;
        border:1px solid #E4E9ED;
        border-radius: 0.5rem;

        @media screen and (max-width: 600px) {
          margin:10px 0%;
          width:100%;
        }

      }

      .ui-slider, .ui-widget.ui-widget-content{
        border:none;
        background-color: #37475D;
        margin-top: 15px;

        .ui-slider-handle{
          border-radius: 50%;
          width: 1.8em;
          height: 1.8em;
          top: -.6em;

          &:focus{
            outline:none;
          }
        }

      }

      .slider-percentage{
        position: absolute;
        top:-50px;
        background-color: $orange;
        width:60px;
        height: 30px;
        border-radius: 3px;
        margin-left: -26px;

        &:after {
        	top: 100%;
        	left: 50%;
        	border: solid transparent;
        	content: " ";
        	height: 0;
        	width: 0;
        	position: absolute;
        	pointer-events: none;
        	border-color: rgba(243, 156, 18, 0);
        	border-top-color: #F39C12;
        	border-width: 10px;
        	margin-left: -10px;
        }

        &#slider-percent-great{
          background-color:#E1E1E1;

          &:after {
            border-top-color: #E1E1E1;
          }

          p{
            color:#37475D;
          }
        }

        p{
          text-align: center;
          color:white;
          line-height: 30px;
          margin:0px;
          font-weight: bold;
        }
      }

      .ui-widget.ui-widget-content{
        border:none;
      }

      .ui-slider-range{
        background-color: #92E491;
        border:none;
      }

      &.slider-toggle{

        .col-6{
          display: none;
        }

        .slider-block{
          margin-bottom: 20px;
        }

        .percentage-save{
          display: none;
        }

        .slider-block{
          width:50%;

          .col-3{
            width:50%;
          }

          @media screen and (max-width: 600px) {
            width:100%;
          }
        }
      }

    }

}

.lead-icons {
    width: 100%;

    i, h3 {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
    }

    h3 {
        font-size: 2rem;
        text-align: left;
    }

    i {
        padding-right: 2rem;
    }
}



.button-spinner-image {
  background-image: url(/images/spinners/circle.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.expired-valuation {
  color: #aaaaaa;
}

.expired-valuation-date {
    font-size: 0.5em;
}
.matrix-pagination {
  text-align: center;
}
.matrix-pagination span {
  padding: 5px;
}

.radio-button-circle {
  border-radius: 50%;
}

.radio-button {
  background-color: white;
  border: 5px solid #c6c6c6;
  color: #777777;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-weight: bold;
  cursor: pointer;
}

.radio-button.inactive:hover {
  background-color: #c8ffd9;
  border: 5px solid #abdeba;
}

.radio-button.active {
  background-color: #00c14e;
  border: 3px solid #00a333;
  color: white;
  box-shadow: #00a333 0.1em -0.1em 0.1em, #00a333 0.1em 0.1em 0.1em, #00a333 -0.1em 0.1em 0.1em, #00a333 -0.1em -0.1em 0.1em;
}

.radio-button-error {
  display: none;
  color: red;
}

.outbid-info-container, .highlighted-info-container {
  width:100%;
  display: inline-block;
  text-align: center;
}

.desktop-centered {
  text-align: center;

  @media all and (max-width: 760px) {
    text-align: left;
  }
}



.outbid-info, .highlighted-info {
  background: #5EBB38;
  color: white;
  font-size: 0.6em;
  padding: 3px 6px;
  border-radius: 10px;
  margin: 4px 0px;
  float: none;

  @media all and (max-width: 760px) {
    float: left;
  }
}

.outbid-text, .highlighted-text{
  text-align: center;

  @media all and (max-width: 760px) {
    text-align: left;
    display: inline-block;
  }

}

tr.outbid, tr.highlighted {
  background-color: #F0F8FF;
}

.paid-leads-outbid-background {

  background-image: url('/images/car-on-parking.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #f7fbff;
  border: 1px solid #f0f4f8;
  padding: 5px;
  background-size: 110px auto;
  min-height: 215px;
  height: auto;
  display: inline-block;
  width:100%;

  @media all and (max-width: 620px) {
    background-size: 70px auto;
  }

  &__container{
    max-width: 660px;
    display: table;
    margin:0px auto;

    .col-6{

      .paid-leads-labels-input{
        display: inline-block;
      }

      form{
        display: table;
        margin: 0px auto 15px;
      }

      .button{
        max-width: 130px;
        font-weight: bold;
        margin:0px 0px 0px 0px;
        height: 40px;
        float: right;
      }
    }

    @media all and (max-width: 700px) {

      .col-3{
        width:100%;
        margin-bottom: 15px;
      }

      .col-6{
        width:100%;
      }

    }

    @media all and (max-width: 1200px) {

      .col-3{
        width:50%;
        margin-bottom: 15px;
      }
      .col-6{
        width:100%;
      }

    }

  }

  .paid-leads-labels {
    -webkit-appearance: none;
    padding: 0.7rem 2rem;
    text-decoration: none;
    display: inline-block;
    border-radius: 0.5rem;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 1rem 0;
    font-size: 16px;
    width: 135px;
  }

  .paid-leads-labels.old-price {
    background-color: #fddfdf;
    color: #f02425;
  }

  .paid-leads-labels.new-price {
    background-color: #c9ebc6;
    color: #37c536;
  }

  .paid-leads-labels-input {
    max-width: 150px;
    height: 40px;
    font-weight: bold;
    margin-right: 20px;
    font-size: 16px;
    padding-left: 30px;
    position: relative;
    background-image: url(/images/pound_sign.svg);
    background-size: 25px;
    background-position: left center;
    background-repeat: no-repeat;
    border:1px solid #E4E9ED;
    border-radius: 0.5rem;
  }

}

.jj_responsive_table tr.outbid{
  padding: 1em 10px;
}

.paid-leads-outbid-background-sliders__container {
  max-width: 710px;
  display: table;
  margin: 0px auto;
}

.paid-leads-outbid-background .paid-leads-labels.additional-fee {
  background-color: #dadde2;
  color: #595959;
}
