.location {
    &__header {
        display: flex;
        width: 100%;
        border-bottom: 1px solid rgba($grey, 0.5);
        padding: 2rem 0;
        text-transform: none;
        margin-bottom: 2rem;
    }

    &__title {
        font-weight: 300;
        flex: 1;
    }

    &__primary {
        color: $green;
        font-weight: bold;
        float: right;
    }

    &__buttons {
        margin: 0;
    }

    &__button {
        margin-right: 1.25rem;
        font-size: 1.25rem;

        &--edit {
            color: $grey;
            border-bottom: 1px solid $grey !important;
        }

        &--delete {
            color: $red;
            border-bottom: 1px solid $red !important;
        }
    }
}