.mega {
  background-color: #000;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  color: $offwhite;
  z-index: 20;
  box-shadow: 1px 1px 2.5px #333;

  &__container {
    padding: 4em 0;
  }
    
  &__col {
    width: 50%;
    float: left;

    &:first-of-type {
      width: 45%;
    }

    &:last-of-type {
      width: 55%;
    }
    @media all and (max-width: $med) {
      width: 100%!important;
      margin: 0;
      text-align: center;
    }
  }

  &__plate {
    margin: 0 auto;
    position: relative;
    display: inline-block;

    input {
      background-color: $yellow;
      font-size: 6rem;
      font-family: "uknumberplateregular";
      text-transform: uppercase;
      border: 0;
      text-align: center;
      width: 80%;
      border-radius: 1rem;
      padding: 1rem 2% 1rem 0;

      @media (max-width: 1100px) {
        font-size: 5rem;
      }

      @media all and (max-width: $med) {
        width: 100%;
        max-width: 90%;
        font-size: 5rem;
        margin-bottom: 0.5em;
      }
      @media all and (max-width: 600px) {
        font-size: 4rem;
      }
    }

    button {
      position: absolute;
      right: 22%;
      top: 50%;
      transform: translateY(-50%);
      background-color: $yellow;
      font-size: 4rem;
      border: 0;
      color: $grey;
      cursor: pointer;
      @media all and (max-width: $med) {
        display: none;
      }
    }
  }

  strong {
    text-transform: uppercase;
    color: $grey;
    font-size: 1.5rem;
  }

  p {
    width: 70%;
    color: #fff;
    font-size: 2rem;
    margin: 0 0 1em;
    @media all and (max-width: $med) {
      width: 100%;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    column-count: 2;
    @media all and (max-width: $exsm) {
      column-count: 1;
    }

    li {
      a {
        padding: 1rem 0;
        font-size: 2rem;
        color: $offwhite;
        text-decoration: none !important;
        border-bottom: none !important;
        display: block;
        font-weight: 300;

        &:hover {
          color: $orange;
        }
      }
    }
  }
}
