.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;

    // box-shadow: 0 0 5px rgba($offwhite, 0.5);
    opacity: 0;
    z-index: -1;
    transition: all 0.2s ease-in-out;
    width: 65rem;
    height: 25rem;

    &.credits{
      position: fixed !important;
      top: 50% !important;
      left: 50% !important;
      -webkit-transform: translate(-50%, -50%) !important;
      transform: translate(-50%, -50%) !important;
      background-color: #FFF !important; 
      -webkit-transition: all 0.2s ease-in-out !important;
      transition: all 0.2s ease-in-out !important;
      width: 65rem !important;
      height: 25rem !important;
    }

    &__title {
        background-color: $black;
        padding: 1rem 2rem 1rem 1rem;
        font-size: 2rem;
        color: $white;

        span {
            color: $white;
            background-color: $orange;
            display: inline-block;
            width: 25px;
            text-align: center;
            border-radius: 50%;
            height: 25px;
            font-size: 1.5rem;
            margin-right: 1rem;
        }
    }

    &--active {
        z-index: 9999;
        opacity: 1;
        display: block !important;
    }

    &__footer {
        text-align: center;
    }

    &__close {
        position: absolute;
        top: 1rem;
        right: 2rem;
        text-decoration: none;
        border-bottom: 0 !important;

        i {
            font-weight: bold;
            color: $white;
            font-size: 2rem;
        }
    }

    &__body {
        padding: 2rem;
    }
}
