.menu {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    position: relative;
    float: right;
    width: auto;
      @media all and (max-width: 950px) {
        margin-left: 0;
      }

    span {
      margin-left: 10px;
      @media all and (max-width: 950px) {
        display: none;
      }
    }

    &:hover {
      > ul {
        display: block;
        opacity: 1;
        z-index: 100;
      }
    }
  }
  @media all and (max-width: 620px) {
    &__item_partner {
      display: none!important;
    }
  }

  &__link {
    font-weight: bold;
    padding: 2.6rem 1rem;
    font-size: 1.45rem;
    color: $white;
    display: block;

    &:hover {
      color: $grey;
    }
  }
}

.navigation {
  &--matrix {
    background-color: $white;
    width: 100%;
    float: left;
    border-bottom: 1px solid rgba($grey, 0.5);

    .navigation__items {
      list-style: none;
      margin: 0;
      padding: 0;
      float: left;
      clear: both;
      width: 100%;
      text-align: center;
    }

    .navigation__item {
      display: inline-block;
    }

    .navigation__link {
      display: block;
      padding: 2rem;
      font-weight: 300;
      color: $black;
      transition: none;

        @media (max-width: 650px) {
          padding: 1rem;
        }

      &--is-active,
      &:hover {
        color: $matrixLightBlue;
        border-color: transparent;
      }

      &--is-active {
        font-weight: bold;
      }
    }
  }
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 0;
  transition: all 0.2s ease-in-out 0s;
  width: 200px;
  background-color: $offblack;
  list-style: none;
  text-align: left;
  box-shadow: 0 0 5px rgba($offblack, 0.25);
  z-index: 22;

  &__item {
    border-bottom: 1px solid rgba($offwhite, 0.1);

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__link {
    display: block;
    padding: 0.6em 1em;
    color: $white;
    font-weight: 400;

    &:hover {
      background-color: $orange;
      color: $white;
    }
  }
}
