.numberplate {
    margin: 0 auto;
    text-align: center;
    position: relative;
    display: inline-block;
    // width: 50%;
    max-width: 650px;

    @media all and (max-width: 900px) {
        width: 60%;
        max-width: 90%;
    }

    @media all and (max-width: $phone) {
        width: 100%;
    }

    &--full {
        width: 100%;
        display: block;
    }

    &__input {
        background-color: $yellow;
        font-size: 8rem;
        font-family: "uknumberplateregular";
        border: 0;
        text-align: center;
        width: 100%;
        border-radius: 1rem;
        padding: 2rem 2% 2rem 0;
        text-transform: uppercase;

        // line-height: 0;
        outline: none;

        @media all and (max-width: 900px) {
            font-size: 4.5rem;
            padding: 2rem;
            width: 100%;
        }

        @media all and (max-width: $phone) {
            padding: 1rem;
            font-size: 4rem;
            width: 100%;
        }
    }

    button {
        position: absolute;
        right: 2%;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        font-size: 4rem;
        border: 0;
        color: $grey;
        cursor: pointer;
    }

    &--mini {
        width: 100%;

        .numberplate__input {
            font-size: 4rem;
            padding: 1.5rem;
            width: 60%;
            float: right;
            border-radius: 1rem;
        }
    }
}

.numberplate.numberplate-matrix-dashboard {
    width: 350px;
    display: inline-block;
    margin: 0 10px;
}

@media all and (max-width: 900px) {
    .numberplate.numberplate-matrix-dashboard {
        display: block;
        margin: 0 auto;
    }
}

.numberplate.numberplate-matrix-dashboard .numberplate__input {
    font-size: 4rem;
}

@media all and (max-width: 481px) {
    .numberplate.numberplate-matrix-dashboard .numberplate__input {
        font-size: 3rem;
    }
}
