.offer-box {
    background-color: $white;
    box-shadow: 0 0 2px 0 rgba($black, 0.25);
    margin: 2rem 0;
    padding: 1rem;
    clear: both;
    width: 100%;
    float: left;

    p {
        margin: 0;
        padding: 0;
        font-size: 1.4rem;
    }

    &__content,
    &__item {
        padding: 1rem 0;
        float: left;
        width: 100%;
    }

    &__header {
        font-size: 1.4rem;
        color: #bbb;
        border-bottom: 1px solid rgba($black, 0.25);
        float: left;
        width: 100%;
        margin-bottom: 1rem;
    }

    &__vehicles {
        width: 80%;
        float: left;

        // padding: 1rem 1.5rem;
   
    }

    &__infobox {
        padding: 0;
        margin-top: 2rem;
        border: 1px solid $offwhite;

        .offer-box__details-title {
            background-color: $offwhite;
            margin: 0;
            padding: 2rem 1rem;
        }

        p {
            padding: 0 1rem;
        }
    }

    &__details {
        width: 33%;
        float: left;

        &-title {
            font-size: 2rem !important;
            font-weight: 300;
            display: block;

            &:last-of-type {
                margin-bottom: 2rem;
            }

            strong {
                text-align: right;
            }
        }
    }

    &__actions {
        width: 20%;
        float: right;
        text-align: right;

        // padding: 1rem 1.5rem;
   
    }

    &__percentage {
        width: 20%;
        float: left;
    }

    &__car-make {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
    }

    &__car-name {
        width: 80%;
        float: left;

        strong {
            float: right;
        }
    }

    // &__item {
    //     &--active {
    //         .offer-box__car-name {
    //             p:before {
    //                 font-family: "FontAwesome";
    //                 content: '\f078';
    //                 color: $grey;
    //             }
    //         }
    //     }
    // }
    &__children {
        display: none;

        &--active {
            display: block;
        }

        .offer-box__percentage {
            color: $green;
        }

        .offer-box__car-name {
            padding-left: 2rem;
            text-decoration: underline;

            p:before {
                content: '-';
                color: $grey;
                text-decoration: none;
            }
        }
    }

    &__intro {
        padding-bottom: 1rem;
    }

    &__badge {
        background-color: $green;
        color: $white;
        font-size: 1rem;
        padding: 0 0.5rem;
        border-radius: 0.5rem;
        position: absolute;
        top: -1rem;
    }

    &__footer {
        width: 100%;
        float: left;
        padding: 3rem 0;
        position: relative;

        &--success {
            color: $green;
            border-top: 1px solid rgba($grey, 0.25);

            &-bg {
                background-color: rgba($green, 0.2);
                border: 1px solid $green;
                border-radius: 0.5rem;
                margin: 1rem;
                padding: 1rem;
                position: absolute;
                top: 10%;
                width: 45%;
            }

            .offer-box__badge {
                background-color: $green;
                color: $white;
                font-size: 1rem;
                padding: 0 0.5rem;
                border-radius: 0.5rem;
                position: absolute;
                top: -1rem;
                text-transform: uppercase;
                font-weight: bold;
            }
        }

        &--warn {
            color: $orange;
            border-top: 1px solid rgba($grey, 0.25);

            .offer-box__badge {
                background-color: $orange;
                color: $white;
                font-size: 1rem;
                padding: 0 0.5rem;
                border-radius: 0.5rem;
                position: absolute;
                top: -1rem;
                text-transform: uppercase;
                font-weight: bold;
            }
        }

        strong {
            padding-left: 3.5rem;
        }

        a {
            float: right;
        }
    }

    &__advice {
        float: left;
        width: 100%;
    }
}

.offer-search {
    float: left;
    width: 100%;
    clear: both;
    padding: 2rem 0;

    &__box {
        float: left;
        width: 100%;
        clear: both;
        padding: 1rem;
        border: 1px solid rgba($offblack, 0.25);
        margin-top: 0.5rem;
    }

    &__rows {
        max-height: 200px;
        overflow-y: scroll;
        float: left;
        width: 100%;
        clear: both;
    }

    &__form {
        width: 100%;
    }

    &__checkbox {
        width: 20%;
        float: left;
    }

    &__filters {
        width: 80%;
        float: right;
    }

    &__col {
        float: left;
        margin-right: 1%;

        &:last-of-type {
            margin-right: 0;
        }
    }

    &__parent-row {
        background-color: $offwhite;
        color: $grey;
        padding: 1rem;
        margin-bottom: 0.5rem;

        i {
            float: right;
        }
    }

    &__search {
        width: 37%;
    }

    &__year {
        width: 20%;
    }

    &__empty {
        width: 20%;
        min-height: 1px;
    }

    &__row {
        width: 100%;
        float: left;
        clear: both;
        border-bottom: 1px solid rgba($offblack, 0.25);

        &-checkbox {
            width: 5%;
            display: inline-block;
            vertical-align: middle;
        }

        &-title {
            width: 60%;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5%;

            span {
                float: right;
            }
        }

        &-actions {
            width: 20%;
            display: inline-block;
            vertical-align: middle;
            padding-right: 1rem;
            text-align: right;

            a {
                color: $orange;
            }
        }

        &-input {
            width: 10%;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.offer-rules {
    float: left;
    width: 100%;
    clear: both;

    &__title {
        text-transform: uppercase;
        font-weight: bold;
        width: 100%;
        float: left;
    }

    &__col {
        width: 45%;
        float: left;
        margin-right: 5%;

        ul {
            width: 100%;

            li {
                width: 50%;
            }
        }

        span {
            float: right;
        }
    }
}

.offer-review {
    float: left;
    margin: 3rem 0;

    &__header {
        th {
            font-size: 1.5rem;
        }
    }

    &__body {}

    &__row {
        td {
            padding: 1rem 0;
        }
    }

    &__child-row {
        border-top: 0;

        td {
            padding: 0 1rem;
        }
    }
}

.offer {
    border: 1px solid #ddd;
    padding: 3rem 1.5rem;
    float: left;
    width: 100%;
    margin-bottom: 1rem;

    &__header {
        width: 100%;
    }

    &__title {
        width: 50%;
        float: left;

        @media (max-width: $tablet) {
            width: 100%;
            margin: 25px 0;
            text-align: center;
        }

        h3 {
            text-transform: none;
            display: inline-block;
            font-size: 2.2rem;
            padding-right: 1.5rem;
            margin: 0;

            @media (max-width: $tablet) {
                padding-right: 0;
            }
        }

        span {
            color: $orange;
            display: inline-block;
            font-size: 2.2rem;
            font-weight: 300;
        }

        p {
            margin: 0;
        }
    }

    &__buttons {
        width: 50%;
        float: right;
        text-align: right;
        font-size: 14px;

        @media (max-width: $tablet) {
            width: 100%;
            text-align: center;
            font-size: 12px;
        }

        @media (max-width: 400px) {
            .button {
                display: block;
            }
        }
    }

    &__section {
        margin-bottom: 1rem;
        border-bottom: 1px solid rgba($black, 0.15);
        float: left;
        width: 100%;
        clear: both;
        padding: 1.5rem;

        @media all and (max-width: 999px) {
            // text-align: center;
        }

        h1,
        h2,
        h3,
        h5,
        h6 {
            margin-bottom: 1.5rem;
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: bold;
        }

        h4 {
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: bold;
        }

        p {
            color: #666;
            margin-bottom: 2rem;

            &:not(:first-of-type) {
                margin-top: -1rem;
            }
        }

        .form__input {
            background-color: $white;
            border-color: darken($offwhite, 15%);

            &:active,
            &:focus {
                box-shadow: 2px 2px 2px 0 rgba($black, 0.25);
            }

            &--half {
                width: 50%;
            }

            &--quarter {
                width: 25%;
            }
        }

        select {
            text-transform: uppercase;
            font-weight: 600 !important;
            color: #9d9d9d;
            display: inline-block;
            max-width: 100%;
            padding: 1.5rem 0.75rem 1.5rem 1rem;
            background: url("../images/arrow.png") no-repeat 99%;
            background-color: #f8f8f8 !important;
            background-size: 4%;
            font-weight: 500;
            appearance: none;
            border-radius: 0;
        }

        &--centered {
            text-align: center;
            margin: 0 auto;
        }
    }

    &__list {
        float: left;
        width: 100%;
        padding: 2rem 0;

        ul {
            width: 100%;
            padding: 0 1rem 0 0;
            margin: 0;
            float: left;
        }

        li {
            float: left;
            display: block;
            padding: 0.25rem 0;
            font-size: 1.45rem;
            font-weight: 300;

            @media (max-width: $tablet) {
                line-height: 1.1;
            }

            &:nth-of-type(odd) {
                width: 60%;
                text-align: left;
                margin-right: 0;

                @media (max-width: 600px) {
                    font-weight: 600;
                }
            }

            &:nth-of-type(even) {
                width: 40%;
                text-align: right;

                @media (max-width: 600px) {
                    width: 100%;
                    text-align: left;
                }
            }
        }
    }

    &__edit {
        i {
            padding: 0 0.5em;
            transition: all 0.2s ease-in-out 0s;

            &:hover {
                color: $orange;
            }
        }
    }

    &__list-wrap {
        margin-bottom: 1em;
        clear: both;
        overflow: hidden;

        .col-6 {
            width: 48%;
            margin-right: 4%;

            &:nth-of-type(2n) {
                margin-right: 0;
            }

            @media (max-width: 600px) {
                width: 100%;
                margin-right: 0;
            }
        }
    }

    &__rule {
        width: 100%;
        float: left;
        padding: 1rem 0;
        border-top: 1px solid #dddddd;

        .jj-suggested {
            text-align: center;
            max-width: 200px;
            margin: 0 auto;
            display: block;
            float: none;
        }

        @media (max-width: $sm) {
            font-size: 12px;
        }

        &--title {
            width: 60%;
            float: left;
            padding-right: 5%;

            @media (max-width: $sm) {}
        }

        &--derivatives {
            width: 27%;
            float: left;
            padding-right: 1%;
        }

        &--percentage {
            width: 13%;
            float: left;
            text-align: right;
        }

        &--child {
            border-top: none;
            padding: 0.5rem 0;
            float: left;
            width: 100%;

            p {
                margin: 0.25rem;
            }

            .offer__rule--title {
                padding-left: 2rem;
                width: 54%;
            }

            .offer__rule--derivatives {
                width: 33%;
            }
        }
    }

    &__button {
        border: 1px solid #DDD !important;
        padding: 1.5rem 0;
        display: inline-block;
        text-align: center;
        border-radius: 0.5rem;
        width: calc(16.66% - 1rem);
        float: left;
        margin: 0.5rem;
        text-decoration: none;
        font-size: 1.4rem;

        @media all and (max-width: 999px) {
            width: 30%;
            float: none;
        }

        @media all and (max-width: 525px) {
            width: 40%;
        }

        &:hover {
            background-color: $orange;
            border-color: $orange !important;
            color: $white !important;
        }

        &.active {
            font-weight: bold;
            transition: none;
            background-color: $orange;
            border-color: $orange !important;
            color: $white !important;
        }
    }

    &__next {
        padding: 1.5rem 6rem;
        font-size: 2rem;
        background-color: $orange;
        border: 1px solid $orange;
        color: white;
        border-radius: 1rem;
        font-weight: 500;
        text-align: center;
        margin: 0 auto;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: $white;
            color: $orange;
        }
    }

    &__previous {
        padding: 1.5rem 6rem;
        font-size: 2rem;
        background-color: $grey;
        border: 1px solid $grey;
        color: white;
        border-radius: 1rem;
        font-weight: 500;
        text-align: center;
        margin: 0 auto;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: $white;
            color: $grey;
        }
    }

    &__model {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $offwhite;
        float: left;
        width: 100%;
        clear: both;
        opacity: 0.4;

        &.active {
            opacity: 1;
        }

        input {
            width: 30%;
        }
    }

    &__derivatives {
        float: left;
        width: 100%;

        // padding-left: 3rem;
        // padding-top: 2rem;
   
    }

    &__derivative {
        padding: 1.5rem 0 0 3.5rem;
    }

    &__list-full {
        li {
            width: 100% !important;
            text-align: left !important;
            font-weight: 400 !important;

            span {
                font-weight: 300 !important;
            }
        }
    }
}

.jj-suggested {
    text-align: right;
    color: $green;
    font-weight: 600;
    border: 1px solid $green;
    padding: 0.25rem 1rem;
    font-size: 1.2rem;
    background-color: rgba(lighten($green, 35%), 0.6);
    float: right;
    border-radius: 0.5rem;
    margin-top: 0.25rem;

    // a {
    //     color: $green;
    //     text-decoration: none;
    //     &:hover {
    //         text-decoration: none;
    //         border-bottom: 0;
    //         color: darken($green, 5%);
    //     }
    // }
}

.circle {
    background-color: darken($offwhite, 10%);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    position: relative;
    margin: 1rem auto;

    span {
        font-weight: bold;
        font-size: 2rem;
        position: absolute;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
