.onoffswitch {
    position: relative;
    width: 70px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;

    &:before, &:after {
        display: block;
        float: left;
        width: 50%;
        height: 25px;
        padding: 0;
        line-height: 25px;
        font-size: 14px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        box-sizing: border-box;
    }

    &:before {
        content: "Y";
        padding-left: 11px;
        background-color: #FFFFFF;
        color: #70CE47;
    }

    &:after {
        content: "N";
        padding-right: 11px;
        background-color: #FFFFFF;
        color: #E0452C;
        text-align: right;
    }
}

.onoffswitch-switch {
    display: block;
    width: 25px;
    margin: 0px;
    background: #E0452C;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 41px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
    .onoffswitch-inner {
        margin-left: 0;
    }

    .onoffswitch-switch {
        right: 0px;
        background-color: #70CE47;
    }
}

// wrappers

.onoff {
    float: right;
    clear: both;

    &__col {
        width: 50%;
        float: left;
    }

    &__label {
        font-weight: bold;
        text-transform: uppercase;
        padding-right: 2rem;
    }
}