.paginator {
    // float: left;
    width: 100%;
    padding: 2rem 0;

    &__list {
        margin: 0;
        text-align: center;
        padding: 0;
        list-style: none;
    }

    &__item {
        float: left;
        padding: 1rem;
    }

    &__link {
        color: $grey;
        border-bottom: none !important;

        &--active {
            color: $black;
            font-weight: bold !important;
            border-bottom: 1px solid $black !important;
        }

        &--next {
            color: $black;
            font-weight: bold !important;
        }
    }
}


.blog-paginator {
    // float: left;
    width: 100%;
    padding: 2rem 0;

    &__list, ul {
        margin: 0;
        text-align: center;
        padding: 0;
        list-style: none;
    }

    &__item, li {
        float: left;
        padding: 1rem;
    }

    &__link, li a, span {
        color: $grey;
        border-bottom: none !important;

        &--active, &.current {
            color: $black;
            font-weight: bold !important;
            border-bottom: 1px solid $black !important;
        }

        &--next, &.next {
            color: $black;
            font-weight: bold !important;
        }
    }
}



.paginate_button {
    padding: 1rem;

    &:first-of-type {
        padding-left: 0;
    }

    color: $grey;
    border-bottom: none !important;

    &.current {
        color: $black;
        font-weight: bold !important;
        border-bottom: 1px solid $black !important;
    }

    &.next {
        color: $black;
        font-weight: bold !important;
    }
}

.dataTables_paginate {
    padding: 2rem 0;
    float: left;
}

.dataTables_info {
    padding: 2rem 0;
    float: right;
}

.dataTables_filter {
    float: right;

    input {
        margin-left: 1rem;
        padding: 0.5rem;
    }
}
