



.partner-add-to-marketplace{
  width: 100%;
  min-height: 163px;
  height: auto;
  float: left;
  background-color: rgb(240, 248, 255);
  border: 1px solid rgb(210, 220, 228);
  margin-top: 20px;
  background-image: url("/images/cars_repeat.png");
  background-repeat: repeat-x;
  background-position: left bottom;
  padding:30px 30px 50px;

  &__right{
    float: right;
    width:30%;

    @media (max-width: $tablet) {
      width:100%;
    }

    .button{
      float: right;
      @media (max-width: $tablet) {
        float: left;
      }
    }
  }

  &__left{
    margin-right:5%;
    width:55%;
    float: left;

    @media (max-width: $tablet) {
      width:100%;
    }
  }
}

.partner-add-to-marketplace-row{

  padding:15px !important;

  .valuation__image{
    margin-right: 0% !important;
    float: left;
    @media (max-width: $phone) {
      width:50%;
      margin-right: 0px;
    }

    .offered-value-hidden-company-logo{

      &:hover{
        .lock-information{
          display: block;
        }
      }

      img{
        @media (max-width: $phone) {
          max-width: 90%;
          max-height: none;
          float: none;
          display: table;
          margin:10px auto;
        }
      }
    }

  }

  .valuation__ticklist{
    @media (max-width: $phone) {
      display: none;
    }
    display: block;
  }

  .valuation__location{
    strong{
      @media (max-width: $phone) {
        display: inline-block;
        padding: 0px;
        margin: 0px;
      }
    }
  }

  .valuation__prices{
    float: right;
    width: 23%;
    @media (max-width: $phone) {
      float: left;
      width:100%;
      .valuation__collection{
        small{
          margin-bottom: 10px;
        }
      }
    }

  }

  .valuation__list{
    width: 34%;
    font-size: 0.8em;
    @media (max-width: $phone) {
      width:100%;
    }
    .show-more-info{
      margin-bottom: 20px;
    }
  }
  .valuation__button{
    float: right;
    width:17%;
    position: relative;
    @media (max-width: $phone) {
      position: relative;
      width: 50%;
    }
  }
}
