.quote {
    width: 100%;
    float: left;
    clear: both;
    padding: 2rem 0;
    border-bottom: 1px solid rgba($grey, 0.5);

    &__logo {
        width: 30%;
        float: left;

        img {
            width: 80%;
            float: left;
            padding: 5rem 0;
        }
    }

    &__details {
        width: 30%;
        float: left;
    }

    &__valuation {
        width: 20%;
        float: left;

        p {
            margin: 0;
        }
    }

    &__buttons {
        width: 20%;
        float: left;
        padding: 2rem;

        a {
            margin-top: 5rem;
        }
    }

    &__price {
        font-size: 4rem;
        font-weight: bold;
        margin: 0;
    }

    &__delivery {
        border-bottom: 1px solid rgba($grey, 0.5);
    }

    &__collection {
        color: $grey;

        .quote__price {
            font-size: 3rem;
        }
    }
}