.rules {
    width: 100%;

    &__image {
        width: 9%;
        margin-right: 1%;
        margin-bottom: 1%;
        float: left;
        border: 1px solid rgba($grey, 0.2);
        border-radius: 0.5rem;
        transition: all 0.3s ease;

        @media all and (max-width: $tablet) {
            width: 18%;
        }

        @media all and (max-width: $phone) {
            width: 36%;
        }

        &:hover {
            border-color: $green;
            cursor: pointer;
        }

        &--active {
            border-color: $green;
            position: relative;

            &:before {
                font-family: 'FontAwesome';
                content: '\f058';
                color: $green;
                position: absolute;
                bottom: 0;
                right: 5%;
            }
        }

        &__col {
            width: 50%;
            float: left;
        }

        img {
            min-height: 50px;
            float: none;
            padding: 0;
            width: 100%;
        }
    }

    &__options {
        background-color: $offwhite;
        float: left;
        width: 100%;
        box-shadow: inset 0 0 10px rgba($grey, 0.2);
        display: none;
    }

    &__col {
        width: 50%;
        float: left;
        padding: 2rem;

        .form__checkbox--full span {
            text-transform: none;
            font-weight: 300;
            font-size: 1.5rem;
        }
    }

    &__footer {
        width: 100%;
        float: left;
        margin: 2rem;
    }

    &__title {
        font-weight: 100 !important;
        text-transform: capitalize !important;
    }
}