.sidebar {
    width: 100%;

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        box-shadow: 0 0 5px 2px rgba(149, 149, 149, 0.1);
        float: left;
        width: 100%;

        @media all and (max-width: 1023px) {
            box-shadow: none;
        }

        &--special {
            margin-top: 2rem;
        }
    }

    &__item {
        background-color: $white;
        float: left;
        width: 100%;

        @media all and (max-width: 1023px) {
            display: none;
        }

        &--special {
            .sidebar__link {
                color: $orange;
                border-bottom: 0 !important;

                span {
                    color: $green;
                    text-transform: uppercase;
                    font-size: 1rem;
                }
            }
        }

        & .menu-button-title {
            margin-left: 15px;
        }
    }

    &__separator {
        display: block;
        width: 100%;
        padding: 1.4rem;
        color: #73777f;
        border-bottom: 1px solid darken($offwhite, 5%) !important;
        font-size: 14px;
        cursor: context-menu;
    }

    &__link {
        display: block;
        width: 100%;
        padding: 1.4rem;
        color: #73777f;
        border-bottom: 1px solid darken($offwhite, 5%) !important;
        font-size: 14px;
        font-weight: 800 !important;
        border-left: 8px solid #ffffff;

        &:hover {
            background-color: #f0f0f0;
            color: #000 !important;
            border-left: 8px solid $orange;
        }

        &--is-active {
            background-color: #f0f0f0;
            color: #000 !important;
            border-left: 8px solid $orange;
            // background-image: linear-gradient(to bottom, rgba($white, 1), rgba($offwhite, 0.3));
        }
    }

    &__toggle {
        display: none;
        background: #F9F9F9;
        position: relative;

        &::after {
            content: '\f107';
            font-family: 'FontAwesome';
            position: absolute;
            right: 1em;
            top: 50%;
            transform: translateY(-50%);
        }

        .sidebar__link {
            border: 1px solid #CCC !important;
        }

        @media all and (max-width: 1023px) {
            display: block;
        }
    }
}

.sidebar__link {
    & .complete-mark, & .incomplete-mark {
        display: none;
        font-family: 'FontAwesome';
        float: right;
    }

    &.complete {
        & .complete-mark {
            display: block;
            color: #74cc51;

            &:after {
                content: '\f00c';
            }
        }
    }

    &.incomplete {
        & .incomplete-mark {
            display: block;
            color: #eb1010;

            &:after {
                content: '\f111';
            }
        }
    }
}

[class*="icon-"]::before {
    font-family: 'FontAwesome';
}

.icon-home::before {
    content: '';
}

.icon-search::before {
    content: '';
}

.icon-person::before {
    content: '';
}

.icon-settings::before {
    content: '';
}

.icon-brush::before {
    content: '';
}

.icon-pound::before {
    content: '';
}

.icon-wand::before {
    content: '';
}

.icon-cart::before {
    content: '';
}

.icon-bell::before {
    content: '';
}

.icon-auction::before {
    content: '';
}

.icon-smile::before {
    content: '';
}

.icon-plus-cart::before {
    content: '';
}

.icon-agreement::before {
    content: '';
}

.icon-money::before {
    content: '';
}