.subnav {
    background-color: $white;
    box-shadow: 0 0 8px 0 rgba($black, 0.25);
    padding: 1rem 0 0;

    &.fixed{
      position: fixed;
      width:100%;
      z-index: 10; 
    }

    &__items {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        text-align: center;
        position: relative;
    }

    &__link {
        text-transform: uppercase;
        color: $grey;
        display: block;
        width: 33.333%;
        min-height: 75px;
        padding-top: 0px;
        padding-bottom: 5px;
        float: left;
        position: relative;
        z-index: 2;

        @media (max-width: 500px) {
            font-size: 1.2rem;
        }

        p{
          margin:0px;
          width:auto;
          display: inline-block;
        }

        &:before {
          font-family: 'FontAwesome';
          text-decoration: none;
          display: block;
          background: white;
          border: 1px solid #dedede;
          width: 35px;
          height: 35px;
          color:#000;
          line-height: 35px;
          border-radius: 20px;
          font-size: 1.5rem;
          margin: 0px auto 5px;

          @media (max-width: $mob) {
      //        display: none;
          }
        }

        &.car{
          &:before{
            content: '\F1B9';
          }
          &:after {
              content: '';
              width:50%;
              height: 1px;
              top:25%;
              right:0%;
              position: absolute;
              z-index: -1;
              margin-top: -1px;
              border-top: 1px dashed #dedede;
          }
        }
        &.you{
          &:before{
            content: '\F007';
          }
          &:after {
              content: '';
              width:100%;
              height: 1px;
              top:25%;
              right:0%;
              position: absolute;
              z-index: -1;
              margin-top: -1px;
              border-top: 1px dashed #dedede;
          }
        }
        &.val{
          &:before{
            content: '\F002';
          }
          &:after {
              content: '';
              width:50%;
              height: 1px;
              top:25%;
              right:50%;
              position: absolute;
              z-index: -1;
              margin-top: -1px;
              border-top: 1px dashed #dedede;
          }
        }



        &:hover {
          //  border-bottom: 0 !important;
            border-color: transparent !important;
            color: black !important;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f4f4f4+100&0+0,1+100 */
            background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(244,244,244,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(244,244,244,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(244,244,244,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */

            p{
              text-decoration: underline;
            }
        }

        &--active {
            color: $black;

            p{
              text-decoration: underline;
              color:$black;
            }

            &:after {
                content: '';
                width:100%;
                right:0%;
            }

            &:before{
              color:white;
              background-color: $green;
              border-color: $green;
            }
        }

        &--complete {
            color: $black;

            &:after {
                content: '';
                right:0%;
            }

            &:before {
              background: $green;
              border: 1px solid $green;
              color:white;
            }

            p{
              position: relative;
              padding-left: 30px;
              color:$black;

              @media (max-width: $mob) {
                  padding-left: 0px;
              }

              &:before {
                font-size: 10px;
                display: block;
                font-family: 'FontAwesome';
                content: '\F00C';
                background: $green;
                border-radius: 10px;
                width: 20px;
                height: 20px;
                left:0%;
                top:3px;
                color:white;
                position: absolute;
                text-decoration: none;
                line-height: 20px;
                font-weight: bold;
                border-radius: 20px;


                @media (max-width: $mob) {
                    display: none;
                }
              }
            }
        }
    }
}

.subnav-under{
  @media (max-width: $mob) {
      height: 50px;
  }
}
