.swal-title {
	line-height: 1.1;
}
.swal-footer,
.swal-text {
	@media (max-width: $mob) {
		text-align: center;
	}		
}

.swal-text {
	text-align: center;
}

.swal-button--confirm {
	background-color: #44ce63;
}

.swal-button--reject {
	background-color: #e64942;
}