/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

.table-responsive {
    overflow-x: auto;
    min-height: 0.01%;
}

@media screen and (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #dddddd;
    }

    .table-responsive > .table {
        margin-bottom: 0;
    }

    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
        white-space: nowrap;
    }

    .table-responsive > .table-bordered {
        border: 0;
    }

    .table-responsive > .table-bordered > thead > tr > th:first-child,
    .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive > .table-bordered > thead > tr > td:first-child,
    .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .table-responsive > .table-bordered > tfoot > tr > td:first-child {
        border-left: 0;
    }

    .table-responsive > .table-bordered > thead > tr > th:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child {
        border-right: 0;
    }

    .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .table-responsive > .table-bordered > tfoot > tr:last-child > th,
    .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .table-responsive > .table-bordered > tfoot > tr:last-child > td {
        border-bottom: 0;
    }
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  .jj_responsive_table {

  	/* Force table to not be like tables anymore */
  	table, thead, tbody, th, td, tr {
  		display: block;
  	}

    padding-top: 15px;

  	/* Hide table headers (but not display: none;, for accessibility) */
  	thead tr {
  		position: absolute;
  		top: -9999px;
  		left: -9999px;
  	}

  	tr { 
        padding: 1em 0;
    }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%!important;
      max-width: none!important;
      &:last-of-type {
        border-bottom: none;
      }

      @media (max-width: $phone) {
        padding: 2em 0 0.5em !important;
      }
  	}

  	td:before {
  		/* Now like a table header */
  		position: absolute;
  		/* Top/left values mimic padding */
  		top: 0;
  		left: 6px;
  		width: 45%;
      height: 100%;
  		padding-right: 10px;
  		white-space: nowrap;
      display: flex;
      align-items: center;
      font-weight: bold;
      @media (max-width: $phone) {
        height: 2em;
        width: 100%;
        left: 0;
        padding: 0;
      }
  	}

    .button {
      width: 100%;
      text-align: center;
    }

  }



  /*
  Label the data - Good News Leads
  */
  .good_news_leads_table {
    td:nth-of-type(1):before { content: "Date"; }
    td:nth-of-type(2):before { content: "Car"; }
    td:nth-of-type(3):before { content: "Area"; }
    td:nth-of-type(4):before { content: "Own"; }
    td:nth-of-type(5):before { content: "Write-Off"; }
    td:nth-of-type(6):before { content: "Non-Runner"; }
    td:nth-of-type(7):before { content: "Year/Reg"; }
    td:nth-of-type(8):before { content: "Mileage"; }
    td:nth-of-type(9):before { content: "Top Value"; }
    td:nth-of-type(10):before { content: "Fee"; }
    td:nth-of-type(11):before { content: ""; }
  }

  /*
  Label the data - Marketplace Alerts
  */
  .marketplace_alerts_table {
    td:nth-of-type(1):before { content: "Name:"; }
    td:nth-of-type(2):before { content: "Vehicle filters:"; }
    td:nth-of-type(3):before { content: "Frequency:"; }
    td:nth-of-type(4):before { content: "Actions:"; }
  }

  /*
  Label the data - Partner Lookups
  */
  .partner_lookups_table {
    td:nth-of-type(1):before { content: "Date"; }
    td:nth-of-type(2):before { content: "Registration"; }
    td:nth-of-type(3):before { content: "Car"; }
    td:nth-of-type(4):before { content: "Highest valuation"; }
    td:nth-of-type(5):before { content: ""; }
  }

  /*
  Label the data - Good News Leads
  */
  .paid_leads_table {
    td:nth-of-type(1):before { content: "Date"; }
    td:nth-of-type(2):before { content: "Car"; }
    td:nth-of-type(3):before { content: "Area"; }
    td:nth-of-type(4):before { content: "Own"; }
    td:nth-of-type(5):before { content: "Write-Off"; }
    td:nth-of-type(6):before { content: "Non-Runner"; }
    td:nth-of-type(7):before { content: "Year/Reg"; }
    td:nth-of-type(8):before { content: "Mileage"; }
    td:nth-of-type(9):before { content: "Valuation"; }
    td:nth-of-type(10):before { content: "Position"; }
    td:nth-of-type(11):before { content: "Paid"; }
    td:nth-of-type(12):before { content: ""; }
  }



  /**
  * Label the data - Statements
  */
  .statement_table {
    td:nth-of-type(1):before { content: "Date/Time"; }
    td:nth-of-type(2):before { content: "Activity"; }
    td:nth-of-type(3):before { content: "Your Valuation"; }
    td:nth-of-type(4):before { content: "Listing Position/Sale"; }
    td:nth-of-type(5):before { content: "Funds Activity"; }
  }

  /**
  * Label the data - Invoices
  */
  .invoices_table {
    td:nth-of-type(1):before { content: "Date"; }
    td:nth-of-type(2):before { content: "Invoice Number"; }
    td:nth-of-type(3):before { content: "Value"; }
    td:nth-of-type(4):before { content: ""; }
  }
}
