h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.6rem;
}

h4 {
    font-size: 2.4rem;
}

h5 {
    font-size: 2.2rem;
}

h6 {
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #6e6e6e;
    font-weight: 400;
    margin: 0;
    line-height: 1.1;

    span {
        font-weight: bold;
    }
}

h1 {
    margin-bottom: $fontsize * 2;
}

a:not(.button) {
    font-weight: 500;
    text-decoration: none !important;
    border-bottom: 1px solid $white;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;

    &:hover {
        color: $grey;
        border-bottom: 1px solid $grey;
    }

    &.link--featured {
        display: inline-block;
        margin: 0px 5px;
        font-weight: normal;
        border-bottom: 1px solid $grey;
    }
}

b, strong {
    font-weight: 600;
}

i:not(.fa), em {
    font-style: italic;
}
