.uploadedfile {
  background-color: $offwhite;
  border: 1px solid rgba($grey, 0.47);
  width: 100%;
  float: left;

  &__image,
  &__link {
    width: 50%;
    float: left;
    padding: 2rem;
  }

  &__link {
    text-align: center;
  }

  &__image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $white;
    min-height: 100px;
    padding: 0;
    border-right: 1px solid rgba($grey, 0.47);
  }
  // &__status {
  //     text-transform: uppercase;
  //     font-weight: bold;
  //     &--success {
  //         color: $green;
  //     }
  //     &--fail {
  //         color: $red;
  //     }
  // }
  // &__actions {
  //     a {
  //         font-weight: bold;
  //         color: $black;
  //         border-color: $grey;
  //     }
  // }
}
