.completed-sales-ordering {
    cursor: pointer;
    font-size: 12px;
    color:#f89a35;
}

.completed-sales-filtering-header{
  width:100%;
  border-bottom: 1px solid #F6F6F6;
  padding: 15px 10px;
}

.box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.completed-sales-filtering{
  font-size: 13px;
}

.completed-sales-filtering .btn{
  background-color: #00a65a;
  border-color: #008d4c;
  color: white;
  line-height: 50%;
  margin-top: 48px;
  max-height: 39px;
}

.completed-sales-filtering input, .completed-sales-filtering select{
  background-color: #ECF0F5;
  border:1px solid transparent;
  outline: none;
  -webkit-appearance: none;
  border-radius: 3px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  width:100%;
  color:#000000;
  font-weight: bold;
}

input.datepicker{
  background-image: url('../images/admin/datepicker.svg');
  background-size: 10px auto;
  background-repeat: no-repeat;
  background-position: left 5px center;
  padding-left: 20px;
}

select{
  background-image: url('../images/admin/arrow.svg');
  background-size: 10px auto;
  background-repeat: no-repeat;
  background-position: right 10px center;
  padding-right: 20px;
}

.input-title{
  color: #B3B3B3;
  font-size: 11px;
  font-weight: bold;
  margin: 10px 0px 5px;
  width: 100%;
  float: left;
}

.p-right-50{
  padding-right: 0px;
}
.p-left-50{
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .p-right-50{
    padding-right: 7.5px;
  }
  .p-left-50{
    padding-left: 7.5px;
  }
}

.col-md-15 {
  width: 20%;
  float: left;
}

.filter-block{
  margin-bottom: 15px;
}

@media screen and (min-width: 1200px) {
  .col-md-seven {
    width: 14.2857142857%;
    float: left;
    padding:0px 15px;
  }
  .border--right{
    border-right:1px solid #F6F6F6;
  }
  .filter-by-date{
    padding-left: 0px;
  }
}

.p--zero{
  padding:0px;
}

.p-left--zero{
  padding-left:0px;
}

.p-right--zero{
  padding-right:0px;
}

/* calendar UI */

#ui-datepicker-div{
  border-color: #D6D7DA;
}

.ui-datepicker-header{
  border:none;
  background-color: transparent;
}

.ui-datepicker-month, .ui-datepicker-year{
  color:#6B7897;
}

.ui-datepicker-prev{
  background-image: url('../images/admin/calendar-left.svg');
  background-size: 20px auto;
  background-repeat: no-repeat;
  background-position: center;
  border:none;
  background-color: transparent;
}
.ui-datepicker-prev:hover, .ui-datepicker-prev-hover{
  background-image: url('../images/admin/calendar-left-hover.svg');
  background-size: 20px auto;
  background-repeat: no-repeat;
  background-position: center;
  border:none;
  background-color: transparent;
}

.ui-datepicker-next{
  background-image: url('../images/admin/calendar-right.svg');
  background-size: 20px auto;
  background-repeat: no-repeat;
  background-position: center;
  border:none;
  background-color: transparent;
}
.ui-datepicker-next:hover, .ui-datepicker-next-hover{
  background-image: url('../images/admin/calendar-right-hover.svg');
  background-size: 20px auto;
  background-repeat: no-repeat;
  background-position: center;
  border:none;
  background-color: transparent;
}

.ui-datepicker-calendar thead{
  color:#B8BFC6;
}

.ui-datepicker-calendar tbody .ui-state-default{
  text-align: center;
  border:none;
  background-color: transparent;
  color:#7C86A2;
}

.ui-datepicker-calendar tbody .ui-state-default:hover{
  text-align: center;
  border:none;
  background-color: #3C8DBC;
  color:#fff;
  border-radius: 30px;
}
