/**
 * [JAMJ] Prepped
 * main.less
 * Main stylesheet file.
 * 
 * @Author: Kubo HQ (Fabio Pinto da Costa)
 * @Date: 2020-09-17T10:40
 * @Email: developers@kubokhq.com
 */
/**
 * [JAMJ] Prepped
 * mixins.scss
 * Some useful less mixins to use
 * 
 * @Author: Kubo HQ (Fabio Pinto da Costa)
 * @Date: 2020-09-17T12:34
 * @Email: developers@kubokhq.com
 */
/**
 * [JAMJ] Prepped
 * variables.scss
 * Global variables that are going to be used more than once in the code
 * 
 * @Author: Kubo HQ (Fabio Pinto da Costa)
 * @Date: 2020-09-17T10:47
 * @Email: developers@kubokhq.com
 */
/**
 * [JAMJ] Prepped
 * reset.scss
 * CSS resetting and normalising
 * 
 * @Author: Kubo HQ (Fabio Pinto da Costa)
 * @Date: 2020-09-17T10:41
 * @Email: developers@kubokhq.com
 */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-drag: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-osx-font-smoothing: grayscale;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-overflow-scrolling: touch;
  outline-style: none;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote::before,
q::before,
blockquote::after,
q::after {
  content: '';
  content: none;
}
button,
input,
textarea,
select {
  outline: none;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  box-shadow: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0;
  border: 0;
  width: 100%;
  resize: none;
  cursor: text;
}
checkbox {

}
button:-webkit-autofill,
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: transparent !important;
}
button::-ms-expand,
input::-ms-expand,
textarea::-ms-expand,
select::-ms-expand {
  display: none;
}
a,
button,
select {
  cursor: pointer;
}
a,
a * {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
/**
 * [JAMJ] Prepped
 * typography.scss
 * Global variables that are going to be used more than once in the code
 * 
 * @Author: Kubo HQ (Fabio Pinto da Costa)
 * @Date: 2020-09-17T10:47
 * @Email: developers@kubokhq.com
 */
@font-face {
  font-family: "CharlesWright";
  src: url(/fonts/ux/CharlesWright-Bold.55b10e89.eot);
  src: url(/fonts/ux/CharlesWright-Bold.55b10e89.eot?#iefix) format("embedded-opentype"), url(/fonts/ux/CharlesWright-Bold.e203cba2.woff) format("woff"), url(/fonts/ux/CharlesWright-Bold.8fe66bec.ttf) format("truetype"), url(/fonts/ux/Wright-Bold.014c9cef.svg) format("svg");
}
html {
  font-size: 10px;
}
body,
a,
input,
button,
textarea,
select {
  color: #000000;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.6rem;
  letter-spacing: -0.02em;
  line-height: 1.5em;
}
body strong,
a strong,
input strong,
button strong,
textarea strong,
select strong {
  font-weight: 600;
}
body small,
a small,
input small,
button small,
textarea small,
select small {
  font-size: 1.3rem;
  line-height: 1.54em;
}
h1,
h2,
h3 {
  font-weight: 500;
  letter-spacing: -0.02em;
}
h1 {
  font-size: 4.2rem;
  line-height: 1.43em;
}
h2 {
  margin-bottom: 42px;
  font-size: 2.4rem;
  line-height: 1.25em;
}
h3 {
  margin-bottom: 60px;
  font-size: 2rem;
  line-height: 1.5em;
}
h4 {
  margin-bottom: 20px;
}
p.small {
  font-size: 1.3rem;
  line-height: 1.54em;
}
p.smaller {
  font-size: 1.1rem;
  line-height: 1.64em;
}
/**
 * [JAMJ] Prepped
 * header.scss
 * Nav bar stylesheet file
 * 
 * @Author: Kubo HQ (Fabio Pinto da Costa)
 * @Date: 2020-09-17T11:25
 * @Email: developers@kubokhq.com
 */
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 72px;
  width: 100%;
  background-color: #F47D0F;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.16);
  z-index: 1;
}
header .header__content {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
  text-align: center;
}
header .header__content a {
  color: #FFFFFF;
  font-size: 1.3rem;
  text-decoration: none;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -ms-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}
header .header__content a.active,
header .header__content a:hover {
  color: #FEEB35;
}
header .header__content__logo {
  position: absolute;
  top: 18px;
  left: 60px;
  height: 34px;
  width: 130px;
  background-image: url(/images/ux/kb_logo.38952130.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
@media (max-width: 768px) {
  header .header__content__logo {
    left: 14px;
    height: 24px;
    width: 108px;
  }
  .mob-hide {
    display: none;
  }
}
header .header__content nav {
  display: inline-block;
  margin-top: 25px;
}
header .header__content nav ul {
  display: flex;
  display: -ms-flexbox;
}
header .header__content nav ul li {
  margin-right: 24px;
}
header .header__content nav ul li a {
  line-height: 1.54rem;
}
header .header__content nav ul li.header__content__nav__link--folder > a {
  padding-right: 28px;
  background-image: url(/images/ux/kb_nav_folder_arrow.ced93041.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 12px auto;
}
@media (max-width: 768px) {
  header .header__content nav ul li.header__content__nav__link--folder > a {
    padding-left: 28px;
  }
}
header .header__content nav ul li.header__content__nav__link--folder > ul {
  display: none;
  position: absolute;
  left: -12px;
  padding-bottom: 7px;
  background-color: rgba(244, 125, 15, 0.75);
}
header .header__content nav ul li.header__content__nav__link--folder > ul li {
  margin: 0;
  padding: 5px 12px;
  text-align: left;
  white-space: nowrap;
}
@media (max-width: 768px) {
  header .header__content nav ul li.header__content__nav__link--folder > ul {
    left: 0;
    width: 100%;
  }
  header .header__content nav ul li.header__content__nav__link--folder > ul li {
    padding: 0;
    text-align: center;
  }
  header .header__content nav ul li.header__content__nav__link--folder > ul li a {
    font-size: 20px;
    line-height: 36px;
  }
}
header .header__content nav ul li.header__content__nav__link--folder:hover {
  position: relative;
}
header .header__content nav ul li.header__content__nav__link--folder:hover > ul {
  display: block;
}
@media (max-width: 768px) {
  header .header__content nav ul li.header__content__nav__link--folder:hover > ul {
    display: none;
  }
}
@media (max-width: 768px) {
  header .header__content nav ul li.header__content__nav__link--folder.active {
    position: relative;
  }
  header .header__content nav ul li.header__content__nav__link--folder.active > ul {
    display: block;
  }
}
header .header__content nav ul li:last-of-type {
  margin-right: 0;
}
@media (max-width: 768px) {
  header .header__content nav {
    display: block;
    position: fixed;
    top: 60px;
    left: 100%;
    height: calc(100% - 60px);
    width: 100%;
    margin-top: 0;
    padding-top: 36px;
    background-color: #F47D0F;
    -webkit-transition: -webkit-transform 0.75s ease-out;
    -moz-transition: -moz-transform 0.75s ease-out;
    -ms-transition: -ms-transform 0.75s ease-out;
    transition: transform 0.75s ease-out;
  }
  header .header__content nav ul {
    display: block;
  }
  header .header__content nav ul li {
    margin-right: 0;
  }
  header .header__content nav ul li a {
    font-size: 24px;
    line-height: 44px;
  }
  header .header__content nav.active {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
header .header__content__signin {
  position: absolute;
  top: 24px;
  right: 60px;
  padding-right: 30px;
  background-image: url(/images/ux/kb_nav_signin.de3abfdc.png);
  background-position: calc(100% - 1px) top;
  background-repeat: no-repeat;
  background-size: 24px auto;
  line-height: 24px;
}
@media (max-width: 768px) {
  header .header__content__signin {
    top: 18px;
    right: 59px;
  }
}
header .header__content__menu-button {
  display: none;
  position: absolute;
  top: 8px;
  right: 4px;
  height: 44px;
  width: 44px;
  background-image: url(/images/ux/kb_burger_icon.6a462632.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px auto;
  cursor: pointer;
}
@media (max-width: 768px) {
  header .header__content__menu-button {
    display: block;
  }
}
@media (max-width: 768px) {
  header .header__content {
    padding: 0 14px;
  }
}
@media (max-width: 768px) {
  header {
    height: 60px;
  }
}
/**
 * [JAMJ] Prepped
 * forms.scss
 * Specific styling for forms
 * 
 * @Author: Kubo HQ (Fabio Pinto da Costa)
 * @Date: 2020-09-18T10:48
 * @Email: developers@kubokhq.com
 */
form div[role=group] {
  display: flex;
  display: -ms-flexbox;
  margin-bottom: 24px;
  padding: 0 41px;
}
form div[role=group] input,
form div[role=group] button {
  padding: 5px 12px;
  border-radius: 5px;
  color: #000000;
  text-align: center;
}
form div[role=group] input {
  width: 264px;
  margin-right: 12px;
  background-color: #FEEB35;
  font-family: "CharlesWright";
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1em;
  text-transform: uppercase;
}
form div[role=group] input::-webkit-input-placeholder {
  opacity: 0.7;
}
form div[role=group] input::-moz-input-placeholder {
  opacity: 0.7;
}
form div[role=group] input::-ms-input-placeholder {
  opacity: 0.7;
}
form div[role=group] input::input-placeholder {
  opacity: 0.7;
}
@media (max-width: 768px) {
  form div[role=group] input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 6px;
  }
}
form div[role=group] button {
  padding: 18px 28px 18px 12px;
  font-weight: 500;
  background-color: #FFFFFF;
  background-image: url(/images/ux/kb_masthead_form_arrow.8c5a8d6f.png);
  background-position: 91% center;
  background-repeat: no-repeat;
  background-size: auto 14px;
}
@media (max-width: 768px) {
}
@media (max-width: 768px) {
  form div[role=group] {
    flex-wrap: wrap;
    margin-bottom: 12px;
    padding: 0;
  }
}
form.form__quote {
  max-width: 591px;
  margin: 0 auto;
}
form.form__quote h2,
form.form__quote p {
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  form.form__quote h2,
  form.form__quote p {
    margin-bottom: 12px;
  }
}
form.form__quote div[role=group] {
  padding: 0 52px;
}
@media (max-width: 768px) {
  form.form__quote div[role=group] {
    padding: 0;
  }
}
/**
 * [JAMJ] Prepped
 * footer.scss
 * Styling for the website footer
 * 
 * @Author: Kubo HQ (Fabio Pinto da Costa)
 * @Date: 2020-09-18T11:17
 * @Email: developers@kubokhq.com
 */
footer {
  background-color: #FFFFFF;
}
footer .footer__content {
  max-width: 1440px;
  margin: 0 auto;
}
footer .footer__main .footer__content {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px 156px 79px;
}
footer .footer__main .footer__content__logo {
  display: block;
  height: 23px;
  width: 87px;
  margin-bottom: 13px;
  background-image: url(/images/ux/kb_logo_orange.276dfad4.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
footer .footer__main .footer__content article {
  padding-top: 7px;
}
footer .footer__main .footer__content article p {
  margin-bottom: 24px;
}
footer .footer__main .footer__content article:first-of-type {
  padding-top: 0;
  max-width: 200px;
}
footer .footer__main .footer__content article:first-of-type p {
  margin-bottom: 11px;
}
footer .footer__main .footer__content__social-icon {
  float: left;
  text-decoration: none;
}
footer .footer__main .footer__content__social-icon img {
  margin-right: 12px;
}
footer .footer__main .footer__content__social-icon:last-of-type img {
  margin-right: 0;
}
@media (max-width: 768px) {
  footer .footer__main .footer__content {
    padding: 52px 50px 50px;
  }
  footer .footer__main .footer__content article {
    width: 100%;
    margin-bottom: 36px;
  }
  footer .footer__main .footer__content article:last-of-type {
    margin-bottom: 0;
  }
}
footer .footer__copyright {
  background-color: #F8F8F8;
}
footer .footer__copyright .footer__content {
  padding: 19px 60px;
}
footer .footer__copyright .footer__content,
footer .footer__copyright .footer__content a {
  color: #888888;
}
footer .footer__copyright .footer__content .footer__legals {
  float: right;
}
footer .footer__copyright .footer__content .footer__legals a {
  margin-left: 12px;
}
footer .footer__copyright .footer__content .footer__legals a:not(:last-child) {
  position: relative;
  margin-right: 12px;
}
footer .footer__copyright .footer__content .footer__legals a:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -15px;
  width: 1px;
  height: 13px;
  background-color: #888888;
}
@media (max-width: 768px) {
  footer .footer__copyright .footer__content .footer__legals {
    float: none;
    margin-bottom: 24px;
  }
}
@media (max-width: 768px) {
  footer .footer__copyright .footer__content {
    padding: 40px 50px;
    text-align: center;
  }
}
/**
 * [JAMJ] Prepped
 * page.scss
 * Layout for the main page
 * 
 * @Author: Kubo HQ (Fabio Pinto da Costa)
 * @Date: 2020-09-17T12:20
 * @Email: developers@kubokhq.com
 */
main {
  display: block !important;
  padding-top: 72px;
  /**
 * [JAMJ] Prepped
 * masthead.scss
 * Layout for the main page's masthead
 *
 * @Author: Kubo HQ (Fabio Pinto da Costa)
 * @Date: 2020-09-17T16:31
 * @Email: developers@kubokhq.com
 */
}
main .masthead {
  position: relative;
  height: 792px;
  background: #FE9A00;
  background: -moz-linear-gradient(top, #FE9A00 0%, #EF6C00 200%);
  background: -webkit-linear-gradient(top, #FE9A00 0%, #EF6C00 200%);
  background: linear-gradient(to bottom, #FE9A00 0%, #EF6C00 200%);
}
main .masthead h1,
main .masthead p,
main .masthead a {
  color: #FFFFFF;
  text-align: center;
}
main .masthead h1,
main .masthead p {
  margin-bottom: 24px;
}
@media (max-width: 1023px) {
  main .masthead h1,
  main .masthead p {
    margin-bottom: 12px;
  }
}
@media (max-width: 1023px) {
  main .masthead h1 {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.25em;
  }
}
main .masthead form {
  max-width: 570px;
  margin-bottom: 137px;
}
@media (max-width: 1023px) {
  main .masthead form {
    max-width: 376px;
    margin: 0 auto 28px;
  }
}
@media (max-width: 1023px) {
  main .masthead form div[role=group] {
    display: block;
  }
}
@media (max-width: 1023px) {
  main .masthead form div[role=group] input,
  main .masthead form div[role=group] button {
    width: 100%;
    margin-right: 0;
    margin-bottom: 6px;
  }
}
main .masthead__info {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
  background-image: url(/images/ux/kb_home_masthead_image.394365ec.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 150%;
}
@media (max-width: 1023px) {
  main .masthead__info {
    position: relative;
    height: 271px;
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    background-position: center top;
    background-size: 100% auto;
  }
}
main .masthead__content {
  position: relative;
  max-width: 1228px;
  margin: 0 auto;
  padding: 120px 50px 0;
}
@media (max-width: 1023px) {
  main .masthead__content {
    padding-top: 37px;
  }
}
main .masthead__badge {
  position: absolute;
  top: 47px;
  left: 10px;
  height: 168px;
  width: 168px;
  padding: 28px 27px;
  background-color: #FEEB35;
  border-radius: 50%;
}
main .masthead__badge p {
  margin-bottom: 0;
  color: #000000;
  font-weight: 600;
}
main .masthead__badge p.small,
main .masthead__badge p.small a {
  color: #888888;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.64em;
}
@media (max-width: 1023px) {
  main .masthead__badge p {
    font-size: 1.1rem;
    line-height: 1.64em;
  }
}
@media (max-width: 1023px) {
  main .masthead__badge {
    top: -20px;
    right: 10px;
    left: auto;
    padding: 14px 20px;
    height: 119px;
    width: 119px;
  }
}
@media (max-width: 375px) {
  main .masthead__badge {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
main .masthead__vps {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(244, 125, 15, 0.6);
}
main .masthead__vps .masthead__content {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  max-width: 1228px;
  margin: 0 auto;
  padding: 49px 50px 62px;
}
@media (max-width: 1023px) {
  main .masthead__vps .masthead__content {
    display: block;
    padding: 24px 50px 72px;
  }
}
main .masthead__vps article {
  flex: 1 1 0px;
  margin-right: 24px;
}
main .masthead__vps article svg {
  margin-bottom: 12px;
}
main .masthead__vps article svg .colored {
  fill: #FFFFFF;
  -webkit-transition: fill 0.5s ease-out;
  -moz-transition: fill 0.5s ease-out;
  -ms-transition: fill 0.5s ease-out;
  transition: fill 0.5s ease-out;
}
@media (max-width: 1023px) {
  main .masthead__vps article svg {
    float: left;
    width: 24px;
    margin-left: -36px;
  }
  main .masthead__vps article svg .colored {
    fill: #F47D0F;
  }
}
main .masthead__vps article p {
  margin-bottom: 0;
  text-align: left;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -ms-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}
main .masthead__vps article p:first-child {
  margin-bottom: 6px;
}
@media (max-width: 1023px) {
  main .masthead__vps article p {
    color: #000000;
  }
}
main .masthead__vps article.active p {
  color: #FEEB35;
}
@media (max-width: 1023px) {
  main .masthead__vps article.active p {
    color: #000000;
  }
}
main .masthead__vps article.active svg .colored {
  fill: #FEEB35;
}
@media (max-width: 1023px) {
  main .masthead__vps article.active svg .colored {
    fill: #F47D0F;
  }
}
main .masthead__vps article:last-of-type {
  margin-right: 0;
}
@media (max-width: 1023px) {
  main .masthead__vps article:last-of-type {
    margin-bottom: 0;
  }
}
@media (max-width: 1023px) {
  main .masthead__vps article {
    margin-right: 0;
    margin-bottom: 24px;
    padding-left: 36px;
  }
}
@media (max-width: 1023px) {
  main .masthead__vps {
    position: static;
    background-color: #FFFFFF;
  }
}
main .masthead--howto {
  background: #F26925;
  background: -webkit-linear-gradient(top, #F26925 0%, #F26925 50%, #F3842E 100%);
  background: -moz-linear-gradient(top, #F26925 0%, #F26925 50%, #F3842E 100%);
  background: linear-gradient(to bottom, #F26925 0%, #F26925 50%, #F3842E 100%);
  height: auto;
}
main .masthead--howto h1,
main .masthead--howto p,
main .masthead--howto a {
  text-align: left;
}
main .masthead--howto h1 {
  margin-bottom: 36px;
}
main .masthead--howto ol {
  max-width: 360px;
  counter-reset: howto-masthead-counter;
}
main .masthead--howto ol li {
  counter-increment: howto-masthead-counter;
  position: relative;
  margin-bottom: 36px;
  padding-left: 48px;
}
main .masthead--howto ol li p {
  margin-bottom: 0;
}
main .masthead--howto ol li p:first-of-type {
  margin-bottom: 6;
}
main .masthead--howto ol li:last-of-type {
  margin-bottom: 0;
}
main .masthead--howto ol li::before {
  content: counter(howto-masthead-counter);
  position: absolute;
  top: 0;
  left: 0;
  height: 36px;
  width: 36px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
}
main .masthead--howto .masthead__content {
  padding: 73px 50px 116px;
}
main .masthead--howto .masthead__content__video-hero {
  position: absolute;
  top: 144px;
  right: 0;
  height: 313px;
  width: 556px;
  top: 186px;
}
main .masthead--howto .masthead__content__video-hero video {
  border-radius: 14px;
  cursor: pointer;
}
main .masthead--howto .masthead__content__video-hero .video-hero__badge {
  position: absolute;
  top: -42px;
  left: -70px;
  height: 144px;
  width: 144px;
  padding: 24px 25px;
  background-color: #F47D0F;
  background-image: none;
  border-radius: 50%;
  color: #FFFFFF;
  text-align: center;
}
@media (max-width: 768px) {
  main .masthead--howto .masthead__content__video-hero .video-hero__badge {
    display: none;
  }
}
main .masthead--howto .masthead__content__video-hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 72px auto;
  cursor: pointer;
}
main .masthead--howto .masthead__content__video-hero:hover:not(.paused)::after {
  background-image: url(/images/ux/kb_pause_icon.2d56f330.png);
}
main .masthead--howto .masthead__content__video-hero.paused::after {
  background-image: url(/images/ux/kb_play_icon.54e46c37.png);
}
@media (max-width: 1229px) {
  main .masthead--howto .masthead__content__video-hero {
    position: relative;
    top: 42px;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-bottom: 84px;
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  main .masthead--howto .masthead__content__video-hero {
    top: auto;
    width: calc(100% + 100px);
    margin-bottom: 42px;
    margin-left: -50px;
  }
  main .masthead--howto .masthead__content__video-hero video {
    height: 100%;
    width: 100%;
  }
}
main .masthead--howto .masthead__content__video-hero .video-hero__badge {
  background-color: #FFFFFF;
}
main .masthead--howto .masthead__content__video-hero .video-hero__badge p {
  color: #000000;
  text-align: center;
}
@media (max-width: 768px) {
  main .masthead--howto .masthead__content__video-hero {
    margin-top: 36px;
  }
}
@media (max-width: 768px) {
  main .masthead--howto .masthead__content {
    padding: 73px 50px 50px;
  }
}
@media (max-width: 1023px) {
  main .masthead:not(.masthead--howto) {
    position: static;
    height: auto;
  }
}
main .page-section {
  background-color: #FFFFFF;
}
main .page-section--shaded {
  background-color: #F8F8F8;
}
main .page-section--orange {
  background: #F26925;
  background: -webkit-linear-gradient(top, #F26925 0%, #F26925 50%, #F3842E 100%);
  background: -moz-linear-gradient(top, #F26925 0%, #F26925 50%, #F3842E 100%);
  background: linear-gradient(to bottom, #F26925 0%, #F26925 50%, #F3842E 100%);
}
main .page-section--orange .page-section__content {
  padding-top: 94px;
  padding-bottom: 113px;
}
main .page-section--orange .page-section__content h1,
main .page-section--orange .page-section__content h2,
main .page-section--orange .page-section__content h3,
main .page-section--orange .page-section__content p,
main .page-section--orange .page-section__content a {
  color: #FFFFFF;
}
main .page-section__content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 31px 156px 62px;
}
main .page-section__content--simple h1,
main .page-section__content--simple h2,
main .page-section__content--simple h3,
main .page-section__content--simple p {
  max-width: 648px;
}
main .page-section__content--simple h1,
main .page-section__content--simple p {
  margin-bottom: 36px;
}
main .page-section__content--simple h2,
main .page-section__content--simple h3 {
  margin-bottom: 12px;
}
main .page-section__content__columns {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
}
main .page-section__content__columns article {
  flex: 1 1 0px;
  margin-right: 96px;
  margin-bottom: 42px;
}
main .page-section__content__columns article:last-of-type {
  margin-right: 0;
}
main .page-section__content__columns article h3 {
  margin-bottom: 12px;
}
main .page-section__content__columns article p {
  margin-bottom: 36px;
}
main .page-section__content__columns__carousel-tape {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  width: 100%;
}
main .page-section__content__columns--vertical-middle article {
  align-self: center;
}
@media (max-width: 768px) {
  main .page-section__content__columns--vertical-middle {
    padding-right: 50px;
    padding-left: 50px;
  }
  main .page-section__content__columns--vertical-middle article {
    width: 100%;
  }
}
@media (max-width: 768px) {
  main .page-section__content__columns {
    display: block;
    overflow: hidden;
    width: calc(100% + 100px);
    margin-left: -50px;
  }
  main .page-section__content__columns__carousel-tape {
    width: 300%;
    -webkit-transition: margin-left 0.75s ease-out;
    -moz-transition: margin-left 0.75s ease-out;
    -ms-transition: margin-left 0.75s ease-out;
    transition: margin-left 0.75s ease-out;
  }
  main .page-section__content__columns__carousel-tape article {
    float: left;
    width: 33.33333%;
    margin-right: 0;
    margin-bottom: 32px;
    padding: 0 50px;
  }
}
@media (min-width: 769px) {
  main .page-section__content__columns__carousel-tape {
    margin-left: 0 !important;
  }

  .user__menu-left {
    position: absolute;
    right: 60px;
  }
  .width--36 {
    padding-left: 15px !important;
    width: 36%;
  }

  .padding-right--20 {
    padding-right: 20px !important;
  }

  .width-390 {
    width: 390px;
  }
}
main .page-section__content__columns__carousel-controls {
  display: none;
  justify-content: center;
  margin-top: 19px;
}
main .page-section__content__columns__carousel-controls li {
  height: 12px;
  width: 12px;
  margin-right: 12px;
  background-color: rgba(136, 136, 136, 0.2);
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out;
  -ms-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
  cursor: pointer;
}
main .page-section__content__columns__carousel-controls li:last-of-type {
  margin-right: 0;
}
main .page-section__content__columns__carousel-controls li.active {
  background-color: #F47D0F;
}
@media (max-width: 768px) {
  main .page-section__content__columns__carousel-controls {
    display: flex;
    display: -ms-flexbox;
  }

  .padding-left--36 {
    padding-left: 36px;
  }
}
main .page-section__content__auto-logos,
main .page-section__content__media-logos {
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(136, 136, 136, 0.4);
}
main .page-section__content__auto-logos__carousel-tape,
main .page-section__content__media-logos__carousel-tape {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .page-section__content__auto-logos img,
main .page-section__content__media-logos img {
  align-self: center;
  height: 100%;
  max-width: 20%;
}
@media (max-width: 768px) {
  main .page-section__content__auto-logos img,
  main .page-section__content__media-logos img {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  main .page-section__content__auto-logos,
  main .page-section__content__media-logos {
    display: block;
    overflow: hidden;
    width: calc(100% + 100px);
    margin-left: -50px;
  }
  main .page-section__content__auto-logos__carousel-tape,
  main .page-section__content__media-logos__carousel-tape {
    width: 400%;
    -webkit-transition: margin-left 0.75s ease-out;
    -moz-transition: margin-left 0.75s ease-out;
    -ms-transition: margin-left 0.75s ease-out;
    transition: margin-left 0.75s ease-out;
  }
}
@media (min-width: 769px) {
  main .page-section__content__auto-logos__carousel-tape,
  main .page-section__content__media-logos__carousel-tape {
    margin-left: 0 !important;
  }
}
main .page-section__content__auto-logos {
  max-width: 984px;
  margin: 0 auto;
  padding-bottom: 20px;
  border: 0;
}
@media (max-width: 768px) {
  main .page-section__content__auto-logos {
    width: calc(100% + 100px);
    margin-left: -50px;
  }
  main .page-section__content__auto-logos__carousel-tape {
    width: 500%;
  }
}
@media (max-width: 768px) {
  main .page-section__content__media-logos {
    position: relative;
    border: 0;
  }
  main .page-section__content__media-logos::after {
    content: "";
    position: absolute;
    right: 50px;
    bottom: 0;
    left: 50px;
    height: 1px;
    background-color: rgba(136, 136, 136, 0.4);
  }
  main .page-section__content__media-logos__carousel-tape img:first-of-type {
    margin-right: 71px;
    margin-left: 72px;
  }
  main .page-section__content__media-logos__carousel-tape img:nth-of-type(2) {
    margin-right: 64px;
    margin-left: 64px;
  }
  main .page-section__content__media-logos__carousel-tape img:nth-of-type(3) {
    margin-right: 36px;
    margin-left: 37px;
  }
}
main .page-section__content--centered {
  text-align: center;
}
main .page-section__content--video-hero {
  position: relative;
  padding-bottom: 89px;
  text-align: center;
}
main .page-section__content--video-hero article {
  max-width: 360px;
  margin-bottom: 36px;
  padding-left: 48px;
  background-image: url(/images/ux/kb_orange_check.574b17e5.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 36px auto;
  text-align: left;
}
main .page-section__content--video-hero article p:first-child {
  margin-bottom: 6px;
}
main .page-section__content--video-hero article:nth-last-of-type(2) {
  margin-bottom: 42px;
}
main .page-section__content--video-hero article:nth-last-of-type(1) {
  margin-bottom: 0;
  background-image: none;
}
@media (max-width: 768px) {
  main .page-section__content--video-hero article:nth-last-of-type(1) {
    padding-left: 0;
  }
}
main .page-section__content--video-hero article:nth-last-of-type(1) a {
  color: #F47D0F;
}
@media (max-width: 768px) {
  main .page-section__content--video-hero article:nth-last-of-type(1) a {
    padding-left: 0;
    display: block;
    text-align: center;
  }
}
@media (max-width: 1229px) {
  main .page-section__content--video-hero article {
    margin-right: auto;
    margin-left: auto;
  }
}
main .page-section__content--video-hero .page-section__content__video-hero {
  position: absolute;
  top: 144px;
  right: 0;
  height: 313px;
  width: 556px;
}
main .page-section__content--video-hero .page-section__content__video-hero video {
  border-radius: 14px;
  cursor: pointer;
}
main .page-section__content--video-hero .page-section__content__video-hero .video-hero__badge {
  position: absolute;
  top: -42px;
  left: -70px;
  height: 144px;
  width: 144px;
  padding: 24px 25px;
  background-color: #F47D0F;
  background-image: none;
  border-radius: 50%;
  color: #FFFFFF;
  text-align: center;
}
@media (max-width: 768px) {
  main .page-section__content--video-hero .page-section__content__video-hero .video-hero__badge {
    display: none;
  }
}
main .page-section__content--video-hero .page-section__content__video-hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 72px auto;
  cursor: pointer;
}
main .page-section__content--video-hero .page-section__content__video-hero:hover:not(.paused)::after {
  background-image: url(/images/ux/kb_pause_icon.2d56f330.png);
}
main .page-section__content--video-hero .page-section__content__video-hero.paused::after {
  background-image: url(/images/ux/kb_play_icon.54e46c37.png);
}
@media (max-width: 1229px) {
  main .page-section__content--video-hero .page-section__content__video-hero {
    position: relative;
    top: 42px;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-bottom: 84px;
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  main .page-section__content--video-hero .page-section__content__video-hero {
    top: auto;
    width: calc(100% + 100px);
    margin-bottom: 42px;
    margin-left: -50px;
  }
  main .page-section__content--video-hero .page-section__content__video-hero video {
    height: 100%;
    width: 100%;
  }
}
@media (min-width: 1230px) {
  main .page-section__content--video-hero {
    padding-right: 0;
    padding-left: 244px;
    text-align: left;
  }
}
@media (max-width: 1235px) {
  main .page-section__content {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (max-width: 768px) {
  main .page-section__content {
    padding-top: 49px;
    padding-bottom: 60px;
  }
}
@media (max-width: 768px) {
  main {
    padding-top: 60px;
  }
}
/**
 * [JAMJ] Prepped
 * home.less
 * Specific styling for the home page elements
 * 
 * @Author: Kubo HQ (Fabio Pinto da Costa)
 * @Date: 2020-09-17T17:18
 * @Email: developers@kubokhq.com
 */
#homeCustomerFeedback .page-section__content {
  padding-bottom: 45px;
}
#homeCustomerFeedback .page-section__content .page-section__content__columns article img,
#homeCustomerFeedback .page-section__content .page-section__content__columns article p {
  margin-bottom: 24px;
}
#homeCustomerFeedback .page-section__content .page-section__content__columns article p:nth-of-type(1),
#homeCustomerFeedback .page-section__content .page-section__content__columns article p:nth-of-type(3) {
  font-weight: 600;
}
#homeCustomerFeedback .page-section__content .page-section__content__columns article p:nth-of-type(2) {
  color: #888888;
}
#homeCustomerFeedback .page-section__content .page-section__content__columns article p:nth-of-type(3) {
  margin-bottom: 0;
}
#homeFeaturedIn .page-section__content {
  padding-right: 60px;
  padding-left: 60px;
}
/**
 * [JAMJ] Prepped
 * valuation.less
 * Specific styling for the valuation page elements
 * 
 * @Author: Kubo HQ (Fabio Pinto da Costa)
 * @Date: 2020-09-18T12:39
 * @Email: developers@kubokhq.com
 */
main .page-section__content--valuation-progress {
  padding: 11px 190px 14px;
}
main .page-section__content--valuation-progress::after {
  content: "";
  display: block;
  clear: both;
}
main .page-section__content--valuation-progress table {
  float: left;
}
main .page-section__content--valuation-progress table tr td {
  vertical-align: middle;
}
main .page-section__content--valuation-progress table tr td h3,
main .page-section__content--valuation-progress table tr td p {
  margin-bottom: 8px;
}
main .page-section__content--valuation-progress table tr td span {
  color: #888888;
}
main .page-section__content--valuation-progress table tr td a {
  color: #F47D0F;
  font-size: 1.3rem;
  line-height: 1.54em;
}
@media (max-width: 768px) {
  main .page-section__content--valuation-progress table {
    float: none;
    width: 320px;
    margin: 0 auto;
  }
}
main .page-section__content--valuation-progress .progress-wrapper {
  float: right;
  width: 100%;
  max-width: 670px;
  margin-top: 59px;
}
main .page-section__content--valuation-progress .progress-wrapper__progress-point {
  float: left;
  position: relative;
  height: 36px;
  width: 36px;
  background-color: #FFFFFF;
  border: 2px solid rgba(136, 136, 136, 0.2);
  border-radius: 50%;
  color: #888888;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
}
main .page-section__content--valuation-progress .progress-wrapper__progress-point--active {
  border-color: #F47D0F;
  color: #000000;
}
main .page-section__content--valuation-progress .progress-wrapper__progress-point--passed {
  border-color: #888888;
  color: #000000;
}
main .page-section__content--valuation-progress .progress-wrapper__progress-point span {
  position: absolute;
  top: -32px;
  left: 50%;
  color: #000000;
  font-size: 1.3rem;
  line-height: 1.54em;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  main .page-section__content--valuation-progress .progress-wrapper__progress-point {
    float: none;
    display: inline-block;
    vertical-align: top;
    height: 24px;
    width: 24px;
    font-size: 11px;
    line-height: 22px;
    margin: 0 -4px;
  }
}
main .page-section__content--valuation-progress .progress-wrapper__progress-waypoint {
  float: left;
  position: relative;
  top: 17px;
  height: 1px;
  width: 170px;
  background-color: rgba(136, 136, 136, 0.2);
}
@media (max-width: 768px) {
  main .page-section__content--valuation-progress .progress-wrapper__progress-waypoint {
    float: none;
    display: inline-block;
    vertical-align: top;
    width: 62px;
    top: 12px;
  }
}
@media (max-width: 768px) {
  main .page-section__content--valuation-progress .progress-wrapper {
    float: none;
    width: 320px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}
@media (max-width: 1235px) {
  main .page-section__content--valuation-progress {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (max-width: 768px) {
  main .page-section__content--valuation-progress {
    padding: 23px 28px 25px;
  }
}
@media (max-width: 375px) {
  main .page-section__content--valuation-progress {
    padding: 23px 0 25px;
  }
}
main .page-section__content--registration,
main .page-section__content--valuation-step4,
main .page-section__content--valuation {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 31px 184px 0px;
}
main .page-section__content--registration .form-section__form,
main .page-section__content--valuation-step4 .form-section__form,
main .page-section__content--valuation .form-section__form,
main .page-section__content--registration form,
main .page-section__content--valuation-step4 form,
main .page-section__content--valuation form {
  max-width: 552px;
  margin-right: 44px;
  margin-bottom: 42px;
}
main .page-section__content--registration .form-section__form hr,
main .page-section__content--valuation-step4 .form-section__form hr,
main .page-section__content--valuation .form-section__form hr,
main .page-section__content--registration form hr,
main .page-section__content--valuation-step4 form hr,
main .page-section__content--valuation form hr {
  max-width: 456px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(136, 136, 136, 0.4);
}
main .page-section__content--registration .form-section__form a,
main .page-section__content--valuation-step4 .form-section__form a,
main .page-section__content--valuation .form-section__form a,
main .page-section__content--registration form a,
main .page-section__content--valuation-step4 form a,
main .page-section__content--valuation form a {
  color: #888888;
}
main .page-section__content--registration .form-section__form h2,
main .page-section__content--valuation-step4 .form-section__form h2,
main .page-section__content--valuation .form-section__form h2,
main .page-section__content--registration form h2,
main .page-section__content--valuation-step4 form h2,
main .page-section__content--valuation form h2,
main .page-section__content--registration .form-section__form p.small,
main .page-section__content--valuation-step4 .form-section__form p.small,
main .page-section__content--valuation .form-section__form p.small,
main .page-section__content--registration form p.small,
main .page-section__content--valuation-step4 form p.small,
main .page-section__content--valuation form p.small {
  margin-bottom: 24px;
}
main .page-section__content--registration .form-section__form > label:not(.ap-input-icon),
main .page-section__content--valuation-step4 .form-section__form > label:not(.ap-input-icon),
main .page-section__content--valuation .form-section__form > label:not(.ap-input-icon),
main .page-section__content--registration form > label:not(.ap-input-icon),
main .page-section__content--valuation-step4 form > label:not(.ap-input-icon),
main .page-section__content--valuation form > label:not(.ap-input-icon),
main .page-section__content--registration .form-section__form fieldset:not(.ap-input-icon),
main .page-section__content--valuation-step4 .form-section__form fieldset:not(.ap-input-icon),
main .page-section__content--valuation .form-section__form fieldset:not(.ap-input-icon),
main .page-section__content--registration form fieldset:not(.ap-input-icon),
main .page-section__content--valuation-step4 form fieldset:not(.ap-input-icon),
main .page-section__content--valuation form fieldset:not(.ap-input-icon),
main .page-section__content--registration .form-section__form button:not(.ap-input-icon),
main .page-section__content--valuation-step4 .form-section__form button:not(.ap-input-icon),
main .page-section__content--valuation .form-section__form button:not(.ap-input-icon),
main .page-section__content--registration form button:not(.ap-input-icon),
main .page-section__content--valuation-step4 form button:not(.ap-input-icon),
main .page-section__content--valuation form button:not(.ap-input-icon) {
  display: block;
  max-width: 360px;
}
main .page-section__content--registration .form-section__form > label.hidden-address-field,
main .page-section__content--valuation-step4 .form-section__form > label.hidden-address-field,
main .page-section__content--valuation .form-section__form > label.hidden-address-field,
main .page-section__content--registration form > label.hidden-address-field,
main .page-section__content--valuation-step4 form > label.hidden-address-field,
main .page-section__content--valuation form > label.hidden-address-field,
main .page-section__content--registration .form-section__form fieldset.hidden-address-field,
main .page-section__content--valuation-step4 .form-section__form fieldset.hidden-address-field,
main .page-section__content--valuation .form-section__form fieldset.hidden-address-field,
main .page-section__content--registration form fieldset.hidden-address-field,
main .page-section__content--valuation-step4 form fieldset.hidden-address-field,
main .page-section__content--valuation form fieldset.hidden-address-field,
main .page-section__content--registration .form-section__form button.hidden-address-field,
main .page-section__content--valuation-step4 .form-section__form button.hidden-address-field,
main .page-section__content--valuation .form-section__form button.hidden-address-field,
main .page-section__content--registration form button.hidden-address-field,
main .page-section__content--valuation-step4 form button.hidden-address-field,
main .page-section__content--valuation form button.hidden-address-field {
  display: none;
}
main .page-section__content--registration .form-section__form > label,
main .page-section__content--valuation-step4 .form-section__form > label,
main .page-section__content--valuation .form-section__form > label,
main .page-section__content--registration form > label,
main .page-section__content--valuation-step4 form > label,
main .page-section__content--valuation form > label,
main .page-section__content--registration .form-section__form fieldset,
main .page-section__content--valuation-step4 .form-section__form fieldset,
main .page-section__content--valuation .form-section__form fieldset,
main .page-section__content--registration form fieldset,
main .page-section__content--valuation-step4 form fieldset,
main .page-section__content--valuation form fieldset {
  margin-bottom: 24px;
}
main .page-section__content--registration .form-section__form label,
main .page-section__content--valuation-step4 .form-section__form label,
main .page-section__content--valuation .form-section__form label,
main .page-section__content--registration form label,
main .page-section__content--valuation-step4 form label,
main .page-section__content--valuation form label,
main .page-section__content--registration .form-section__form p.label,
main .page-section__content--valuation-step4 .form-section__form p.label,
main .page-section__content--valuation .form-section__form p.label,
main .page-section__content--registration form p.label,
main .page-section__content--valuation-step4 form p.label,
main .page-section__content--valuation form p.label,
main .page-section__content--registration .form-section__form label a,
main .page-section__content--valuation-step4 .form-section__form label a,
main .page-section__content--valuation .form-section__form label a,
main .page-section__content--registration form label a,
main .page-section__content--valuation-step4 form label a,
main .page-section__content--valuation form label a,
main .page-section__content--registration .form-section__form p.label a,
main .page-section__content--valuation-step4 .form-section__form p.label a,
main .page-section__content--valuation .form-section__form p.label a,
main .page-section__content--registration form p.label a,
main .page-section__content--valuation-step4 form p.label a,
main .page-section__content--valuation form p.label a {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.54em;
}
main .page-section__content--registration .form-section__form label a,
main .page-section__content--valuation-step4 .form-section__form label a,
main .page-section__content--valuation .form-section__form label a,
main .page-section__content--registration form label a,
main .page-section__content--valuation-step4 form label a,
main .page-section__content--valuation form label a,
main .page-section__content--registration .form-section__form p.label a,
main .page-section__content--valuation-step4 .form-section__form p.label a,
main .page-section__content--valuation .form-section__form p.label a,
main .page-section__content--registration form p.label a,
main .page-section__content--valuation-step4 form p.label a,
main .page-section__content--valuation form p.label a {
  color: #F47D0F;
  font-weight: 400;
}
main .page-section__content--registration .form-section__form label[for=address_line_one]::after,
main .page-section__content--valuation-step4 .form-section__form label[for=address_line_one]::after,
main .page-section__content--valuation .form-section__form label[for=address_line_one]::after,
main .page-section__content--registration form label[for=address_line_one]::after,
main .page-section__content--valuation-step4 form label[for=address_line_one]::after,
main .page-section__content--valuation form label[for=address_line_one]::after {
  content: "";
  display: block;
  clear: both;
}
main .page-section__content--registration .form-section__form label[for=address_line_one] a.manual-address-prompt,
main .page-section__content--valuation-step4 .form-section__form label[for=address_line_one] a.manual-address-prompt,
main .page-section__content--valuation .form-section__form label[for=address_line_one] a.manual-address-prompt,
main .page-section__content--registration form label[for=address_line_one] a.manual-address-prompt,
main .page-section__content--valuation-step4 form label[for=address_line_one] a.manual-address-prompt,
main .page-section__content--valuation form label[for=address_line_one] a.manual-address-prompt {
  float: right;
  margin-top: 6px;
  color: #888888;
}
main .page-section__content--registration .form-section__form input:not([type=radio]),
main .page-section__content--valuation-step4 .form-section__form input:not([type=radio]),
main .page-section__content--valuation .form-section__form input:not([type=radio]),
main .page-section__content--registration form input:not([type=radio]),
main .page-section__content--valuation-step4 form input:not([type=radio]),
main .page-section__content--valuation form input:not([type=radio]),
main .page-section__content--registration .form-section__form textarea,
main .page-section__content--valuation-step4 .form-section__form textarea,
main .page-section__content--valuation .form-section__form textarea,
main .page-section__content--registration form textarea,
main .page-section__content--valuation-step4 form textarea,
main .page-section__content--valuation form textarea,
main .page-section__content--registration .form-section__form select,
main .page-section__content--valuation-step4 .form-section__form select,
main .page-section__content--valuation .form-section__form select,
main .page-section__content--registration form select,
main .page-section__content--valuation-step4 form select,
main .page-section__content--valuation form select {
  margin-top: 6px;
  padding: 12px;
  background-color: #FFFFFF;
  border: 1px solid rgba(136, 136, 136, 0.4);
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.38em;
}
main .page-section__content--registration .form-section__form select,
main .page-section__content--valuation-step4 .form-section__form select,
main .page-section__content--valuation .form-section__form select,
main .page-section__content--registration form select,
main .page-section__content--valuation-step4 form select,
main .page-section__content--valuation form select {
  padding-right: 32px;
  background-image: url(/images/ux/kb_arrow_down.fcf02466.png);
  background-position: calc(100% - 13px);
  background-repeat: no-repeat;
  background-size: 7px auto;
}
main .page-section__content--registration .form-section__form fieldset label,
main .page-section__content--valuation-step4 .form-section__form fieldset label,
main .page-section__content--valuation .form-section__form fieldset label,
main .page-section__content--registration form fieldset label,
main .page-section__content--valuation-step4 form fieldset label,
main .page-section__content--valuation form fieldset label {
  cursor: pointer;
  padding-left: 5px;
}
main .page-section__content--registration .form-section__form fieldset input[type=radio],
main .page-section__content--valuation-step4 .form-section__form fieldset input[type=radio],
main .page-section__content--valuation .form-section__form fieldset input[type=radio],
main .page-section__content--registration form fieldset input[type=radio],
main .page-section__content--valuation-step4 form fieldset input[type=radio],
main .page-section__content--valuation form fieldset input[type=radio] {
  height: 20px;
  width: 20px;
  margin: 12px 0 -5px;
  border: 2px solid #888888;
  border-radius: 50%;
  cursor: pointer;
}
main .page-section__content--registration .form-section__form fieldset input[type=radio]:nth-of-type(2),
main .page-section__content--valuation-step4 .form-section__form fieldset input[type=radio]:nth-of-type(2),
main .page-section__content--valuation .form-section__form fieldset input[type=radio]:nth-of-type(2),
main .page-section__content--registration form fieldset input[type=radio]:nth-of-type(2),
main .page-section__content--valuation-step4 form fieldset input[type=radio]:nth-of-type(2),
main .page-section__content--valuation form fieldset input[type=radio]:nth-of-type(2) {
  margin-left: 12px;
}
main .page-section__content--registration .form-section__form fieldset input[type=radio]:checked,
main .page-section__content--valuation-step4 .form-section__form fieldset input[type=radio]:checked,
main .page-section__content--valuation .form-section__form fieldset input[type=radio]:checked,
main .page-section__content--registration form fieldset input[type=radio]:checked,
main .page-section__content--valuation-step4 form fieldset input[type=radio]:checked,
main .page-section__content--valuation form fieldset input[type=radio]:checked {
  position: relative;
}
main .page-section__content--registration .form-section__form fieldset input[type=radio]:checked::after,
main .page-section__content--valuation-step4 .form-section__form fieldset input[type=radio]:checked::after,
main .page-section__content--valuation .form-section__form fieldset input[type=radio]:checked::after,
main .page-section__content--registration form fieldset input[type=radio]:checked::after,
main .page-section__content--valuation-step4 form fieldset input[type=radio]:checked::after,
main .page-section__content--valuation form fieldset input[type=radio]:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  height: 12px;
  width: 12px;
  background-color: #F47D0F;
  border-radius: 50%;
}
main .page-section__content--registration .form-section__form .photo-booth,
main .page-section__content--valuation-step4 .form-section__form .photo-booth,
main .page-section__content--valuation .form-section__form .photo-booth,
main .page-section__content--registration form .photo-booth,
main .page-section__content--valuation-step4 form .photo-booth,
main .page-section__content--valuation form .photo-booth {
  display: -ms-grid;
  display: grid;
  grid-gap: 24px;
  -ms-grid-columns: 25% 25% 25% 25%;
  grid-template-columns: auto auto auto auto;
  margin: 6px 0;
}
main .page-section__content--registration .form-section__form .photo-booth label,
main .page-section__content--valuation-step4 .form-section__form .photo-booth label,
main .page-section__content--valuation .form-section__form .photo-booth label,
main .page-section__content--registration form .photo-booth label,
main .page-section__content--valuation-step4 form .photo-booth label,
main .page-section__content--valuation form .photo-booth label {
  display: block;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #E1E1E1;
  border-radius: 6px;
  cursor: pointer;
}
main .page-section__content--registration .form-section__form .photo-booth label::before,
main .page-section__content--valuation-step4 .form-section__form .photo-booth label::before,
main .page-section__content--valuation .form-section__form .photo-booth label::before,
main .page-section__content--registration form .photo-booth label::before,
main .page-section__content--valuation-step4 form .photo-booth label::before,
main .page-section__content--valuation form .photo-booth label::before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 100%;
}
main .page-section__content--registration .form-section__form .photo-booth label::after,
main .page-section__content--valuation-step4 .form-section__form .photo-booth label::after,
main .page-section__content--valuation .form-section__form .photo-booth label::after,
main .page-section__content--registration form .photo-booth label::after,
main .page-section__content--valuation-step4 form .photo-booth label::after,
main .page-section__content--valuation form .photo-booth label::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  background-image: url(/images/ux/kb_plus_icon.2e404990.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 24px;
}
@media (max-width: 768px) {
  main .page-section__content--registration .form-section__form .photo-booth label::after,
  main .page-section__content--valuation-step4 .form-section__form .photo-booth label::after,
  main .page-section__content--valuation .form-section__form .photo-booth label::after,
  main .page-section__content--registration form .photo-booth label::after,
  main .page-section__content--valuation-step4 form .photo-booth label::after,
  main .page-section__content--valuation form .photo-booth label::after {
    background-size: auto 20px;
  }
}
main .page-section__content--registration .form-section__form .photo-booth label.active::after,
main .page-section__content--valuation-step4 .form-section__form .photo-booth label.active::after,
main .page-section__content--valuation .form-section__form .photo-booth label.active::after,
main .page-section__content--registration form .photo-booth label.active::after,
main .page-section__content--valuation-step4 form .photo-booth label.active::after,
main .page-section__content--valuation form .photo-booth label.active::after,
main .page-section__content--valuation form .photo-booth label.active-label::after{
  background-color: rgba(0, 0, 0, 0.15);
  background-image: url(/images/ux/kb_delete_icon.00f8b237.png);
}

main .page-section__content--valuation form .photo-booth label.spinner::after{
  background-color: rgba(0, 0, 0, 0.15);
  background-image: url(/images/ux/kb_spinner.gif);
}

main .page-section__content--registration .form-section__form .photo-booth label.ie-fix,
main .page-section__content--valuation-step4 .form-section__form .photo-booth label.ie-fix,
main .page-section__content--valuation .form-section__form .photo-booth label.ie-fix,
main .page-section__content--registration form .photo-booth label.ie-fix,
main .page-section__content--valuation-step4 form .photo-booth label.ie-fix,
main .page-section__content--valuation form .photo-booth label.ie-fix {
  margin-right: 12px;
  margin-bottom: 12px;
}
main .page-section__content--registration .form-section__form .photo-booth label input,
main .page-section__content--valuation-step4 .form-section__form .photo-booth label input,
main .page-section__content--valuation .form-section__form .photo-booth label input,
main .page-section__content--registration form .photo-booth label input,
main .page-section__content--valuation-step4 form .photo-booth label input,
main .page-section__content--valuation form .photo-booth label input {
  display: none;
}
main .page-section__content--registration .form-section__form .photo-booth label:nth-child(1),
main .page-section__content--valuation-step4 .form-section__form .photo-booth label:nth-child(1),
main .page-section__content--valuation .form-section__form .photo-booth label:nth-child(1),
main .page-section__content--registration form .photo-booth label:nth-child(1),
main .page-section__content--valuation-step4 form .photo-booth label:nth-child(1),
main .page-section__content--valuation form .photo-booth label:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
}
main .page-section__content--registration .form-section__form .photo-booth label:nth-child(2),
main .page-section__content--valuation-step4 .form-section__form .photo-booth label:nth-child(2),
main .page-section__content--valuation .form-section__form .photo-booth label:nth-child(2),
main .page-section__content--registration form .photo-booth label:nth-child(2),
main .page-section__content--valuation-step4 form .photo-booth label:nth-child(2),
main .page-section__content--valuation form .photo-booth label:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-row: 1;
}
main .page-section__content--registration .form-section__form .photo-booth label:nth-child(3),
main .page-section__content--valuation-step4 .form-section__form .photo-booth label:nth-child(3),
main .page-section__content--valuation .form-section__form .photo-booth label:nth-child(3),
main .page-section__content--registration form .photo-booth label:nth-child(3),
main .page-section__content--valuation-step4 form .photo-booth label:nth-child(3),
main .page-section__content--valuation form .photo-booth label:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-row: 1;
}
main .page-section__content--registration .form-section__form .photo-booth label:nth-child(4),
main .page-section__content--valuation-step4 .form-section__form .photo-booth label:nth-child(4),
main .page-section__content--valuation .form-section__form .photo-booth label:nth-child(4),
main .page-section__content--registration form .photo-booth label:nth-child(4),
main .page-section__content--valuation-step4 form .photo-booth label:nth-child(4),
main .page-section__content--valuation form .photo-booth label:nth-child(4) {
  -ms-grid-column: 4;
  -ms-grid-row: 1;
}
main .page-section__content--registration .form-section__form .photo-booth label:nth-child(5),
main .page-section__content--valuation-step4 .form-section__form .photo-booth label:nth-child(5),
main .page-section__content--valuation .form-section__form .photo-booth label:nth-child(5),
main .page-section__content--registration form .photo-booth label:nth-child(5),
main .page-section__content--valuation-step4 form .photo-booth label:nth-child(5),
main .page-section__content--valuation form .photo-booth label:nth-child(5) {
  -ms-grid-column: 1;
  -ms-grid-row: 2;
}
main .page-section__content--registration .form-section__form .photo-booth label:nth-child(6),
main .page-section__content--valuation-step4 .form-section__form .photo-booth label:nth-child(6),
main .page-section__content--valuation .form-section__form .photo-booth label:nth-child(6),
main .page-section__content--registration form .photo-booth label:nth-child(6),
main .page-section__content--valuation-step4 form .photo-booth label:nth-child(6),
main .page-section__content--valuation form .photo-booth label:nth-child(6) {
  -ms-grid-column: 2;
  -ms-grid-row: 2;
}
main .page-section__content--registration .form-section__form .photo-booth label:nth-child(7),
main .page-section__content--valuation-step4 .form-section__form .photo-booth label:nth-child(7),
main .page-section__content--valuation .form-section__form .photo-booth label:nth-child(7),
main .page-section__content--registration form .photo-booth label:nth-child(7),
main .page-section__content--valuation-step4 form .photo-booth label:nth-child(7),
main .page-section__content--valuation form .photo-booth label:nth-child(7) {
  -ms-grid-column: 3;
  -ms-grid-row: 2;
}
main .page-section__content--registration .form-section__form .photo-booth label:nth-child(8),
main .page-section__content--valuation-step4 .form-section__form .photo-booth label:nth-child(8),
main .page-section__content--valuation .form-section__form .photo-booth label:nth-child(8),
main .page-section__content--registration form .photo-booth label:nth-child(8),
main .page-section__content--valuation-step4 form .photo-booth label:nth-child(8),
main .page-section__content--valuation form .photo-booth label:nth-child(8) {
  -ms-grid-column: 4;
  -ms-grid-row: 2;
}
@media (max-width: 768px) {
  main .page-section__content--registration .form-section__form .photo-booth,
  main .page-section__content--valuation-step4 .form-section__form .photo-booth,
  main .page-section__content--valuation .form-section__form .photo-booth,
  main .page-section__content--registration form .photo-booth,
  main .page-section__content--valuation-step4 form .photo-booth,
  main .page-section__content--valuation form .photo-booth {
    grid-gap: 12px;
  }
  main .page-section__content--registration .form-section__form .photo-booth label.ie-fix,
  main .page-section__content--valuation-step4 .form-section__form .photo-booth label.ie-fix,
  main .page-section__content--valuation .form-section__form .photo-booth label.ie-fix,
  main .page-section__content--registration form .photo-booth label.ie-fix,
  main .page-section__content--valuation-step4 form .photo-booth label.ie-fix,
  main .page-section__content--valuation form .photo-booth label.ie-fix {
    margin-right: 12px;
    margin-bottom: 12px;
  }
}
main .page-section__content--registration .form-section__form button:not(.ap-input-icon),
main .page-section__content--valuation-step4 .form-section__form button:not(.ap-input-icon),
main .page-section__content--valuation .form-section__form button:not(.ap-input-icon),
main .page-section__content--registration form button:not(.ap-input-icon),
main .page-section__content--valuation-step4 form button:not(.ap-input-icon),
main .page-section__content--valuation form button:not(.ap-input-icon) {
  padding: 18px 28px 18px 12px;
  background-color: #FFFFFF;
  background-image: url(/images/ux/kb_masthead_form_arrow.8c5a8d6f.png);
  background-position: 91% center;
  background-repeat: no-repeat;
  background-size: auto 16px;
  border: 2px solid #F47D0F;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5em;
  margin-bottom: 24px;
}
main .page-section__content--registration .form-section__form button:not(.ap-input-icon):last-child,
main .page-section__content--valuation-step4 .form-section__form button:not(.ap-input-icon):last-child,
main .page-section__content--valuation .form-section__form button:not(.ap-input-icon):last-child,
main .page-section__content--registration form button:not(.ap-input-icon):last-child,
main .page-section__content--valuation-step4 form button:not(.ap-input-icon):last-child,
main .page-section__content--valuation form button:not(.ap-input-icon):last-child {
  margin-bottom: 0;
}
main .page-section__content--registration .form-section__form button.ap-input-icon,
main .page-section__content--valuation-step4 .form-section__form button.ap-input-icon,
main .page-section__content--valuation .form-section__form button.ap-input-icon,
main .page-section__content--registration form button.ap-input-icon,
main .page-section__content--valuation-step4 form button.ap-input-icon,
main .page-section__content--valuation form button.ap-input-icon {
  top: 5px;
  right: 10px;
  width: auto;
}
main .page-section__content--registration .form-section__form button.ap-input-icon,
main .page-section__content--valuation-step4 .form-section__form button.ap-input-icon,
main .page-section__content--valuation .form-section__form button.ap-input-icon,
main .page-section__content--registration form button.ap-input-icon,
main .page-section__content--valuation-step4 form button.ap-input-icon,
main .page-section__content--valuation form button.ap-input-icon,
main .page-section__content--registration .form-section__form button.ap-input-icon *,
main .page-section__content--valuation-step4 .form-section__form button.ap-input-icon *,
main .page-section__content--valuation .form-section__form button.ap-input-icon *,
main .page-section__content--registration form button.ap-input-icon *,
main .page-section__content--valuation-step4 form button.ap-input-icon *,
main .page-section__content--valuation form button.ap-input-icon * {
  cursor: pointer;
}
@media (max-width: 1015px) {
  main .page-section__content--registration .form-section__form,
  main .page-section__content--valuation-step4 .form-section__form,
  main .page-section__content--valuation .form-section__form,
  main .page-section__content--registration form,
  main .page-section__content--valuation-step4 form,
  main .page-section__content--valuation form {
    margin-right: 0;
  }
}
main .page-section__content--registration aside,
main .page-section__content--valuation-step4 aside,
main .page-section__content--valuation aside {
  max-width: 320px;
  padding: 0 24px;
}
main .page-section__content--registration aside article p,
main .page-section__content--valuation-step4 aside article p,
main .page-section__content--valuation aside article p {
  margin-bottom: 24px;
}
main .page-section__content--registration aside article p:nth-of-type(2),
main .page-section__content--valuation-step4 aside article p:nth-of-type(2),
main .page-section__content--valuation aside article p:nth-of-type(2) {
  color: #888888;
}
main .page-section__content--registration aside article p:last-of-type,
main .page-section__content--valuation-step4 aside article p:last-of-type,
main .page-section__content--valuation aside article p:last-of-type {
  margin-bottom: 0;
}
main .page-section__content--registration aside article:last-of-type,
main .page-section__content--valuation-step4 aside article:last-of-type,
main .page-section__content--valuation aside article:last-of-type {
  margin-bottom: 24px;
  padding: 25px 20px 20px;
  background-color: #F8F8F8;
}
main .page-section__content--registration aside article:last-of-type p,
main .page-section__content--valuation-step4 aside article:last-of-type p,
main .page-section__content--valuation aside article:last-of-type p {
  margin-bottom: 12px;
}
main .page-section__content--registration aside article:last-of-type p:nth-of-type(2),
main .page-section__content--valuation-step4 aside article:last-of-type p:nth-of-type(2),
main .page-section__content--valuation aside article:last-of-type p:nth-of-type(2) {
  color: #888888;
}
main .page-section__content--registration aside article:last-of-type a,
main .page-section__content--valuation-step4 aside article:last-of-type a,
main .page-section__content--valuation aside article:last-of-type a {
  color: #F47D0F;
}
main .page-section__content--registration aside article:first-of-type,
main .page-section__content--valuation-step4 aside article:first-of-type,
main .page-section__content--valuation aside article:first-of-type {
  text-align: center;
}
main .page-section__content--registration aside img,
main .page-section__content--valuation-step4 aside img,
main .page-section__content--valuation aside img {
  display: block;
  margin: 0 auto 24px;
}
@media (max-width: 970px) {
  main .page-section__content--registration aside,
  main .page-section__content--valuation-step4 aside,
  main .page-section__content--valuation aside {
    display: none;
  }
}
@media (max-width: 1235px) {
  main .page-section__content--registration,
  main .page-section__content--valuation-step4,
  main .page-section__content--valuation {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (max-width: 1015px) {
  main .page-section__content--registration,
  main .page-section__content--valuation-step4,
  main .page-section__content--valuation {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  main .page-section__content--registration,
  main .page-section__content--valuation-step4,
  main .page-section__content--valuation {
    padding: 26px 50px 0px;
  }
}
main .page-section__content--registration h2,
main .page-section__content--valuation-step4 h2,
main .page-section__content--valuation-step5 h2,
main .page-section__content--valuation-step2 h2,
main .page-section__content--valuation-saved h2,
main .page-section__content--registration p,
main .page-section__content--valuation-step4 p,
main .page-section__content--valuation-step5 p,
main .page-section__content--valuation-step2 p,
main .page-section__content--valuation-saved p {
  max-width: 528px;
  margin-right: auto;
  margin-left: auto;
}
main .page-section__content--registration table,
main .page-section__content--valuation-step4 table,
main .page-section__content--valuation-step5 table,
main .page-section__content--valuation-step2 table,
main .page-section__content--valuation-saved table {
  width: 100%;
  max-width: 842px;
  margin: 24px auto 173px;
}
main .page-section__content--registration table thead tr th,
main .page-section__content--valuation-step4 table thead tr th,
main .page-section__content--valuation-step5 table thead tr th,
main .page-section__content--valuation-step2 table thead tr th,
main .page-section__content--valuation-saved table thead tr th {
  padding: 0 0 24px;
  border-bottom: 1px solid #BDBDBD;
  color: #828282;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.54em;
  text-align: left;
  vertical-align: top;
}
main .page-section__content--registration table thead tr th:nth-of-type(3),
main .page-section__content--valuation-step4 table thead tr th:nth-of-type(3),
main .page-section__content--valuation-step5 table thead tr th:nth-of-type(3),
main .page-section__content--valuation-step2 table thead tr th:nth-of-type(3),
main .page-section__content--valuation-saved table thead tr th:nth-of-type(3) {
  text-align: right;
}
@media (max-width: 768px) {
  main .page-section__content--registration table thead,
  main .page-section__content--valuation-step4 table thead,
  main .page-section__content--valuation-step5 table thead,
  main .page-section__content--valuation-step2 table thead,
  main .page-section__content--valuation-saved table thead {
    display: none;
  }
}
main .page-section__content--registration table tbody tr td,
main .page-section__content--valuation-step4 table tbody tr td,
main .page-section__content--valuation-step5 table tbody tr td,
main .page-section__content--valuation-step2 table tbody tr td,
main .page-section__content--valuation-saved table tbody tr td {
  border-bottom: 1px solid #BDBDBD;
  padding: 24px 0;
  text-align: left;
  vertical-align: middle;
}
main .page-section__content--registration table tbody tr td ul li,
main .page-section__content--valuation-step4 table tbody tr td ul li,
main .page-section__content--valuation-step5 table tbody tr td ul li,
main .page-section__content--valuation-step2 table tbody tr td ul li,
main .page-section__content--valuation-saved table tbody tr td ul li {
  margin-bottom: 6px;
  padding-left: 22px;
  font-size: 1.3rem;
  line-height: 1.54em;
  background-image: url(/images/ux/kb_check_icon.5c24e777.png);
  background-position: left 2px;
  background-repeat: no-repeat;
  background-size: 16px auto;
}
main .page-section__content--registration table tbody tr td:first-of-type,
main .page-section__content--valuation-step4 table tbody tr td:first-of-type,
main .page-section__content--valuation-step5 table tbody tr td:first-of-type,
main .page-section__content--valuation-step2 table tbody tr td:first-of-type,
main .page-section__content--valuation-saved table tbody tr td:first-of-type {
  font-weight: 600;
}
main .page-section__content--registration table tbody tr td:first-of-type p:nth-child(1),
main .page-section__content--valuation-step4 table tbody tr td:first-of-type p:nth-child(1),
main .page-section__content--valuation-step5 table tbody tr td:first-of-type p:nth-child(1),
main .page-section__content--valuation-step2 table tbody tr td:first-of-type p:nth-child(1),
main .page-section__content--valuation-saved table tbody tr td:first-of-type p:nth-child(1) {
  font-weight: 400;
}
main .page-section__content--registration table tbody tr td:nth-of-type(3) ul li,
main .page-section__content--valuation-step4 table tbody tr td:nth-of-type(3) ul li,
main .page-section__content--valuation-step5 table tbody tr td:nth-of-type(3) ul li,
main .page-section__content--valuation-step2 table tbody tr td:nth-of-type(3) ul li,
main .page-section__content--valuation-saved table tbody tr td:nth-of-type(3) ul li {
  background-image: url(/images/ux/kb_info_icon.984bc5f4.png);
}
main .page-section__content--registration table tbody tr td:nth-of-type(4),
main .page-section__content--valuation-step4 table tbody tr td:nth-of-type(4),
main .page-section__content--valuation-step5 table tbody tr td:nth-of-type(4),
main .page-section__content--valuation-step2 table tbody tr td:nth-of-type(4),
main .page-section__content--valuation-saved table tbody tr td:nth-of-type(4) {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.17em;
  text-align: right;
}
main .page-section__content--registration table tbody tr td:nth-last-of-type(1),
main .page-section__content--valuation-step4 table tbody tr td:nth-last-of-type(1),
main .page-section__content--valuation-step5 table tbody tr td:nth-last-of-type(1),
main .page-section__content--valuation-step2 table tbody tr td:nth-last-of-type(1),
main .page-section__content--valuation-saved table tbody tr td:nth-last-of-type(1) {
  text-align: center;
  padding-left: 36px;
}
main .page-section__content--registration table tbody tr td:nth-last-of-type(1) a,
main .page-section__content--valuation-step4 table tbody tr td:nth-last-of-type(1) a,
main .page-section__content--valuation-step5 table tbody tr td:nth-last-of-type(1) a,
main .page-section__content--valuation-step2 table tbody tr td:nth-last-of-type(1) a,
main .page-section__content--valuation-saved table tbody tr td:nth-last-of-type(1) a {
  color: #F47D0F;
}
main .page-section__content--registration table tbody tr td:nth-last-of-type(1) a:first-of-type,
main .page-section__content--valuation-step4 table tbody tr td:nth-last-of-type(1) a:first-of-type,
main .page-section__content--valuation-step5 table tbody tr td:nth-last-of-type(1) a:first-of-type,
main .page-section__content--valuation-step2 table tbody tr td:nth-last-of-type(1) a:first-of-type,
main .page-section__content--valuation-saved table tbody tr td:nth-last-of-type(1) a:first-of-type {
  display: block;
  padding: 18px 28px 18px 12px;
  background-color: #FFFFFF;
  background-image: url(/images/ux/kb_masthead_form_arrow.8c5a8d6f.png);
  background-position: 91% center;
  background-repeat: no-repeat;
  background-size: auto 16px;
  border: 2px solid #F47D0F;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5em;
  margin-bottom: 12px;
  padding: 12px;
  color: #000000;
  text-decoration: none;
}

.showcase-success {
  display: block;
  padding: 18px 28px 18px 12px;
  background-color: #FFFFFF;
  background-image: url(/images/ux/kb_masthead_form_arrow.8c5a8d6f.png);
  background-position: 91% center;
  background-repeat: no-repeat;
  background-size: auto 16px;
  border: 2px solid #F47D0F;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5em;
  margin-bottom: 12px;
  padding: 12px;
  color: #000000;
  text-decoration: none;
  width: 50%;
}
@media (max-width: 768px) {
  main .page-section__content--registration table tbody tr:first-child td:first-of-type,
  main .page-section__content--valuation-step4 table tbody tr:first-child td:first-of-type,
  main .page-section__content--valuation-step5 table tbody tr:first-child td:first-of-type,
  main .page-section__content--valuation-step2 table tbody tr:first-child td:first-of-type,
  main .page-section__content--valuation-saved table tbody tr:first-child td:first-of-type {
    border-top: 1px solid #BDBDBD;
  }

  .showcase-success {
    width: 100%;
  }
  .no-border {
    border: none !important;
  }
  main .page-section__content--registration table tbody tr td,
  main .page-section__content--valuation-step4 table tbody tr td,
  main .page-section__content--valuation-step5 table tbody tr td,
  main .page-section__content--valuation-step2 table tbody tr td,
  main .page-section__content--valuation-saved table tbody tr td {
    display: block;
    width: 100%;
    padding-top: 0;
    padding-bottom: 12px;
  }
  main .page-section__content--registration table tbody tr td:first-of-type,
  main .page-section__content--valuation-step4 table tbody tr td:first-of-type,
  main .page-section__content--valuation-step5 table tbody tr td:first-of-type,
  main .page-section__content--valuation-step2 table tbody tr td:first-of-type,
  main .page-section__content--valuation-saved table tbody tr td:first-of-type {
    padding-top: 24px;
  }
  main .page-section__content--registration table tbody tr td:not(:nth-last-of-type(1)),
  main .page-section__content--valuation-step4 table tbody tr td:not(:nth-last-of-type(1)),
  main .page-section__content--valuation-step5 table tbody tr td:not(:nth-last-of-type(1)),
  main .page-section__content--valuation-step2 table tbody tr td:not(:nth-last-of-type(1)),
  main .page-section__content--valuation-saved table tbody tr td:not(:nth-last-of-type(1)) {
    border-bottom: none;
  }
  main .page-section__content--registration table tbody tr td:nth-of-type(2),
  main .page-section__content--valuation-step4 table tbody tr td:nth-of-type(2),
  main .page-section__content--valuation-step5 table tbody tr td:nth-of-type(2),
  main .page-section__content--valuation-step2 table tbody tr td:nth-of-type(2),
  main .page-section__content--valuation-saved table tbody tr td:nth-of-type(2),
  main .page-section__content--registration table tbody tr td:nth-of-type(3),
  main .page-section__content--valuation-step4 table tbody tr td:nth-of-type(3),
  main .page-section__content--valuation-step5 table tbody tr td:nth-of-type(3),
  main .page-section__content--valuation-step2 table tbody tr td:nth-of-type(3),
  main .page-section__content--valuation-saved table tbody tr td:nth-of-type(3) {
    float: left;
    /*width: 50%;*/
  }
  main .page-section__content--registration table tbody tr td:nth-of-type(4),
  main .page-section__content--valuation-step4 table tbody tr td:nth-of-type(4),
  main .page-section__content--valuation-step5 table tbody tr td:nth-of-type(4),
  main .page-section__content--valuation-step2 table tbody tr td:nth-of-type(4),
  main .page-section__content--valuation-saved table tbody tr td:nth-of-type(4) {
    text-align: center;
  }
  main .page-section__content--registration table tbody tr td:nth-last-of-type(1),
  main .page-section__content--valuation-step4 table tbody tr td:nth-last-of-type(1),
  main .page-section__content--valuation-step5 table tbody tr td:nth-last-of-type(1),
  main .page-section__content--valuation-step2 table tbody tr td:nth-last-of-type(1),
  main .page-section__content--valuation-saved table tbody tr td:nth-last-of-type(1) {
    padding-bottom: 24px;
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  main .page-section__content--registration table tbody,
  main .page-section__content--valuation-step4 table tbody,
  main .page-section__content--valuation-step5 table tbody,
  main .page-section__content--valuation-step2 table tbody,
  main .page-section__content--valuation-saved table tbody,
  main .page-section__content--registration table tbody tr,
  main .page-section__content--valuation-step4 table tbody tr,
  main .page-section__content--valuation-step5 table tbody tr,
  main .page-section__content--valuation-step2 table tbody tr,
  main .page-section__content--valuation-saved table tbody tr {
    display: block;
    width: 100%;
  }
}
@media (max-width: 768px) {
  main .page-section__content--registration table,
  main .page-section__content--valuation-step4 table,
  main .page-section__content--valuation-step5 table,
  main .page-section__content--valuation-step2 table,
  main .page-section__content--valuation-saved table {
    display: block;
    margin-bottom: 0;
  }
}
main .page-section__content--valuation-saved table thead tr th {
  border-bottom: 0;
}
main .page-section__content--valuation-saved table thead tr th:nth-of-type(3) {
  text-align: left;
}
main .page-section__content--valuation-saved table tbody tr td {
  padding-top: 12px;
  border-bottom: 0;
}
main .page-section__content--valuation-saved table tbody tr td:first-of-type {
  font-weight: 400;
}
main .page-section__content--valuation-saved table tbody tr td:nth-of-type(3) {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.17em;
}
main .page-section__content--valuation-saved table tbody tr td:nth-of-type(4) {
  font-size: 1.6rem;
  text-align: left;
}
main .page-section__content--valuation-saved table tbody tr td:nth-last-of-type(1) a {
  margin-top: 12px;
}
main .page-section__content--valuation-saved table tbody tr td .whatsapp-logo {
  padding-left: 20px;
  background-image: url(/images/ux/kb_whatsapp.7f18e93c.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 16px;
}
@media (max-width: 768px) {
  main .page-section__content--valuation-saved table tbody tr td .whatsapp-logo {
    display: inline;
  }
}
@media (max-width: 768px) {
  main .page-section__content--valuation-saved table tbody tr td:nth-of-type(2),
  main .page-section__content--valuation-saved table tbody tr td:nth-of-type(3) {
    float: none;
    width: 100%;
  }
  main .page-section__content--valuation-saved table tbody tr td:nth-of-type(3),
  main .page-section__content--valuation-saved table tbody tr td:nth-of-type(4) {
    text-align: center;
  }
  main .page-section__content--valuation-saved table tbody tr td:nth-last-of-type(1) {
    padding-bottom: 24px;
    padding-left: 0;
  }
}
main .page-section__content--valuation-saved table tbody tr.additional-info td {
  padding: 10px 0;
  border-bottom: 1px solid #BDBDBD;
  font-weight: 600;
  text-align: left;
}
main .page-section__content--valuation-saved table tbody tr.additional-info td:nth-last-of-type(1) a:first-of-type {
  display: inline;
  padding: 0;
  border: 0;
  background-image: none;
  text-decoration: underline;
}
main .page-section__content--valuation-saved table tbody tr.additional-info td:nth-last-of-type(1) a:first-of-type:hover {
  text-decoration: none;
}
main .page-section__content--valuation-step3 {
  display: block;
}
main .page-section__content--valuation-step3 form {
  max-width: none;
  margin-right: 0;
}
main .page-section__content--valuation-step3 form .form-section {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: flex-end;
}
main .page-section__content--valuation-step3 form .form-section__form {
  width: 100%;
}
main .page-section__content--valuation-step3 form .form-section__form hr {
  margin-bottom: 0;
}
main .page-section__content--valuation-step3 form .form-section:not(:last-of-type) .form-section__form {
  margin-bottom: 24px;
}
@media (max-width: 1015px) {
  main .page-section__content--valuation-step3 form .form-section {
    justify-content: center;
  }
  main .page-section__content--valuation-step3 form .form-section aside {
    display: none;
  }
}
main .page-section__content--registration,
main .page-section__content--valuation-step4,
main .page-section__content--valuation-step5 {
  display: block;
}
main .page-section__content--registration table,
main .page-section__content--valuation-step4 table,
main .page-section__content--valuation-step5 table {
  margin-bottom: 36px;
}
main .page-section__content--registration table tbody tr td:nth-last-of-type(1),
main .page-section__content--valuation-step4 table tbody tr td:nth-last-of-type(1),
main .page-section__content--valuation-step5 table tbody tr td:nth-last-of-type(1) {
  text-align: right;
  padding-left: 0;
}
@media (max-width: 768px) {
  main .page-section__content--registration table tbody tr td:nth-last-of-type(1),
  main .page-section__content--valuation-step4 table tbody tr td:nth-last-of-type(1),
  main .page-section__content--valuation-step5 table tbody tr td:nth-last-of-type(1) {
    text-align: center;
  }
}
main .page-section__content--registration form,
main .page-section__content--valuation-step4 form,
main .page-section__content--valuation-step5 form {
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  max-width: 361px;
}
main .page-section__content--registration form p.small,
main .page-section__content--valuation-step4 form p.small,
main .page-section__content--valuation-step5 form p.small {
  color: #888888;
  font-size: 1.1rem;
  line-height: 1.64em;
  text-align: center;
}
main .page-section__content--valuation-step5 table tbody tr td:nth-of-type(2) {
  font-weight: 600;
}
main .page-section__content--valuation-step5 table tbody tr td:nth-of-type(2) p:nth-child(1) {
  font-weight: 400;
}
main .page-section__content--valuation-step5 table tbody tr td:nth-of-type(3) ul li {
  background-image: url(/images/ux/kb_check_icon.5c24e777.png);
}
main .page-section__content--valuation-step5 table tbody tr td:nth-of-type(4) ul li {
  background-image: url(/images/ux/kb_info_icon.984bc5f4.png);
  font-weight: 400;
  text-align: left;
}
main .page-section__content--valuation-step5 table tbody tr td:nth-of-type(5) {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.17em;
  text-align: right;
}


.car-details {
  width: 25%;
}

@media (max-width: 768px) {
  .car-details {
    width:50%;
  }
  main .page-section__content--valuation-step5 table tbody tr:first-child td:nth-of-type(2) {
    /*border-top: 1px solid #BDBDBD;*/
  }
  main .page-section__content--valuation-step5 table tbody tr td {
    display: block;
    width: 100%;
    padding-top: 0;
    padding-bottom: 12px;
  }
  main .page-section__content--valuation-step5 table tbody tr td:first-of-type {
    padding-top: 24px;
  }
  main .page-section__content--valuation-step5 table tbody tr td:not(:nth-last-of-type(1)) {
    border-bottom: none;
  }
  main .page-section__content--valuation-step5 table tbody tr td:nth-of-type(3),
  main .page-section__content--valuation-step5 table tbody tr td:nth-of-type(4) {
    float: left;
    /*width: 50%;*/
  }
  main .page-section__content--valuation-step5 table tbody tr td:nth-of-type(5) {
    text-align: center;
  }
}
main .page-section__content--valuation-step5 .button-link {
  padding: 18px 28px 18px 12px;
  background-color: #FFFFFF;
  background-image: url(/images/ux/ux/kb_masthead_form_arrow.8c5a8d6f.png);
  background-position: 91% center;
  background-repeat: no-repeat;
  background-size: auto 16px;
  border: 2px solid #F47D0F;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5em;
  display: block;
  max-width: 300px;
  margin: 0 auto;
  text-decoration: none;
}
main .page-section__content--registration form {
  margin-top: 36px;
}
/**
 * [JAMJ] Prepped
 * howto.less
 * Stylesheet for the how to page
 * 
 * @Author: Kubo HQ (Fabio Pinto da Costa)
 * @Date: 2020-09-18T17:24
 * @Email: developers@kubokhq.com
 */
main .page-section__content__columns article .services-grid {
  display: -ms-grid;
  display: grid;
  column-gap: 24px;
  row-gap: 50px;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: auto auto;
}
main .page-section__content__columns article .services-grid article {
  margin: 0;
}
main .page-section__content__columns article .services-grid article.ie-fix {
  margin-right: 24px;
  margin-bottom: 50px;
}
main .page-section__content__columns article .services-grid article svg {
  margin-bottom: 12px;
}
main .page-section__content__columns article .services-grid article svg .colored {
  fill: #F47D0F;
}
@media (max-width: 768px) {
  main .page-section__content__columns article .services-grid article svg {
    float: left;
    width: 24px;
    margin-left: -36px;
  }
  main .page-section__content--valuation-step5 table tbody tr td:nth-of-type(5) {
    text-align: left;
  }
  main .page-section__content--valuation-step5 table tbody tr td:nth-of-type(6) {
    padding-left: 0px !important;
  }

}
main .page-section__content__columns article .services-grid article p {
  margin-bottom: 6px;
}
main .page-section__content__columns article .services-grid article p:last-of-type {
  color: #888888;
  font-size: 1.3rem;
  line-height: 1.54em;
}
main .page-section__content__columns article .services-grid article:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
}
main .page-section__content__columns article .services-grid article:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-row: 1;
}
main .page-section__content__columns article .services-grid article:nth-child(3) {
  -ms-grid-column: 1;
  -ms-grid-row: 2;
}
main .page-section__content__columns article .services-grid article:nth-child(4) {
  -ms-grid-column: 2;
  -ms-grid-row: 2;
}
@media (max-width: 768px) {
  main .page-section__content__columns article .services-grid article {
    margin-right: 0;
    margin-bottom: 24px;
    padding-left: 36px;
  }
}

@media (max-width: 768px) {
  main .page-section__content__columns article .services-grid {
    display: block;
  }

  #hide-details-button {
    display: none;
  }

  .car-details {
    display: none;
  }

  #show-details-button {
    display: inline;
  }

  table.car-details td {
    width: 50%;
  }
  .clear-float {
    float: none !important;
  }
}


/*# sourceMappingURL=/main.3366696c.css.map */

.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.loader {
  margin: 10px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.5em solid rgba(0,0,0, 0.1);
  border-right: 0.5em solid rgba(0,0,0, 0.1);
  border-bottom: 0.5em solid rgba(0,0,0, 0.1);
  border-left: 0.5em solid #000000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes c-inline-spinner-kf {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.c-inline-spinner,
.c-inline-spinner:before {
  display: inline-block;
  width: 11px;
  height: 11px;
  transform-origin: 50%;
  border: 2px solid transparent;
  border-color: black black transparent transparent;
  border-radius: 50%;
  content: "";
  animation: linear c-inline-spinner-kf 900ms infinite;
  position: relative;
  vertical-align: inherit;
  line-height: inherit;
}
.c-inline-spinner {
  top: 3px;
  margin: 0 3px;
}
.c-inline-spinner:before {
  border-color: black black transparent transparent;
  position: absolute;
  left: -2px;
  top: -2px;
  border-style: solid;
}

.margin-right--15 {
  margin-right: 15%;
}

.padding-left--20 {
  padding-left: 20px;
}

#showcaseSection {
  display: none;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 10px solid black;
}

.alert--danger {
  color: #F47D0F;
}


