/* =========== FONTS IMPORT =========== */
@font-face {
    font-family: "Gotham";
    src        : url('/fonts/Gotham/Gotham-Black.otf') format("truetype");
    font-weight: 900;
}

/*==== eddit class css ===== */
html,
body {
    width           : 100%;
    height          : 100%;
    background-color: #FFFFFF;
}
body{
    font-family: "Fira Sans", sans-serif;
    font-style : normal;
    font-weight: normal;
    font-size  : 16px !important;
    line-height: 30px !important;
    letter-spacing: 0.18px;
    color: #6A7180;
    overflow-x: hidden;
}
p {
    font-family: Fira Sans;
    font-style : normal;
    font-weight: normal !important;
    font-size  : 16px;
    line-height: 30px;
    letter-spacing: 0.18px;
    color: #4E535E;
}

p.smaller {
    font-size  : 14px;
    line-height: 1.64em;
}

main {
    display:block !important;
}
form div[role=group] input,
form div[role=group] button {
    width: 100%;
}
form div[role=group] {
    display      : flex;
    display      : -ms-flexbox;
    margin-top: 24px;
    margin-bottom: 24px;
    padding      : 43px 40px 23px;
}
form div[role=group] input {
    margin-right    : 12px;
    background-color: #FEF100;
    font-family     : "Fira Sans";
    color           : #999999;
    font-size       : 3.6rem;
    font-weight     : 500;
    line-height     : 1em;
    text-transform  : uppercase;
}
main .masthead__content {
    position : relative;
    max-width: 1228px;
    height: 100%;
    margin   : 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (max-width: 1023px) {
    main .masthead__content {
        padding-top: 37px;
    }
}

form div[role=group] input {
    padding      : 5px 12px;
    border-radius: 5px;
    color        : #000000;
    text-align   : center;
}

form div[role=group] input {
    background    : #FEF100;
    border        : 2px solid #0071F3;
    text-transform: uppercase;
    font-family: Fira Sans;
    font-style : normal;
    font-weight: bold;
    font-size  : 42px;
    line-height: 50px;
    text-align    : center;
    letter-spacing: 0.561108px;
    color: #999999;
}
form div[role=group] input::placeholder{
    color: #999999;
    font-weight: 700;
}
main .masthead__vps{
    position: relative;
}
main .masthead__vps .masthead__content {
    display  : flex;
    display  : -ms-flexbox;
    flex-wrap: wrap;
    max-width: 1228px;
    margin   : 0 auto;
    padding  : 49px 50px 62px;
}
main .page-section__content__columns article.m-work-box{
    margin-right: 48px;
    margin-bottom: 42px;
}
main .page-section__content__media-logos.hp-logos-list {
    position      : relative;
    margin-bottom : 0;
    padding-bottom: 0;
    border-bottom : none !important;
}
form div[role=group] input{
    border-radius: 10px;
}
form.form__quote {
    max-width: 700px;
    margin   : 0 auto;
}
form.form__quote div[role=group]{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 1023px) {
    main .masthead__vps .masthead__content {
        display: block;
        padding: 24px 50px 72px;
    }
    main .masthead__vps article{
        padding-left: 0;
        margin: auto;
    }
    main .masthead__vps article svg{
        float: none;
        width: auto;
        margin-left: 0
    }
    main .masthead__content{
       padding: 50px 15px 0;
    }
    main .page-section__content--video-hero article:nth-last-of-type(1) {
        padding-left: 48px;
    }
}

main .page-section__content--video-hero article {
    max-width          : 360px;
    margin-bottom      : 36px;
    padding-left       : 48px;
    background-image   : url('/images/ux/home/right.png');
    background-position: left top;
    background-repeat  : no-repeat;
    background-size    : 36px auto;
    text-align         : left;
}
main .page-section__content--video-hero article:nth-last-of-type(1) {
    margin-bottom   : 0;
    background-image:  url('/images/ux/home/right.png');
}

/*========= add new class css======== */
.gray-lite-bg{
    background: #DCE2ED !important;
}
.orange-bg{
    background: #FFAE00 !important;
}
.orange-light-bg{
    background: #DFB300 !important;
}
.gradient-bg {
    background: linear-gradient(180deg, #E05013 0%, #FF8932 100%) !important;
}
.radius-21{
    border-radius: 21px !important;
}
.color-orange{
    color: #e98728 !important;
}
.color-blue{
    color: #3192fd !important;
}
.color-blue-dark{
    color: #155cb1 !important;
}
.color-dark {
    color: #515050 !important;
}
.color-dark-m {
    color: #494949 !important;
}
.color-dark-light {
    color: #555555 !important;
}
.color-black {
    color: #000 !important;
}
.fs-28 {
    font-size: 28px !important;
}
.fs-20{
    font-size: 20px !important;
}
.fs-18 {
    font-size: 18px !important;
}
.fs-14 {
    font-size: 14px !important;
}
.lh-24{
    line-height: 24px !important;
}
.fw-500 {
    font-weight: 500 !important;
}
.fw-600{
    font-weight: 600 !important;
}
.fw-700 {
    font-weight: 700 !important;
}
.fw-800 {
    font-weight: 800 !important;
}
.fw-900 {
    font-weight: 900 !important;
}
.ls-22{
    letter-spacing: 0.22px !important;
}
.w-85{
    width: 85%;
}
.mt-30{
    margin-top: 30px;
}
.mb-16 {
    margin-bottom: 16px !important;
}
.go-btn{
    padding: 12px 28px 12px 28px !important;
    position  : relative;
    background: #464545 !important;
    color     : #fff !important;
    text-align   : center;
    font-weight: 700 !important;
    letter-spacing: 1.25px !important;
    border-radius: 10px !important;
    font-size: 20px !important;
}
.go-btn::after{    
    content       : ">";
    position: absolute;
    background: #FFAE00;
    color: #fff;
    right: 0;
    top: 0;
    display       : inline-flex;
    align-items: center;
    font-weight   : 900;
    height: 100%;
    padding: 0 15px;
    font-weight: 900;
    font-size: 24px;
    border-radius: 0 10px 10px 0;
}
.go-btn-2{
    padding       : 12px 24px 12px 24px !important;
    display: inline-block;
    width: auto !important;
    min-width: 100px;
    position      : relative;
    background    : #000000 !important;
    color         : #fff !important;
    text-align    : center;
    font-weight   : 700 !important;
    letter-spacing: 1.25px !important;
    border-radius : 10px !important; 
    font-size: 20px !important;
    background-image: none !important;
}
.main-btn {
    padding: 7px 20px;
    background: #FF9800;
    border-radius: 21px;
    font-style : normal;
    font-weight: normal;
    font-size  : 18px;
    line-height: 36px;
    text-align    : center;
    letter-spacing: 0.21px;
    color: #FFFFFF !important;
    text-decoration: none;
}

.main-banner {
    position  : relative;
    height    : 552px;
    background-image: url('/images/ux/home/banner-bg.png') !important;
    background-size: cover !important;
    background-position: center !important;
    overflow: hidden;
}

.compare-group{
    width: 400px;
    background: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 21px;
}
.left-img{
    position: absolute;
    z-index: 0;
    bottom: 8px;
    left: 10%;
}
.personal-info-needed {
    position: absolute;
    right   : -20px;
    bottom: 20%;
    z-index: 0 ;
    color   : #fff;
    padding : 24px 40px;
    width: 30%;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.5%;
    font-family: "Gotham";
    text-transform: capitalize;
    font-weight: 900;
}

.HowItWorks{
    height: 400px;
    margin-bottom: 200px;
}
.work-box{
    display       : flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #fff;
    padding: 90px 34px 30px;
    position: relative;
    margin-top: 115px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}
.work-box:hover {
    background: linear-gradient(180deg, #E05013 0%, #FF8932 100%);
    color     : #FFFFFF !important;
}
.work-box .work-img p{
    display: none;
}
.work-box:hover .work-img img{
    display: none;
}
.work-box:hover .work-img p{
    display: block;
}
.work-box:hover .work-img {
    width: auto;
}
.last-work-box.work-box:hover {
    background: #646464;
    color: #FFFFFF;
}
.last-work-box:hover .work-img {
    width: 70px;
}
.last-work-box.work-box:hover h3, .work-box:hover h3{
    color     : #FFFFFF !important;
}

.last-work-box.work-box:hover .on-hover, .off-hover{
    display: block;
}

.last-work-box.work-box:hover .off-hover, .on-hover {
    display: none;
}

.cricle-number{
    position: absolute;
    width   : 130px;
    height  : 130px;
    left    : 50%;
    top     : -65px;
    border-radius: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: #fff;
    background: linear-gradient(180deg, #E05013 0%, #FF8932 100%);
    box-shadow: 0px 4px 15px rgba(255, 107, 0, 0.4);
    transition: .5s;
}
.work-box:hover .cricle-number {
    color     : #000000;
    background: #fff;
}
.last-work-box.work-box .cricle-number{
    color: #000000;
    background: linear-gradient(180deg, #698a86 0%, #32FF46 100%);
}
.work-img{
    margin-top: 24px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
}
.work-img img{
    width: 100%;
}

.rating-block i{
    color: #DFB300;
}

@media (max-width: 1680px) {
    .left-img {
       bottom: 7px;
       left: 4%;
    }
}
@media (max-width: 1440px) {
    .left-img {
        left: -4%;
    }
}
@media (max-width: 1280px) {
    main .page-section__content__columns article.m-work-box {
        margin-right : 20px;
    }
    .left-img{
        bottom: 13px;
        width : 612px;
        left  : -4%;
    }
    .personal-info-needed {
        width      : 25%;
        bottom     : 24%;
        right      : -30px;
        font-size  : 30px;
        line-height: 45px;
    }
}
@media (max-width: 768px) {
    .go-btn-2 {
        width: 100% !important;
    }

    form div[role=group] input {
        margin-right: 0;
        font-size: 32px;
    }

    .personal-info-needed {
        display: none;
    }

    .compare-group {
        width         : calc(100% - 30px);
        background    : #fff;
        display       : flex;
        flex-direction: column;
        margin        : 0 auto;
        text-align    : center;
        border-radius : 21px;
    }

    .HowItWorks {
        height       : auto;
        margin-bottom: 30px;
    }

    .HowItWorks .page-section__content__columns__carousel-tape {
        width  : 100%;
        display: block;
    }

    article.m-work-box {
        width  : 100% !important;
        display: block;
        float  : none !important;
    }
    main .page-section__content__media-logos.hp-logos-list {
        position: relative;
        border : none !important;
        border-bottom: none !important;
    }

    main .page-section__content__media-logos::after {
        content         : "";
        position        : absolute;
        right           : 50px;
        bottom          : 0;
        left            : 50px;
        height          : 1px;
        background: none;
    }

    main .page-section__content__media-logos__carousel-tape img:first-of-type {
        margin-right: 71px;
        margin-left : 72px;
    }
    main .page-section__content__media-logos__carousel-tape img:nth-of-type(2) {
        margin-right: 64px;
        margin-left : 64px;
    }

    main .page-section__content__media-logos__carousel-tape img:nth-of-type(3) {
        margin-right: 36px;
        margin-left : 37px;
    }
    form.form__quote div[role=group]{
        width: 100%;
    }
    .m-direction-column{
        flex-direction: column;
    }
    .w-85{
        width: 100%;
    }
    .main-banner{
        height: 600px;
    }
    .left-img{
        display: none;
    }
    .HowItWorks .fs-28{
        font-size: 20px !important;
    }
    .homeQuote .fs-28{
        font-size: 24px !important;
    }
}