*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 62.5%;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

body {
    font: $fontweight $fontsize $fontfamily;
    margin: 0;
    min-height: 100%;
    height: 100%;
    position: relative;
    background-color: $offwhite;
}


body.partnerDashboard{
	background-color: #DBE0E9;
}

body.partner-website{
    background-color: #DBE0E9;
}

.clear:after,
.clear:before {
    content: ' ';
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: bottom;
    border: none;
}

p {
    margin: 0.25rem;
}

a {
    color: $orange;
}

.wrapper {
    @extend .clear;

    max-width: $lrg;
    width: 95%;
    margin: 0 auto;

    // @media (max-width: $lrg) {
    //     max-width: $med;
    // }
    // @media (max-width: $med) {
    //     max-width: $tablet;
    // }
    // @media (max-width: $tablet) {
    //     max-width: $exsm;
    // }
}

.wrapper-small {
    @extend .clear;

    max-width: $med;
    width: 95%;
    margin: 0 auto;

    // @media (max-width: $med) {
    //     max-width: $tablet;
    // }
    // @media (max-width: $tablet) {
    //     max-width: $exsm;
    // }
}

//grid system

.row {
    @extend .clear;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        width: 100% / 12 * $i;
    }
}

@media (max-width: 600px) {
    [class*='col-'] {
        width: 100%;
        margin: 0 auto;
    }
}

[class*="__container"] {
    @extend .wrapper;

    @extend .clear;
}

[class*="__container--small"] {
    @extend .wrapper-small;

    @extend .clear;
}

@media (min-width: $tablet) {
    .desktop-hide {
        display: none!important;
    }
}

@media (max-width: $mob) {
    .mob-hide {
        display: none;
    }

    .desktop-hide {
        display: block;
    }
}

.content {
    &--faded {
        z-index: -1;
        opacity: 0.25;
        pointer-events: none;
        cursor: not-allowed;

        a {
            z-index: -1;
            cursor: not-allowed;
            pointer-events: none;
        }
    }
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        margin: 1rem 0;
    }

    a {
        color: $black;
    }

    &--table {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: block;
            width: 50%;
            float: left;
        }
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    @media all and (max-width: $tablet) {
        overflow-x: scroll;
    }
}

tbody {
    border: none;
}

td,
th {
    padding: 0;
    text-align: left;
}

tbody > tr {
    border-top: 1px solid rgba($black, 0.25);
}

thead > tr > th {
    font-size: 1.25rem;
    font-weight: 300;
    color: rgba($black, 0.5);
}

body.front-page {
    #app {
        height: 100%;
    }
}

.grid-2-col {
    float: none;

    &__item {
        width: 48%;
        float: left;
        margin-right: 4%;

        &:nth-of-type(2n) {
            margin-right: 0;
        }

        @media (max-width: 850px) {
            width: 100%;
            margin-bottom: 1em;
            margin-right: 0;
        }
    }

    &--padding {
        .grid-2-col__item {
            width: 50%;
            float: left;
            margin-right: 0;
            padding-right: 2%;

            &:nth-of-type(2n) {
                padding-right: 0;
            }

            @media (max-width: 850px) {
                width: 100%;
                margin-bottom: 1em;
                padding-right: 0;
            }
        }
    }
}

.grid-3-col {
    &__item {
        width: 32%;
        float: left;
        margin-right: 2%;

        &:nth-of-type(3n) {
            margin-right: 0;
        }

        &:nth-of-type(3n+1) {
            clear: left;
        }

        @media (max-width: $sm) {
            width: 48%;
            margin-bottom: 1em;

            &:nth-of-type(3n) {
                margin-right: 2%;
            }

            &:nth-of-type(2n) {
                margin-right: 0;
            }

            &:nth-of-type(3n+1) {
                clear: none;
            }

            &:nth-of-type(2n+1) {
                clear: left;
            }
        }

        @media (max-width: 600px) {
            width: 100%;
            margin-right: 0;

            &:nth-of-type(2n+1) {
                clear: none;
            }
        }
    }
}
