// @import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,300,400,600,700");

// COLORS
$black: #000;
$offblack: #121212;
$white: #FFF;
$offwhite: #f8f8f8;

// BRAND
$orange: #f89a35;
$yellow: #ffed00;
$green: rgb(112, 206, 71);
$grey: #999;

$matrixBlue: #121e4f;
$matrixLightBlue: #00aeef;

// SOCIAL
$facebook: #365397;
$twitter: #00a9f1;
$linkedin: #006db3;
$google: #e0452c;
$instagram: #396d9a;
$tumblr: #304c68;
$youtube: #ff3333;

// ALIAS
$red: $google;

// MEDIA QUERIES
$lrg: 1450px;
$med: 993px;
$sm: 769px;
$mob: 600px;
$exsm: 481px;
$iphone: 321px;

// ALIAS THE SIZES FOR EASE OF READING
$desktop: $lrg;
$laptop: $med;
$tablet: $sm;
$phone: $exsm;

// FONTS
$fontfamily: "Poppins", sans-serif;
$fontsize: 16px;
$fontweight: 400;
$headingfont: "Poppins", sans-serif;

// ANIMATE CONFIG
// $use-fadeIn: true;
// $use-fadeInUp: true;
// $use-slideInRight: true;
// $use-slideInLeft: true;



// @font-face {
//     font-family: UKNumberPlate;
//     src: url("../fonts/uknumberplate-webfont.woff2") format("woff2"), url("../fonts/uknumberplate-webfont.woff") format("woff");
//     font-weight: 400;
// }